@charset "euc-jp";
/*
Title: smoking_white
Author: 186（一服中）
Access: http://d.hatena.ne.jp/smoking186/
	  http://smoking186.rocket3.net/
License: GPL
Comment: span.aaが何故かある。
	何故か印刷用のcssもある。
	NN4.xでも大体見られるらしい。
*/

body {
 background-color:#ffffff;
 color:#313131;
 line-height:1.3;
 margin:0;
 padding:0;
}

body * {
 font-size:100%;
 /* IE5.5以降 */
 word-wrap:break-word;
}

/* basic */
h1,h2,h3,h4,h5,h6 {
 margin:0px;
 padding:2px;
 width:auto;
 font-size:110%;
 border-bottom:1px solid #313131;
}

h1 {
 text-align:right;
 font-size:130%;
 margin:20px 30% 1em 1em;
}

h2 {
 text-align:right;
}

p {
 text-indent:1em;
 margin-top:0.5em;
 margin-bottom:0.3em;
}

/* a */
a {
 color:#b5b5b5;
 background-color:transparent;
 text-decoration:underline;
}

a:visited {
 color:#b5b5b5;
 background-color:transparent;
 text-decoration:underline;
}

a:hover {
 color:#b5b5b;
 background-color:transparent;
 text-decoration:none;
 border-bottom:1px dashed #b5b5b5;
}

blockquote {
 margin-left:1em;
 padding:5px;
 border-left:5px solid #313131;
}

blockquote cite {
 display:block;
 padding:3px;
 border-top:1px dashed #313131;
}

pre {
 background-color:#a0a0a0;
 color:#313131;
 padding:5px;
}

pre a {text-decoration:none;
 color:#313131;
 border:none;
}

ins {display:block;
 border-width:1px 5px 1px 5px;
 border-color:#313131;
 border-style:dashed solid dashed solid;
 text-decoration:none;
 padding:5px;
}

p ins,li ins {
 display:inline;
 padding:none;
}

/* img */
img {
 border:0;
}

img.photo {
 float:right;
 margin:20px;
 padding:3px;
 border-bottom:1px solid #313131;
 border-right:1px solid #313131;
}

/* others */
span.aa,div.comment p {
}

/* 各記事 */
div.day {
 margin-top:3em;
}

div.body,div.comment {
 margin-left:40%;
}
div.section {
 margin:2em 10px 20px 0px;
 padding:0px;
 border-bottom:1px solid #313131;
}

h3 span.timestamp {
 font-size:80%;
}

span.sanchor {
 font-size:0;
 text-decoration:none;
 padding:10px 10px 0 0;
 background:url("white.png") bottom right no-repeat;
}

div.calendar {
 font-size:70%;
 text-align:right;
}

div.section h3 {
 margin-left:-20%;
}

/* table周り */
td font {font-size:80%;}

/* calendar */
table.calendar td {font-size:80%;}
table.calendar td img {height:1em; width:1em;}
td.calendar-prev-month a,
td.calendar-current-month a,
td.calendar-next-month a {width:100%;}
td.calendar-sunday {color:red;}
td.calendar-saturday {color:blue;}

/* layout */
div.header {
 margin-left:1em;
 margin-right:30%;
}

div.header p,div.header li {
 text-align:right;
 font-size:80%;
}

div.main {
 margin-left:20px;
 margin-right:30%;
}

div.sidebar * {
 text-align:left;
}

div.footer {
 margin-top:5em;
 text-align:right;
 border-top:1px solid #313131;
}


/* menu */
div.sidebar ul {
 font-size:80%;
 margin-left:1em;
}

div.sidebar ul li {
 max-width:15em;
 min-height:10px;
 list-style-image:url("white.png");
 padding:1px 1px 1px 5px;
 margin-bottom:3px;
}

p.recentitem {
 text-indent:0;
}

div.recentsubtitles {
 font-size:80%;
}

/* omit NN4.x */
/* \*/ @media screen { /* */
div.sidebar {
 position:absolute; top:100px; right:10px; width:27%;
 padding:5px;
}
/* \*/ } /* */

/* omit NN4.x & MacIE5 */
@media screen {
 pre {
  width:80%;
  overflow:scroll;
 }
}

/* 印刷用 */
@media print {
 body * {
   color:#000000;
   background-color:#ffffff;
 }
 body,p,dd,ul,ol,table,td,tr,blockquote {
   font-size:10pt;
   line-height:130%;
 }
 h1,h2,h3,h4,dt,em,strong,th {
   font-weight:normal;
 }
 
 pre,code,kbd,samp {
  border:1px dashed #a0a0a0;
 }
 
 div.sidebar,object {
   display:none;
 }
 a:after {
   font-size:9pt;
   content: " [ " attr(href) " ] ";
 }
}
