@charset "euc-jp";
/*
Title: gray2
Revision: $Revision: 1.4 $
Author: naoko
Access: naoko@undefine.to
License: GPL
Comment: グレーな色のテーマ


validated by W3C.
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #ECEEF0;
	color: #222;
	margin:0;
}

/*
リンク文字列に関する設定
*/
a:link {
	background-color: transparent;
	color: #364287;
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	color: #364287;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	margin:0;
	background-color: transparent;
	background-image: url(gray2_bg.gif);
	color: #222;
	text-align: right;
	padding:4px;
	font-size: 90%;
	border-bottom:solid 1px #ccc;	
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	padding-right: 0.5em;
}

/*
日記タイトルの設定
*/
h1 {
	color: #777;
	background-color: #fff;
	text-align: right;
	margin:0;
	padding:16px 6px 14px 0;
}

/*
カレンダーの設定
*/
div.calendar {
	text-align: right;
	letter-spacing: 0.1em;
	background-color: #fff;
	color: #222;
	padding: 2px;
	line-height: 110%;
	font-size: 90%;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

div.calendar div.year {
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	background-color: #fff;
	color: #222;
	margin:12px;
}

/*
タイトル行全体の設定
*/
div.day h2 {
	margin: 0 0 0 0;
	padding:0 0 0 6px;
	background-image: url(gray2_bg.gif);
	border-top:double 3px #ccc;
	border-bottom:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

/*
日付の設定
*/
h2 span.date {
	font-size: medium;
}

/*
タイトルの設定
*/
h2 span.title {
	font-size: medium;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: transparent;
	color: #222;
	margin:0;
	padding:16px 0 0 16px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	margin:0;
	padding-bottom:18px;
}

/*
サブタイトルの設定
*/
h3 {
	font-size: medium;
	margin: 0em;
	font-weight: bold;
}

/*
その他の見出し(必要なら)
*/
h4 {
	margin: 2em;
	font-weight: bold;
	margin-bottom: 0em;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/

div.day span.sanchor {
	background-image: url(gray2_sanchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 14px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(gray2_canchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}


/*
日記の本文(段落)の設定
*/
div.section p {
	margin:6px 10px 0px 2px;
	line-height: 140%;
}
ul, ol {
	margin-left: 0em;
	padding-left: 0em;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	background-color: #fdfdfd;
	color: #222;
	font-size: 90%;
	margin: 6px 6px 0 6px;
	padding-top:4px;
	padding-left:4px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	background-color: transparent;
	color: #222;
	margin:0;
	padding:16px 0 0 16px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 90%;
	margin: 0px 6px 0 6px;
	padding-top:4px;
	padding-left:4px;
	padding-left:16px;
	border-bottom:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	margin: 0;
	padding-top:5px;
	line-height: 120%;
}

/*
ツッコミ本体
*/
div.commentbody {
	font-size: 90%;
	margin: 0 4px 0 4px;
	line-height: 120%;
}

/*
ツッコミした人の情報
*/
div.commentator {
	line-height: 150%;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin:0;
	padding: 0px;
	margin-left: 2em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: #fff;
	color: #222;
	margin:0;
	padding:16px 0 0 16px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

/*
フォームの設定
*/
div.form form {
	margin: 0;
	padding:10px;
}

div.form form.comment {
	font-size: 90%;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	background-color: #fdfdfd;
	color: #222;
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}
form.comment textarea {
	display: block;
	background-color: #fdfdfd;
	color: #000;
	margin-left: 3em;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin: 0 0 0 3em;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: right;
	font-size: 90%;
	padding: 0.4em 1em 1em 1em;
	line-height: 1em;
	margin:0;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	background-color: #fff;
	color: #000;
	margin:0;
	padding:16px 0 0 16px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 90%;
	margin: 0.5em 1em 0.5em 3em;
	line-height: 120%;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ccc;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	background-image: url(gray2_bg.gif);
	font-size: 80%;
	text-align: right;
	margin: 0px;
	padding:2px;
	border-top:solid 1px #ccc;
}

/*
更新フォーム
*/
form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	background-color: #fdfdfd;
	color:#222;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
}

/*
検索フォーム
*/

div.search_form {
	background-color: #fff;
	color: #222;
	margin:0;
	padding:6px 0 6px 16px;
}

form.search{
	background-color: #fff;
	color: #222;
	margin:0;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fff;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	border-style: solid;
	border-color: #dfdfdf;
	background-color: #fdfdfd;
	color:#222;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
	border-width: 1px;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border-style: dashed;
	border-color: #dfdfdf;
	border-width: 0 0 0 2px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px;
}
div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
箇条書きの設定
*/
div.body ul, div.body ol {
	margin-left: 10px;
}

/*
項目リストの設定
*/
div.section dl {
	margin-left: 3em;
	margin-right:8px;
}

div.section dt {
	margin-bottom: 0.2em;
	font-weight: bold;
	padding:2px;
	border-bottom:dotted 1px #ccc;
	border-top:solid 1px #ccc;
}

div.section dd {
	margin: 0em 0em 1em 0em;
	font-size:90%;
}

div.update {
	background-color: #fff;
	color:#222;
	border-top:solid 1px #ccc;
}

div.conf {
	border-bottom:solid 1px #ccc;
}

div.conf p{
	margin:0;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	background-color: #fff;
	color:#222;
	font-size: 80%;
	line-height: 110%;
	border-style: solid;
	border-color: #B1BCCD;
	border-width: 1px;
	margin-left: 1em;
}

table.calendar td {
	margin: 0px;
	text-align: center;
	padding: 0 3px 0 3px;
}

table.calendar td.image{
	background-image: url(gray2_bg.gif);
	height:8px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month,table.calendar td.calendar-day {
	text-align: center;
	background-color: #ECEEF0;
	color:#222;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
}

td.calendar-saturday {
	background-color: #bbf;
	color: blue;
}

td.calendar-weekday {
	background-color: #C0C0C0;
	color: #222;
}

/* calendar3 */

div.calendar3{
	font-size: 90%;
	line-height: 120%;
	padding: 2px;
	text-align: right;
}

.calendar-popup {
	background-color: #ECEEF0;
	color:#222;
	display: none;
	position: absolute;
	padding: 4px;
	text-align: left;
	border-color:#B1BCCD;
	border-width:1px;
	border-style:solid;
	
}

.calendar-day a{
	font-weight: bold;
}

.calendar-sunday {
	color: #f00;
	background-color: transparent;
}

.calendar-saturday {
	color: #00f;
	background-color: transparent;
}

.calendar-weekday {
	color: #222;
	background-color: transparent;
}
.calendar-todo {
	border-style: solid;
	border-color: #B1BCCD;
	border-width: 1px;
}


/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1em;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
	padding: 4px;
}

div.footnote {
	font-size: 90%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
	padding: 4px;
	margin: 0px 6px 0px 16px;
}

p.footnote {
	margin: 0.5em;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #ccc;
	float: left;
	margin: 0.5em;
}

img.right {
	border-width: 1px;
	border-color: #ccc;
	float: right;
	margin: 0.5em;
}

div.section, div.comment {
	clear: both;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 25%;
	background-color: #fff;
	border-left:dashed 1px #B1BCCD;	
	padding:0px;
}

div.sidebar {
	background-color: transparent;
	position: absolute;
	margin-top:8px;
	top:16px;
	left: 0px;
	width: 24%;
	padding: 0px;
}

div.sidebar p,div.sidebar h2 {
	color: #777;
	font-weight: bold;
	font-size:90%;
	line-height: 120%;
	margin: 4px;
	border-style: solid;
	background-color: #f7f7f7;
	border-color: #ddd;
	border-width: 1px;
	padding:2px;
}

div.sidebar ul{
	margin-left:8px;
	font-size:90%;
}
div.sidebar li{
	color: #777;
	font-weight: bold;
	font-size:90%;
	line-height: 120%;
	margin: 2px;
	border-style: solid;
	background-color: #f7f7f7;
	border-color: #ddd;
	border-width: 1px;
	padding:2px;
}

/*
関連するかもプラグイン
*/
div.body-enter{
	text-align:right;
	font-size:90%;
	padding:4px 6px 0 0;
}
