/*
        Title: Babypink
        Revision: 
        Author: epi
        Access: <http://episode2.tdiary.net/>
        License: GPL
        Comment: theme mintblueのpinkバージョン

        Copyright by epi All Rights Reserved.
       
        Modified by Nana <mpc@mikan.sakura.ne.jp>
        validated by W3C

--Change Log---
 2002-05-16 epi
        * add sidebar_left, sidebar_right, main_left, main_right
                  if (sidebar == left) sidebar_left + main_right
                  if (sidebar == right) sidebar_right +  main_left
        * calendar2  margin modified
*/
       
/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
color: #DB7093;
background-color:#FFF0F5;
font-family: Osaka, "MS Gothic", Verdana, sans-serif;
font-size: 1em;
text-align: left;
}

/* リンク */
a:link {
text-decoration:none;
color: #E67350;
background-color: transparent;
}
a:visited {
text-decoration:none;
color: #FF9C77;
background-color: transparent;
}
a:active, a:hover, a:focus {
text-decoration:underline;
color: #8b0000;
background-color: transparent;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
p.adminmenu {
text-align: right;
font-size: 0.9em;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
background-color: transparent;
color: #000000;
background-color: transparent;
border-style: solid;
border-color: #eee #BC8F8F #BC8F8F #eee;
border-width: 1px;
padding: 3px;
}
/*
日記タイトルの設定
*/
h1 {
text-align: center;
}

/*
カレンダーの設定
*/
p.calendar {
color: #FFC0CB;
background-color: #DB7093;
padding: 2px;
margin-bottom: 0.5em;
}
p.calendar a{
color: #FFE4E1;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
       margin: 0 2em 2em 2em;
}

/*
タイトル行全体の設定
*/
h2 {
color: #DB7093;
background-color: transparent;
border-color: #DB7093;
border-style:solid;
border-width: 2px 0px 2px 0px;
padding: 0.2em 0em;
font-size: 1em;
}

/*
日付の設定
*/
span.date {
color: #DB7093;
background-color: transparent;
font-size: 1.2em;
font-weight: bold;
margin-left: 0.5em;
}
span.date a:link{
color: #DB7093;
background-color: transparent;
}

/*
タイトルの設定
*/
span.title {
font-size: 1em;
font-style: normal;
color: #FF9C77;
background-color: transparent;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
color: #8b0000;
background-color: transparent;
padding-bottom: 1px;
}
/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
color: #F08080;
background-color:#FAF0E6;
border-color:#FF9C77;
border-style:solid;
border-width: 1.5px 0px 1.5px 0px;
padding: 4px;
font-size: 90%; 
margin: 0em 3em 0em 3em;
}

/*
サブタイトルの設定
*/
h3.subtitle {
color: #F08080;
background-color: transparent;
font-style: normal;
font-weight: normal;
font-size: medium;
}
div.day span.panchor {
font-weight: bold;
}

/*
日記の本文(段落)の設定
*/
div.section {
margin-left: 1em;
margin-bottom: 1em;
}

div.section p {
        margin-left: 1em;
        margin-bottom: 1em;
        line-height:1.5;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
background-color: #FAF0E6;
font-size: 0.9em;
padding: 2px;
padding-bottom: 1px;
margin-left: 10em;
}

/*
ツッコミ欄タイトル行の設定
*/
p.commenttitle {
background-color: #FFE4E1;
border-style: solid;
border-color: #BC8F8F;
border-width: 0px 0px 1px 0px;
text-align: right;
}

/*
ツッコミした人の名前の設定
*/
span.commentator {
border-style: solid;
border-color: #BC8F8F;
border-width: 0px 0px 1px 0px;
padding: 3px;
}

/*
リンク元リスト(短い方)の設定
*/
p.referer {
text-align: right;
font-size: 0.9em;
background-color: #FFE4E1;
border-style: solid;
border-color: #BC8F8F;
border-width: 0px 0px 1px 0px;
margin-left:10em;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
font-size: 0.9em;
background-color: #FFE4E1;
padding: 2px;
padding-bottom: 1px;
margin-left: 10em;
}

/*
リンク元リストタイトルの設定
*/
p.referertitle {
border-style: solid;
border-color: #BC8F8F;
border-width: 0px 0px 1px 0px;
}

/*
リンク元リスト一覧の設定
*/
ul.referer {
margin-top: 0em;
}

/*
罫線の設定
*/
hr {
border-style: solid;
border-width: 2px 0px 0px 0px;
border-color: #ddd;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
display: none;
}

/*
フッタの設定
*/
p.footer {
font-size: small;
text-align: right;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
background-color: transparent;
padding: 0.5em 1em 0.5em 1em;
text-align: right;
}

/*
入力フィールドの設定
*/
input.field {
background-color: white;
color: #000000;
}

/*
複数行入力フィールドの設定
*/
textarea {
background-color: white;
color: #000000;
margin-left: 1em;
width: 30em;
}

/*
エラーメッセージ表示の設定
*/
p.message {
text-align: center;
font-size: medium;
background-color: #FF9C77;
color: white;
padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
background-color: #DB7093;
color: #8b0000;
margin-left: 2em;
margin-right: 1em;
padding: 8px 8px 8px 8px;
}

/*
項目リストの設定
*/
dl {
margin-left: 2em;
}

dt {
margin-bottom: 0.2em;
}

dd {
margin-left: 1em;
margin-bottom: 0.5em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
width:10em;
float:right;
font-size: small;
line-height: 100%;
border-width: 2px;
border-color: #DB7093;
border-style: solid;
color: #FFC0CB;
background-color: transparent;
padding: 2px;
padding-bottom: 1px;
margin-top: 0.1em;
margin-right: 4px;
margin-left: 75%;
}

table.calendar td {
margin: 0px;
text-align: right;
padding: 0px;
margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
text-align: center;
}

/* recent_list */
p.recentitem {
font-size: 0.9em;
margin-top: 0px;
margin-bottom: 0px;
}

div.recentsubtitles {
font-size: 0.9em;
margin-top: 0px;
margin-bottom: 1em;
margin-left: 1em;
}

/* footnote */
div.body span.footnote {
vertical-align: super;
font-size: xx-small;
}
div.footnote {
border-style:solid;
border-color: #aaa;
border-width: 1px 0px 0px 0px;
margin-left: 10em;
font-size:0.9em;
}
div.footnote p.footnote {
text-align: right;
padding: 0em 0em 0em 0em;
margin: 0em 0em 0em 0em;
}


/* 以下個人用 */

ul {
 margin: 1em 2em;
}

/* sidebar */
div.rightmain {
margin-left: 20%;
}
div.leftmain {
margin-right: 20%;
}

div.leftsidebar {
background-color: transparent;
float: left;
width: 20%;
height:100%;
font-size: x-small;
padding: 2px 2px 100% 2px;
}

div.sidebar p {
line-height: 120%;
text-align: center;
margin: 2px 4px 2px 4px;
}

div.rightsidebar {
background-color: transparent;
float: right;
width: 20%;
height:100%;
font-size: x-small;
padding: 2px 2px 100% 2px;
}

