/*
Title: クリスマス
Author: Nana
Access: http://mikan.sakura.ne.jp/~mpc/
Comment: 
License: GPL

       xmas.css: X'mas Style Sheet of tDiary $Revision: 1.7 $
       Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc/
       Modified by TADA Tadashi

*/
/* ChengeLog
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
2002-03-16 Nana
	* color:gold >>> #ffd700,white >>>#fff,red>>>#ff0
	* font-family was deleted.     
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
       text-align : center;
       font-size: 1em;
       background-image: url(xmas_yuki.png);
       background-color: #000;
       color: #fff;
       border-style: none solid none solid;
       border-color: #006600;
       border-width: 30px;
    /* scrollbar property is only for IE. 
       scrollbar-face-color: #000;
       scrollbar-highlight-color: #000;
       scrollbar-3dlight-color: #000;
       scrollbar-darkshadow-color: #000;
       scrollbar-shadow-color: #000;
       scrollbar-arrow-color: #BDD6C6;
       scrollbar-track-color: #000;*/
}

a:link {
        text-decoration: none;
        color: #ffd700;
       /*font-weight:bold;*/
}

a:visited {
        text-decoration: none;
       /*font-weight:bold;*/
        color: #ffd700;
}

a:hover,a:active {
        text-decoration: underline overline;
        color: #008040;
}
/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: small;
	background-color: #F879AA;
	color: #fff;
	padding: 8px;
}
/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: transparent;
	padding: 3px;
        font-size: small;
}
/*
日記タイトルの設定
*/
h1 {
	text-align: left;
	font-size: small;
}
/*
カレンダーの設定
*/
div.calendar {
	font-weight: bold;
	text-align: left;
	padding: 5px;
        border-style: none;
	border-color: #000;
	border-width: 0px 0px 3px 0px;
        width:80%
}
/*
1日の日記全体を囲む枠の設定
*/
div.day {
	/*-moz-opacity:0.8;
        filter:Alpha(opacity=80);*/
        background-color: #000;
        color: #fff;
	margin: 3em auto 3em auto;
	text-align: left;
	clear: both;
	width: 80%;
       /* border-style: dotted;
	border-color: #fff;
	border-width: 3px;*/
	padding: 8px;
}

/*
タイトル行全体の設定
*/
h2 {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
	font-size: small;
        font-weight: bold;
}

/*
日付の設定
*/
h2 span.date {
	font-weight: bold;
	text-align: center;
}

/*
タイトルの設定
*/
h2 span.title {
	font-size: small;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
        font-size: small;
	margin: 0px auto 0px auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: left;
	color: #fff;
}

/*
日記の本文(段落)の設定
*/
div.section p {
        font-size: small;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

/*
サブタイトルの設定
*/
h3 {
	margin-top: 0.2em;
	margin-bottom: 0em;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: bold;
        font-size: small;
	clear: both;
}

pre {
	border-style: none;
	font-size: small;
	background-color: #fff;
        color: #005AC9; 
	border-color: #fcc;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px 5px 5px 5px;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	/*-moz-opacity:0.8;
        filter:Alpha(opacity=80);*/
        background-color: #000;
	font-size: small;
	text-align: left;
	padding-bottom: 1px;
	margin: auto 5px;
	border-style: dotted;
	border-color: #fff;
	border-width: 3px 0px 3px 0px;
}

/*
ツッコミ欄タイトル行の設定
*/
div.comment div.caption {
	text-align: right;
	position: relative;
	font-size: small;
	color: #fff;
	display: inline;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-style: none;	
}

/*
リンク元リストタイトルの設定
*/
div.refererlist div.caption {
	color: #000;
	text-align: left;
	background-color: #840000;
	border-style: none;
	border-color: #000;
	border-width: 3px;
        padding: 2px;
}

/*
リンク元リスト(短い方)の設定
*/
div.referer {
        background-color: #840000;
	text-align: center;
	color: #fff;
	font-size: small;
	padding: 2px;
	margin: 3px;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	font-size: small;
	text-align: right;
	padding-bottom: 1px;
	margin-top: 1em;
	border-style: solid;
	border-color: #000;
	border-width: 3px 0px 0px 0px;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	margin-top: 0em;
	text-align: left;
}

/*
罫線の設定
*/
hr {
	display: none;
}
/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
       /*-moz-opacity:0.8;
        filter:Alpha(opacity=80);*/
	background-color: #000;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
        border-width: 3px;
        border-color: #fff;
	border-style: dotted;
}

div.form form { 
        color: #fff;
	background-color: transparent;
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	width: 90%;
}

input.field {
        background-color: transparent;
	color: #fff;
	border-color: #fff;
	border-style: dotted;
}

input, select, option {
	background-color: transparent;
	color: #fff;
	border-color: #fff;
	border-style: dotted;
	clear: both;
}

textarea {
        background-color: transparent;
	color: #fff;
	border-color: #fff;
	border-style: dotted;
	width: 90%;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
        color: #ff0;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 0.9em;
        margin-left: 0.5em;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 0.9em;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
	padding-top: 0px;
	margin-top: 0px;
	color: green;
	clear: both;
        font-weight:bold;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/

div.form div.caption {
        font-size: 0.9em;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 0.9em;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: transparent;
        color: #fff;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: transparent;
        color: #fff;
        margin-left: 0em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.day.update div.form{
        border-style: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: transparent;
        color: #fff;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
/* 引用 */
blockquote {
	padding: 8px;
	border: ridge 3px white;
}

/* calendar2 */
       table.calendar {
       font-size: small;
       line-height: 100%;
       border: solid 2px green;			       		      
       padding: 3px;
       background-color: black;
       color: white;
}
table.calendar td a:link,a:visited{
       text-decoration: none;
}
table.calendar td {
       margin: 0px;
       text-align: right;
       padding: 0px;
       margin: 0px;
}
table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
        text-align: center;
}
