@charset "euc-jp";
/*
Title: WiLL
Revision: $Revision: 1.7 $
Author: ただただし
Access: http://sho.tdiary.net/

Copyright 2002 (C) by TADA Tadashi <sho@spc.gr.jp>
	validated by W3C.
*/
/* ChangeLog
2002-05-07 zoe <zoe@kasumi.sakura.ne.jp>
	* remove overflow.

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-28 TADA Tadashi <sho@spc.gr.jp>
	* no underline for links.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/

body {
	line-height: 120%;
	background-color: white;
	color: black;
}

a:link {
	color: #f80;
	background-color: white;
	text-decoration: none;
}

a:visited {
	color: #d60;
	background-color: white;
	text-decoration: none;
}

h1 {
	background-color: #f80;
	color: white;
	margin-bottom: 2px;
	padding: 8px;
	line-height: 100%;
}

h1 img {
	vertical-align: middle;
	border-width: 0px;
}

div.section p {
	color: black;
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

div.calendar {
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #f80;
	padding: 4px;
	font-size: small;
	line-height: 100%;
}

h2 {
	font-size: medium;
	border-style: solid;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
}

div.day h2 {
	font-size: medium;
	border-style: solid;
	border-color: #f80;
	border-width: 0px 0px 1px 8px;
	padding-left: 8px;
	padding-bottom: 4px;
}

h3 {
	font-size: medium;
	border-style: dashed;
	border-color: #f80;
	border-width: 1px;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding: 4px;
}

div.body {
	margin-left: 1em;
}

div.section pre {
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 6px;
	border-color: #f80;
/*	overflow: auto; */
	padding: 8px;
	margin-left: 2em;
}

div.comment {
	border-style: dashed;
	border-color: #f80;
	border-width: 1px;
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 1em;
	padding: 4px;
}

div.comment p {
	margin-top: 0px;
	margin-bottom: 0.5em;
}

div.comment p.commenttitle {
	border-style: dashed;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
}


div.form {
	border-style: dashed;
	border-color: #f80;
	border-width: 1px;
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

div.form form {
	margin: 0;
	padding: 4px 4px 4px 4px;
	width: 100%;
}

div.form p {
	margin-top: 0px;
	margin-bottom: 0.5em;
}

div.form textarea {
	width: 100%;
}

div.referer {
	text-align: right;
	font-size: x-small;
	margin-top: 0px;
}

div.refererlist {
	border-style: dashed;
	border-color: #f80;
	border-width: 1px;
	margin-top: 0px;
	margin-left: 1em;
	margin-bottom: 0.5em;
	font-size: small;
}

div.refererlist p, div.refererlist ul {
	margin-top: 0px;
	margin-bottom: 0em;
	padding: 4px 4px 4px 4px;
}

hr {
	color: #f80;
	background-color: transparent;
	margin-top: 0.5em;
}

hr.sep {
	display: none;
}

div.body dt {
	border-style: solid;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
	margin-top: 0.7em;
	font-weight: bold;
}

div.section dl {
	margin-left: 2em;
}

div.body dd {
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

dd.sample {
	border-style: solid;
	border-color: #f80;
	border-width: 1px 1px 1px 4px;
	padding: 0px 8px 0px 8px;
}

div.section dd {
	margin-left: 2em;
}

span.underline {
	border-style: solid;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
}

span.small {
	font-size: small;
}

div.article h2 {
	font-size: small;
	font-weight: normal;
	margin-top: 0px;
}

span.subject {
	font-weight: bold;
}

p.contents {
	margin-left: 1em;
}

p.navi a:link, p.navi a:visited {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #f80;
}

address, div.footer {
	font-style: normal;
	text-align: right;
	font-size: small;
}

p.sample {
	line-height: 1.3em;
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #f80;
	margin-left: 2em;
	padding: 4px;
}

div.sample {
	line-height: 1.3em;
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #f80;
	margin-left: 2em;
	padding: 4px;
}

div.sample pre {
	line-height: 1.3em;
	color: black;
	background-color: white;
	padding: 4px;
}

p.sample em {
	color: #f80;
	background-color: white;
}

table {
	margin-bottom: 1em;
	background-color: #f80;
	color: black;
}

th {
	background-color: #fb3;
	color: black;
	padding: 0.2em;
	text-align: left;
}

td {
	background-color: white;
	color: black;
	padding: 0.2em;
}

table.calendar {
	font-size: smaller;
	line-height: 100%;
	border-width: 0px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.0em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
	display: inline;
	border-style: solid;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin-top: 0.5em;
}

div.comment div.caption {
        margin: 0em 0.5em;
	border-style: dashed;
	border-color: #f80;
	border-width: 0px 0px 1px 0px;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 0em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        margin-left: 0em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 0em;
}

/*
更新フォーム
*/
div.day.update {
	border-style: dashed;
	border-color: #f80;
	border-width: 1px;
}

div.day.update div.form {
        border-style: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 0em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 0em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
