@charset "euc-jp";
/*
Title: Check
Revision: $Revision: 1.15 $
Author: Nana
Access: <clorets@estyle.ne.jp>
License: GPL
        Copyright 2002 (C) by Nana <clorets@estyle.ne.jp>
	validated by W3C.
*/

body {
	/*text-align : center;*/
	background-image: url(check.jpg);
	background-color: #FFFFFF;
	color: #800040;
}

a:link {
	text-decoration: none;
	background-color:transparent;
	color: #FFA500;
	font-weight:bold;
}
a:visited {
	text-decoration: none;
	background-color:transparent;
	color: #FFA500;
}
a:hover,a:active {
	text-decoration: none;
	background-color:transparent;
	color: #E9D1CD;
}

div.adminmenu {
	text-align: right;
	font-size: 90%;
}

p.message {
	text-align: center;
	font-size: 90%;
	background-color: red;
	background-color:transparent;
	color: white;
	padding: 8px;
}

span.adminmenu {
	padding: 3px;
	font-size: 90%;
}

h1 {
	text-align: left;
}

div.calendar {
	font-size: 90%;
	font-weight: bold;
	background-color: #E2D8F0;
	color: #800040;
	text-align: left;
	padding: 2px;
	border-style: dashed;
	border-color: #E9D1CD;
	border-width: 3px;
}

div.day {
	background-color: #fff;
	color: #800040;
	margin: 3em auto 3em auto;
	clear: both;
	width: 80%;
	border-style: dashed;
	border-color: #E9D1CD;
	border-width: 4px;
	padding: 0px 8px 0px 8px;
}

h2 {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
	font-size: 120%;
	font-weight: bold;
}

h2 span.date {
	font-weight: bold;
	position: relative;
	font-size: 120%;
	text-align: right;	
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
	padding-bottom: 0em;	
}

h2 span.title {
	font-size: 90%;
}

div.body {
	background-color: #FFF; 
       	margin: 0px auto 0px auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: left;
	color: #00007F;
}

div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

p.sentence {
	margin-left: 12px;
	margin-right: 12px;
	line-height: 1.2;
	border-style: none;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
}

h3 {
	margin-top: 0.2em;
	margin-bottom: 0em;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: bold;
	font-size: 100%;
	clear: both;
}

span.anchor {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 12px;
	margin-right: 12px;
	font-weight: bold;
	font-size: 90%;
	float: left;
}

pre {
	border-style: dashed;
	border-width: 2px;
	background-color: #F5F5F5;
	border-color: #fcc;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px 5px 5px 5px;
}

div.comment {
	font-size: 90%;
	clear: both;
	text-align: left;
	padding-bottom: 1px;
	margin: auto 5px;
	border-style: dashed;
	border-color: #E9D1CD;
	border-width: 3px 0px 0px 0px;
}

div.comment div.caption {
	text-align: left;
	/*position: relative;*/
	font-size: 90%;
	background-color: #FFF;
	color: #800040;
	display: inline;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-style: none;	
}


p.comment {
	font-size: 90%;
	text-align: left;
	background-color: #FFF;
	color: #800040;
	padding: 0px 0px 0px 0px;
	margin-left: 24px;
	margin-right: 12px;
	margin-top: 0px;
	margin-bottom: 2px;
	line-height: 1.0;
}

div.refererlist div.caption {
	color: #999;
	background-color: #fff;
	text-align: right;
	display: inline;
	position: relative;
	top: -10px;
	left: -20px;
	border-style: dashed;
	border-color: #E9D1CD;
	border-width: 3px;
	padding: 4px;
}

div.referer {
	display: inline;
	text-align: right;
	background-color: #FFF;
	color: #999;
	position: relative;	
	font-size: 90%;	
	padding: 2px;
	border-style: none;
	border-color: #E9D1CD;
	border-width: 3px;
}

div.refererlist {
	font-size: 90%;
	text-align: right;
	padding-bottom: 1px;
	margin-top: 1em;
	border-style: dashed;
	border-color: #E9D1CD;
	border-width: 3px 0px 0px 0px;
}

div.refererlist ul {
	margin-top: 0em;
	text-align: left;
}

hr {
	border-style: dashed;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}


div.footer {
	font-size: 90%;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
	background-color: #FEE4F8;
	color: #800040;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	border-style: none;
	border-color: #E9D1CD;
	border-style: dashed;
}

div.form form {
	color: #800040;
	background-color: transparent;
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	width: 90%;
}

input.field {
	background-color: #FFF;
	color: #00007F;
	border-color: #E9D1CD;
	border-style: solid;	
}

input, select, option {
	border-color: #E9D1CD;
	border-style: solid;	
	clear: both;
}

textarea {
	background-color: #FFF;
	color: #800040;
	border-color: #E9D1CD;
	border-style: solid;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/* calendar2 */
table.calendar {
	font-size: 90%;
	line-height: 100%;
	border-style: dashed;
	border-color: #fff;
	border-width: 4px;
	margin-left :auto;
	margin-right :auto;
	background-color: #E2D8F0;
	padding: 2px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

div.body blockquote {
        color: #800040;
	background-color: #fff;
	border-color: #E2D8F0;
	border-style: dashed;
	border-width: 2px 0px 2px 0px;
	padding: 0.5em;
        margin-left: 3em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        /*margin: 0em 0em 0em 2em;*/
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: #FFF;
        color: #00007F;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: #FFF;
        color: #800040;
        /*margin-left: 3em;*/
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day {
     background-color: #FEE4F8;
     color: #800040;
}

div.update.day div.form {
	border: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: #FFF;
        color: #800040;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        /*margin-left: 3em;*/
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	border-style: dashed;
	border-color: #eee;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/*
引用ソースの表示
*/
p.source{
	margin-right: 1.5em;
        margin-top: 0px;
	text-align: right;
	font-size:90%;
        line-height: 24px;
        font-style: italic;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	text-align: center;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #0080FF;
	background-color: transparent;
}

.calendar-weekday {
	color: #555555;
	background-color: transparent;
}
.calendar-todo {
	border-style: solid;
	border-color: #1E90FF;
	border-width: 1px;
}
