@charset "euc-jp";
/*
Title: Futaba
Revision: $Revision: 1.3 $
Author: Nana
Access: <clorets@estyle.ne.jp>
License: GPL
Comment: 枠丸テーマの春向けバージョン

	Copyright 2003 (C) by Nana <clorets@estyle.ne.jp>	
	validated by W3C.
*/

/*
ページ全体の基本的な設定,背景色や文字色など
*/
body {
	background-color: #f7ffee;
	color: #999;
	padding: 0.2em 0em;
	margin: 1em 10%;
}

/*
リンク文字列に関する設定
*/
a:link {
	text-decoration: none;
	color: #66cc00;
	background-color: transparent;
}

a:visited {
	text-decoration: none;
	color: #66cc00;
	background-color: transparent;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: 90%;
}

/*
カレンダーの設定
*/
div.calendar {
	text-align: left;
	font-size: 90%;
	padding: 2px;
	margin-top: 0.5em;
	background-color: #e6ff99;
	color: #555;
}
div.calendar div.year {
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	padding: 2px;
}

/*
日記タイトルの設定
*/
h1 {
	color: #888;
	background-color: transparent;
	text-align: left;
	font-style: italic;
	font-size: 180%;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	text-align: left;
	padding: 0px;
	margin: 2em 0em;
	background-image: url(rb.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #FFCC66;
	color: #555;
}

div.section a:link,div.section a:visited{
	color: red;
	background-color: transparent;
}
div.section a:hover{
	text-decoration: underline;
	background-color: #ff00bf;
	color: #fff;
}
/*
タイトル行全体の設定
*/
h2 {
	margin: 0px;
	padding: 0px 1em 0px 0px;
	text-align: right;
	background-image: url(rt.png);
	background-position: right top;
	background-repeat: no-repeat;
	font-size: 120%;
	line-height: 1.5em;			
}

/*
日付の設定
*/
h2 span.date {
	font-weight: bold;
	font-size: 120%;
	display: block;
	text-align: center;
	background-image: url(lt.png);
	background-position: left top;
	background-repeat: no-repeat;
	line-height: 1.5em;
}

h2 span.date a:link, h2 span.date a:visited {
	color: #555;
	background-color: transparent;
}

/*
タイトルの設定
*/
h2 span.title {
	margin-left: 2em;
	padding: 0px;
	font-weight: normal;
	font-size: 100%;
}
h2 span.nyear{
	font-size: 80%;
	font-weight: normal;
}
/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	text-align: left;
	padding: 0px;
	margin: 0px;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	margin: 0em 1em;
	
}

/*
サブタイトルの設定
*/
h3 {
	padding: 0.3em;
	margin: 0px;
	font-weight: bold;
	font-size: 100%;
	background-image: url(sanchor.png);
	background-position: right top;
	background-repeat: no-repeat;
	border-bottom: 2px dashed #f7ffee;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/

div.day span.sanchor {
	background-image: url(sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 27px 21px 0px 0px;
	color: #FFCC66;
	background-color: transparent;
	font-size: 1px;
}
/*
div.day span.canchor {
	background-image: url(canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 20px 20px 0px 0px;
	color: #555;
	background-color: transparent;
	font-size: 1px;
}
*/

/*
日記の本文(段落)の設定
*/
div.section p {
	line-height: 1.4em;
	padding: 0em 1em 0em 1em;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	background-color: #e6ff99;
	color: #555;
	text-align: center;
	padding: 2px 0px;
	margin: 0px;
	
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	font-size: 90%;
	text-align: left;
	margin: 0px 1em;
	padding: 0px;
	line-height: 140%;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 90%;;
	margin-left: 1em;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 130%;
}

/*
ツッコミ本体
*/
div.commentbody {
	margin: 2px 8px;
}

/*
ツッコミした人の情報
*/
span.commentator {
	font-weight: bold;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	text-align: left;
	padding: 4px;
	margin: 0em;
}

div.form div.caption {
	background-color: #eee;
	color: #000;
	text-align: left;
	padding: 3px;
	margin: 0.5em 1em;
}

/*
フォームの設定
*/
div.form form {
	margin: 0em 0em 0em 4px;
}

div.form form.comment {
	font-size: 90%;;
}

div.field {
	display: inline;
}
form.comment input {
	background-color: #eee;
	color: #000;
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}

form.comment textarea {
	display: block;
	background-color: #eee;
	color: #000;
	margin-left: 3em;
	width: 25em;
	height: 5em;
}

div.button {
	display: block;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: center;
	font-size: 90%;
	padding: 10px 8px;
	margin: 0px;
	background-image: url(lb.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	font-size: 90%;
	text-align: left;
	padding: 10px 8px;
	background-image: url(lb.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	margin-top: 3px;
}

/*
罫線の設定
*/
hr {
	border-style: none;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: 90%;
	text-align: center;
}

/*
更新フォーム
*/
div.day.update {
	padding: 0px;
}

div.day.update div.form div.caption {
	background-image: url(lt.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0px;
	border-style: none;
	padding-left: 20px;
}

div.day.update div.form {
	background-image: url(rt.png);
	background-position: right top;
	background-repeat: no-repeat;
	padding: 0px;
}

form.update div {
	padding: 0px;
	margin: 0px 1px;
}

form.update input, form.update textarea, form.commentstat input {
	background-color: #eee;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 25em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
}

div.day.conf h2 span.title {
	display: block;
	text-align: left;
	margin: 0px;
	padding-left: 1em;
	background-image: url(lt.png);
	background-position: left top;
	background-repeat: no-repeat;
}

div.day.conf div.body {
	padding: 8px;
	background-image: url(lb.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	 
}
div.conf.day textarea {
	display: block;
	margin-bottom: 1em;
	width: 30em;
	height: 15em;
}
/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: medium;
	background-color: #555;
	width: 66%;
	color: #888;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px;
	background-color: #ffdddd;
	border-left: 8px solid #ff3333;
	color: #000;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border-style: ridge;
	border-color: #D8BFD8;
	border-width: 4px;
	margin-left: 2em;
	padding: 5px;
}
div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}
/*
引用ソースの表示
*/
p.source{
	margin-top: 0em;
	margin-right: 1.5em;
	text-align: right;
	font-size:90%;
}
/*
箇条書きの設定
*/
div.section ul, div.section ol {
	margin-left: 2.5em;
	margin-right: 2em;
	color: #333;
	background-color: #ffd5aa;
}
ul {
	list-style-type: square;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 5em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin: 0em 3em 0.5em 1em;
}

/*
 いくつかのメジャーなプラグイン対応
*/

/* recent_list */
p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
        
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 0.5em;
        padding-bottom: 0px;
}

/* calendar2 */
table.calendar {
	font-size: 90%;
	line-height: 1.1em;
	margin: 2px auto;
	background-color: #e6ff99;
	color: #555;
}

table.calendar td {
	text-align: right;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: xx-small;
}

div.body div.footnote {
	font-size: x-small;
	padding: 0px;
	background-color: #eee;
	color: #888;
	margin: 0px 1.5em 0px 6em;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	font-size: small;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #DA70D6;
	background-color: transparent;
}

.calendar-saturday {
	color: #1E90FF;
	background-color: transparent;
}

.calendar-weekday {
	color: #555555;
	background-color: transparent;
}
.calendar-todo {
	border-style: dashed;
	border-color: red;
	border-width: 1px;
}
p.big {
        font-size:20pt;
        color: blue;
        background-color: transparent;
}
.attention {
        color: red;
        background-color: transparent;
}
form.search{
	text-align: left;
	margin: 0px;
}
table,td{
	border: none;
	font-size: 90%;
	margin: 5px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
/* counter */
div.counter p{
	font-size: 13px;
	text-align: center;
}
