@charset "euc-jp";
/*
Title: Double
Revision: $Revision: 1.9 $
Author: zoe
Access: http://www.kasumi.sakura.ne.jp/~zoe/
License: GPL
Comment: 二重枠多用のシンプル系

	Copyright by (C) zoe http://www.kasumi.sakura.ne.jp/~zoe/
	validated by W3C.
 */
/* ChangeLog
2002-09-15 NT <nt@24i.net>
        * convert for 1.5 series.

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/

div.rank {
	font-size: 60%;
	text-align: left;
	margin: 0em;
}

a:link {
	text-decoration: none;
	color: #a00;
}
a:visited {
	text-decoration: none;
	color: #e44;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #008;
}

body {
	background-color: #fff;
	color: #000;
}

div.adminmenu {
	text-align: right;
	font-size: small;
	float: right;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: #fff;
	width: 66%;
	color: #888;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

div.calendar {
	background-color: transparent;
	border-style: none;
}

div.day {
	text-align: right;
	padding: 0.5em;
	padding-bottom: 0em;
	padding-top: 0em;
	margin: 0em;
	margin-bottom: 2em;
	border-style: double;
	border-color: #6a2;
	border-width: 8px;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-right: 12px;
	padding: 0em;
	text-align: right;
}

h2 span.date {
	color: #6a2;
}

div.body {
	background-color: transparent;
	text-align: left;
	padding: 0.1em;
}
/* This ">" selector does not affect IE */
div.day div.section > * {
	margin-left: 100px;
}

h3 {
	margin: 0em ! important;
	padding: 0em;
	font-weight: bold;
	font-size: medium;
	border-style: double;
	border-color: #e00;
	border-width: 0px 0px 3px 0px;
}

div.section p {
	line-height: 1.3em;
	margin-left: 100px;
}

div.day span.sanchor {
	background-image: url(double_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 19px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(double_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 12px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

pre {
	margin-left: 100px;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border-style: double solid double solid;
	border-color: #e00;
	border-width: 3px 1px 3px 1px;
}

div.comment {
	font-size: small;
	text-align: left;
	padding: 2px;
	padding-bottom: 1px;
}

div.comment p{
	margin-left: 100px;
}

div.comment div.caption {
	text-align: left;
	margin-left: 0em ! important;
	border-style: double;
	border-color: #0e0;
	border-width: 0px 0px 3px 0px;
}


div.refererlist div.caption {
	border-style: double;
	border-color: #e00;
	border-width: 0px 0px 3px 0px;
}

div.referer {
	text-align: right;
	font-size: small;
	color: #000;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	text-align: left;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
}

ul {
	margin-top: 0em;
	margin-left: 100px;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
}

div.form {
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	margin-left: 100px;
}

div.form {
	width: 90%;
}

input.field {
}

input, select {
        background-color: #fff;
	border-style: double solid double solid;
	border-color: #0e0;
	border-width: 3px 1px 3px 1px;
}

textarea {
	margin-left: 1em;
	border-style: double solid double solid;
	border-color: #0e0;
	border-width: 3px 1px 3px 1px;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

li {
	list-style-type: none;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #0e0;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #0e0;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
