charset "euc-jp";


html {
	margin:0;
	padding:0;
	border:none;
}

html *{
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

body         { 
	font-size: 100%; 
	/* MacIE5 \*/ 
	letter-spacing: 1px;
	/*  */
	font-family: Verdana, Osaka, sans-serif; 
	line-height: 1.5; 
	color: #000000; 
	background-color: #8AB6F8; 
	text-align: center;
	margin: 0; 
	padding: 0;

	word-break: break-all ;
	word-wrap: break-word ;

}

body{
	position: relative ;
	width: 735px ;
	max-width: auto ;
	margin: 0 auto;
	padding: 0;

}

.main{
	padding: 0px;
	margin: 0 0 0 195px;
}


h1 {	
	width: 680px;
	font-family: 'Comic Sans MS',sans-serif;
	text-align: left;
	margin: 0 auto;
	padding: 40px 0;
	font-size: 250%;
	line-height: 1.5;
	letter-spacing: 0.1em;
	color: #ffffff;
}


div.day {
	margin: 0 auto 15px auto;
	padding: 0 0 20px 0;

	width: 540px ;
	background-image: url("waku3.gif");
	background-position: bottom left;
	background-repeat: no-repeat;

}

h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #000000;

}

h2 {
	font-family: 'Comic Sans MS',sans-serif;
	font-size: 120%;
	font-weight:bold;
	margin: 0;
	padding: 12px 12px 6px 12px;
	text-align:left;
	background-image: url("waku1.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

span.date{
	letter-spacing: 0px;

}

span.title{
	font-size: 100%;
	letter-spacing: 1px;
	font-family: Verdana, Osaka, sans-serif; 
	font-weight: bold;
	margin-left: 15px;
}

div.body {
	
	padding: 10px 0 0 0;
	margin:  0;
	text-align: left;
	background-image: url("waku2.gif");
	background-position: top left;
	background-repeat: repeat-y;
	width: 100% ;
}

div.day > div.body {
  	padding-bottom: 1.1em;
}


div.section{
	margin: 0 15px 12px 15px;
	border-bottom: solid 1px #ffffff;
}

div.section P {	
	margin: 1em;
	padding: 0;
}

h3 {	
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	margin:0;
	padding: 0;
	text-align:left;

}

h3 a{
    border: none;
}

a.sectioncategory{
	
}

span.sanchor{
	color: #8AB6F8;
	margin:0;
}

span.timestamp{
	font-size:70%;
	font-weight: normal;
	letter-spacing: 0px; 
}


/******************* decoration ************************/

a{
	text-decoration: none;
	color: #000000;
	border-bottom:solid 1px #000000;
}

a.keyword, 
a.okeyword{
	text-decoration: none;
	border-bottom: dotted 1px #d0d0d0;
}

a img{
	border: none;
}

a:link{}
a:visited{} 
a:hover{
	color: #ff0000;
}
a:active{} 

h4 {	
	color: #000000;
   	font-size:100%;
   	font-weight: bold;
	margin: 7px 0;
	padding: 0 0 0 5px;
	border-left: solid 2px #8AB6F8;
	text-align:left;
	word-break:break-all;
}

blockquote{
	border: solid 1px #8AB6F8;
	margin: 1em;
	padding: 7px;
}

.section blockquote p{
	margin: 7px;
	padding: 0;
}

cite{
	font-weight: bold;
	font-style: normal;
}

pre	{
	border: dotted 1px #8AB6F8;
	margin: 1em;
	padding: 1em;
}

font{
	line-height: 1.2;
}

em,
em a{
	font-weight: normal;
	font-style: normal;
	border: none;
	background-color: #8AB6F8;
}

ins,
ins a{
	text-decoration: none;
	border: none;
	color: #666666;
}

/************************* list **********************/

.section ul{

}

.section ul li {

}

.section ul ul{

}

.section ol {

}

.section dl{
	margin: 1em;
}

.section dt{
	font-weight: bold;
}


/********************** img ***************************/

img.photo{
	float: right;

	position: relative;
	margin: 0 2em 10px 10px;
	border: 0;
}

img.asin{
	float: right;
	position: relative;
	margin: 0 0 10px 10px;
	border: 0;
}

/********************* footnote **********************/

span.footnote{
	font-size: 70%;
}

span.footnote a{
	border: 0;
}

div.footnote{
	margin: 1em 2em;
}

p.footnote{
	margin: 0;
	font-size: 90%;
}

/********************** comment ***********************/

div.comment,
div.refererlist,
div.form {
	background-image: url("waku2.gif");
	background-position: top left;
	background-repeat: repeat-y;
	text-align: left;
	padding: 5px 15px 0 15px;
	margin: 0;
}

div.refererlist ul{
	margin: 0 2em;
	padding: 0;
	list-style-type: square;
	font-size: 80%;
	letter-spacing: 0px;
}

form div.refererlist ul{
	font-size: 100%;
	letter-spacing: 1px;
}

div.caption{
	font-size: 80%;
	padding: 0;
	margin: 0;
}

form div.refererlist div.caption{
	font-size: 100%;
	padding: 0 0.5em;
	margin: 0;
}



div.caption a{
        border: none;
}

div.commentshort{
	margin: 0;
	padding: 0;

}
div.commentshort textarea{
	width: 100%;
}

span.canchor{
	display: none;
}

div.commentshort a{
	border: none;
}

span.commentator{
	font-weight: bold;
	display:block;
	margin: 0 0 0 -1em;
}

form span.commentator{
	display: inline;
	margin: 0;
}

div.commentshort P
{
	margin: 5px 0 0 1em;
	font-size: 90%;
	letter-spacing: 0px; 
}


/*************** trackback/comment module ****************/

.hatena-modulebody ul.hatena-recentcomment li a{
	display: inline;
	width: auto;
	padding: 0;
	margin: 0;
	border: none;
}

.hatena-modulebody ul.hatena-recentcomment li a:hover{
	width: auto;
	border: none;
}


/******************asin detail***********************/

div.hatena-asin-detail {
	margin: 1em 1em;
	padding: 10px;
	border: solid 1px #8AB6F8;
	_width: 100%;
}

img.hatena-asin-detail-image {
	float: left;
	border: 0;
	margin: 0 10px 0 0 ;
}

div.hatena-asin-detail-info{
	float: left;
	margin: 0;
	word-break: break-all;
}

.section p.hatena-asin-detail-title{
	font-weight: bold;
	width: 100%;
	margin: 0;
}

div.hatena-asin-detail-info ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}


div.hatena-asin-detail-info li {
	margin: 0;
	padding: 0;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail-foot {
	clear: left;
}

/************************ form **********************/

form{
	margin: 0;
	padding: 0;
}

form.hatena-searchform{
	margin: 5px 0;
}

div.day form{
	width: 540px;
	margin: 0;
	padding: 0;
}

div.day form div.body{
	margin: 0;
	padding: 0 15px;
}


div.day textarea{
	width: 80%;
}

textarea,
input{
	letter-spacing: 0px;
}

/********************** sidebar ***********************/

.sidebar {
	position: absolute;
	top: 10px; 
	left: 0px;
	width: 180px;
	padding: 0;
	margin: 0 ;
	font-size: 90%;
	text-align: left;
	border: none;
}

.hatena-module{
	margin:0 0 15px 0;
	padding: 0 0 20px 0;
	background-image: url("wakus3.gif");
	background-position: bottom left;
	background-repeat: no-repeat;
	text-align: left;
	width: 100% ;
}

.hatena-moduletitle,
.hatena-moduletitle a{
	border: none;
	color: #000000;
	letter-spacing: 0px;
	font-weight: bold;
}

.hatena-moduletitle{
	font-family: 'Comic Sans MS',sans-serif;
	font-size: 120%;
	padding: 12px 12px 7px 12px;
	margin: 0px;
	text-align: left;
	background-image: url("wakus1.gif");
	background-position: top left;
	background-repeat: no-repeat;

}

.hatena-modulebody{
	padding: 0px 13px 0 13px;
	margin: 0;
	font-size: 90%;
	width:100%;
	background-image: url("wakus2.gif");
	background-position: top left;
	background-repeat: repeat-y;
}

.hatena-modulebody a{
	border: none;
}

/********************** sideber li **********************/


.hatena-modulebody ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.hatena-modulebody li {

}

.hatena-modulebody li a{
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

.hatena-modulebody li a:hover {
	color: #ff0000;
	border: 0;
	width: 100%;
}



/******************* photo module *******************/


ul.hatena-photo{
	padding: 0;
	margin: 0;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-photo li{
	margin: 0;
	display: inline;
	width: none;
	
}

ul.hatena-photo li img{
	
}

ul.hatena-photo li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
}

ul.hatena-photo li a:hover{
	width: 48%;
	background-image: none;
}

ul.hatena-photo li a img{
	filter: none;
	border: 1px solid #999999;
}

ul.hatena-photo li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}


/********************** calender **********************/

div.calendar {
	font-size:80%;
	color: #ffffff;
	margin: 0 ;
	width: 550px;
	padding: 0;
	text-align: right;
}

div.calendar a{
	border: none;
	color: #ffffff;
}

.main div.calendar{
	width: auto;
	text-align: right;
}

.sidebar div.calendar{
	width: auto;
	text-align: left;
}




/********************** header **********************/

table        { 
	background-color : transparent;
	margin: 0; 
	padding: 0; 
}

td 
{
 	background-color : transparent;
}

table table td{
 	background-color : transparent;
}

table table{
	margin: 0;
	padding:0;
	border: none;
	border: 0;
	background-image: none;
	background-color : transparent;
}

table table td font, 
table table td a{
	border:none;
	color: #ffffff;
}

table a{
border: none;
}

table input{
	border: 0;
	background-color : #ffffff;
	color: #000000;
}

/********************** calendar2 **********************/

div.calendar2{
	padding: 10px 0 0 0;
	text-align: center;
}

table.calendar{
	font-size: 100%;
	letter-spacing: 0px;
	_width: 100%;
	margin: 0 auto;
	padding:0;
	background-color: #ffffff;
	border: none;
	background-image : none;
	background-repeat: no-repeat;
	text-align: right;
	
}

td.calendar-current-month{
	font-weight: bold;
}

td.calendar-prev-month,
td.calendar-current-month,
td.calendar-next-month{
	text-align:center;
}

td.calendar-day {

}
td.calendar-day a{
	border-bottom: 1px solid #000000;
}

td.calendar-weekday,
td.calendar-sunday,
td.calendar-saturday{
	display:none;
}

td.calendar-day img {
	width: 12px;
	height: 12px;
	border: 0;
}


/************************ other ****************************/

div.adminmenu{
	text-align: right;
	width: 710px;
	padding: 0;
	margin: 1em auto;
	font-size: 80%;
	color: #ffffff;
}

div.adminmenu a{
	border: none;
	color: #ffffff;
}

div.hatena-body div.adminmenu{
	text-align: right;
	margin: 0.5em 1em;
	font-size:80%;
}


span.highlight {
	background-color: yellow;
	padding: 1px;
}

div.body {
	clear: both;
}
