@charset "euc-jp";
/*
Title: 看板
Revision: $Revision: 1.11 $
Author: Nana
Access: <clorets@estyle.ne.jp>
Comment: 日付が看板に描かれているように見えます
License: GPL

	Copyright 2001 (C) by Nana<clorets@estyle.ne.jp>
	validated by W3C
 */

a:link {
	text-decoration: none;
	color: #A58484;
}
a:visited {
	text-decoration: none;
	color: #A58484;
}

a:hover, a:focus,a:active {
	background-color: #FFE4B5;
}

body {
	background-color: #fff;
	color: #000;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

div.adminmenu {
	text-align: left;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: #000;
	color: #888;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	color: #000;
	border-style: none;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: left;
}

div.calendar {
	background-color: transparent;
	color: #000;
	border-style: none;
	margin-left: 12%;
	margin-top: 2ex;
	font-weight: bold;
}

div.day {
	background-image: url(kanban_1.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-style: none;
	text-align: left;
	padding-left: 45px;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-right: 10%;
	margin-left: 10%;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-right: 12px;
	padding-top: 3.5em;
	text-align: left;
	font-size: 90%;
}

h2 span.date {
	font-size: 90%;
}
h2 span.date a:link, a:visited {
	color: #f4a460;
	text-decoration: none;
}
h2 span.date a:hover, a:focus {
	color: #000;
	text-decoration: none;
}

div.body {
	background-color: transparent;
	color: #000;
	text-align: left;
	padding: 1px;
	padding-top: 2px;
	padding-right: 30px;
	margin-top: 12px;
}

div.body p {
	padding-left: 16px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

div.section p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	line-height: 1.4em;
}

h3 {
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	font-size: medium;
}

pre {
	background-color: #FDF5E6;
	color: #000;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
}

div.comment {
	text-align: left;
	background-color: transparent;
	color: #000;
	padding: 0px;
	margin-right: 20px;
	margin-left: 6px;
}

div.comment p {
	padding-left: 1em;
}

div.comment div.caption {
	text-align: left;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	padding: 0px;
}

div.referer {
	text-align: right;
	font-size: 90%;
	background-color: transparent;
	color: #000;
	padding: 0px;
	padding-bottom: 1px;
	margin-left: 10px;
}

div.refererlist {
	font-size: 90%;
	text-align: left;
	background-color: transparent;
	color: #000;
	padding: 0px;
	padding-bottom: 1px;
	margin-top: 0.5em;
}
h2 span.title {
    	margin-left:25px;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: 90%;
	text-align: right;
	height: 32px;
}

div.form {
	background-color: transparent;
	color: #000;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 80%;
}

input.field {
	background-color: white;
	color: black;
}

input {
	clear: left;
}

textarea {
	background-color: white;
	color: black;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        color: black;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: black;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
        color: black;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

blockquote {
	border-top: solid 2px #A58484;
	border-bottom: solid 2px #A58484;
	padding: 8px;
}

/* recent_list */
p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/* calendar2 */
table.calendar {
        font-size: 90%;
	padding: 1px;
	margin: 2px auto;
}

table.calendar td {
	margin: 0px;
	text-align: right;
        padding: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/*
脚注本文全体
*/
div.body div.footnote {
       border-top: 1px solid #000;
       font-size:x-small;
       text-align: left;
       margin-left: 24px;
       margin-right: 16px;
       background-color: transparent;
}
/*
それぞれの脚注本文
*/
span.footnote{
       vertical-align: super;
       font-size:x-small;
}
form.search {
	text-align: right;
	margin-right: 10%;
}
/*
引用ソースの表示
*/
p.source{
	margin-right: 1.5em;
        margin-top: 0px;
	text-align: right;
	font-size:90%;
        line-height: 24px;
        font-style: italic;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	text-align: left;
}
