@charset "euc-jp";
/*
Title: rain
Revision: $Revision: 1.3 $
Author: Nana
Access: clorets@estyle.ne.jp
License: GPL
Comment: 雨つぶ

Copyright 2003 (C) by Nana <clorets@estyle.ne.jp>
validated by W3C.
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #D8D7EA;
	color: #333333;
	margin: 0px;
}

/*
リンク文字列に関する設定
*/
a:link {
        background-color: transparent;
	color: #778899;
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	color: #778899;
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
	color: #0098FF;
	background-color: transparent;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: 90%;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	margin-bottom: 10px;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: center;
	font-size: 180%;
        padding-top: 5px;
	padding-bottom: 16px;
	margin-top: 0px;
	margin-bottom: 0.5em;
	background-color: #9FC7E6;
	color: #ffffff;
        background-image: url(rain_bottom.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	letter-spacing: 0.2em;
}

/*
カレンダーの設定
*/
div.calendar {
	padding-top: 5px;
        padding-left: 2em;
        margin: 0px auto 0.5em auto;
}

div.calendar div.year {
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	color:  #fff;
        padding-bottom: 20px;
	background-color: transparent;
        margin: 2em 0px;
}

/*
タイトル行全体の設定
*/
h2 {
	background-image: url(rain_top.png);
	background-position: top left;
	background-repeat: repeat-x;
        background-color:#9FC7E6;
	margin: 0px;
	padding-top: 20px;
        padding-left: 1em;
	text-align: left;
	font-size: 130%;
        color: #ffffff;
        letter-spacing: 0.2em;
}

/*
日付の設定
*/
h2 span.date a:link,h2 span.date a:visited{
	color: #fff;
	background-color: transparent;
}

/*
タイトルの設定
*/
h2 span.title {
	font-size: 80%;
}
h2 span.nyear {
	font-size: 80%;
}
/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: #9FC7E6;
	color: #fff;
	padding: 1em 2em 1.5em 2em;
        margin-bottom: 0px;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
}

/*
サブタイトルの設定
*/
h3 {
	font-size: 110%;
	font-weight: bold; 
        border-bottom: 1px dotted #eee;
	color: #FDF5E6;
	background-color: transparent;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.panchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/

div.day span.sanchor {
	background-image: url(sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 25px 20px 0px 0px;
	color: #9FC7E6;
	background-color: transparent;
	font-size: 1px;
}

/*
日記の本文(段落)の設定
*/
div.section p {
	margin: 0.5em 1em 0.7em 2.5em;
	line-height: 1.3;
}


/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	font-size: 90%;
	border-left: 5px double #fff;
	margin-left: 0.5em;
        padding: 5px 5px;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	padding: 0.5em 2em 1em 2em;
        background-color: #9FC7E6;
        color: #fff;
	text-align: left;
	margin: 0px;
}
	
/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 90%;
	margin-left: 1em;
        margin-top: 5px;
	padding: 5px;

}
span.commentator {
	font-weight: bold;
	color: #555;
	background-color: transparent;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0em;
	line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
	font-size: 90%;
	margin: 0.5em;
	line-height: 1.3em;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color:#9FC7E6;
	color: #000;
	padding: 2px;
	margin: 0px;
	
}

/*
フォームの設定
*/
div.form form {
	margin: 1em 0em 0em 2em;
}

div.form form.comment {
	font-size: 90%;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	background-color: #eee;
	color: #000;
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}
form.comment textarea {
	display: block;
	background-color: #eee;
	color: #000;
	margin-left: 3em;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin-left: 3em;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: right;
	font-size: 90%;
	background-color: #9FC7E6;
	color: #FFF0F5;
	padding-top:0px;
        padding-right: 2em;
	background-image: url(rain_bottom.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 20px;
	margin: 0px;   
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	margin: 0px;
        padding: 0px 1em 2em 3em;
        background-image: url(rain_bottom.png);
	background-position: bottom left;
	background-repeat: repeat-x;
        background-color: #9FC7E6;
	color: #FFF0F5 ;
	text-align: left;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 90%;
	line-height: 1.2em;
        padding-left: 3em;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddf;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: 90%;
	margin-top: 0px;
        background-color: #9FC7E6;
	color: #ffffff;
        background-image: url(rain_top.png);
	background-position: top left;
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 15px;
	margin-top: 0em;
}

/*
更新フォーム
*/
form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	background-color: #eee;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #7684A3;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: #aad5ff;
	color: #000;
	margin-left: 3em;
	margin-right: 1em;
	padding: 8px;
	border-left: solid 10px #fff;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	background-color: #fff;
	color: #555;
	border-style: double;
	border-color: #aad5ff;
	border-width: 5px;
	margin-left: 3em;
	margin-right: 1em;
	padding: 8px;
	
}
div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
箇条書きの設定
*/
div.body ul, div.body ol {
	margin-left: 3em;
	margin-right: 3em;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 3em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin: 0em 3em 0.5em 1em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 75%;
	line-height: 1em;
	border: 1px solid #9FC7E6;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}
/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	border-style: solid;
	border-color: #eee;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

.calendar-popup {
        display: none;
	text-align: left;
	background-color: #eee;
	color: #555;
	position: absolute;
	padding: 5px 1ex 5px 1ex;
        
}
			     
.calendar-day a{
	font-weight: normal;
}
					   
.calendar-sunday {
	color: #DA70D6;
	background-color: transparent;
}
							    
.calendar-saturday {
        color: #1E90FF;
	background-color: transparent;
 }
 
 .calendar-weekday {
 	color: #999999;
	background-color: transparent;
}
 
table {
        font-size: 90%;
	color: #888;
	background-color: transparent;
	margin-right: auto;
	margin-left: auto;
}

p.strong {
        font-size: 200%;
	}
.memo  {
        color: #333399;
	background-color: #ffffff;
}
.search {margin: 0px;}
