@charset "euc-jp";

html {
	margin:0;
	padding:0;
	border:none;
}

html * {
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

body         { 
	/*font-size: 80%; */
	/* MacIE5 \*/ 
	letter-spacing: 1px;
	/*  */
	font-family: Verdana, Osaka, sans-serif; 
	line-height: 1.5; 
	color: #000000; 
	background-color: #ffffff;
	text-align: center;
	margin: 0; 
	padding: 0;

	word-break: break-all ;
	word-wrap: break-word ;
}
h1 {	
	font-family: "Trebuchet MS",osaka,sans-serif;
	text-align: left;
	line-height: 1.2;
	font-size: 250%;
	font-weight: bold;
	margin: 15px 7% 0 0;
	letter-spacing: 0.2em;
	background-color: #FF479F;
	padding: 40px 30px 40px 10%;
	background-image: url('270pk-1.gif');
	background-repeat: no-repeat;
	background-position: top right;
	color: #FFCADC;
}

body{
	position: relative ;
	margin: 0 7% 0 0;
	padding: 0;
	width: auto;
	_width: 100%;
	background-color: #FF479F;
}


.main{
	
	padding: 30px 3% 0 10%;
	margin: 0 180px 0 0;
	background-color: #ffffff;
	width: auto;
	background-image: url('270pk-2.gif');
	background-repeat: no-repeat;
	background-position: top right;
}



.day {
	margin: 0 0 15px 0;
	padding: 0;
	width: auto;
	_width: 100% ;
	
	text-align:left;
}

h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #FF479F;

}

h2 {
	font-size: 120%;
	text-decoration:none;
	margin: 0 0 0 0;
	font-weight: bold;
	padding: 0.5em  0;
	text-align: left;


}

span.date{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0px;

}

span.title{
	font-size: 100%;
	letter-spacing: 1px;
	font-family: Verdana, Osaka, sans-serif; 
	font-weight: bold;
	margin-left: 15px;
}

.body {
	padding: 1.5em 0 0 0;
	margin: 0 0 0 0;
	width: auto;
	_width: 100% ;
}

.section{
	padding: 0;
	margin: 0 0 25px 0;
	border-bottom: solid 1px #ffffff;
}


h3 a{
	border: none;
}

h3 {	
	color: #000000;
	font-size:120%;
   	font-weight: normal;
	
	margin: 0 0 1em 0 ;
	padding: 0;
	text-align:left;

}


a.sectioncategory{
	
}

span.sanchor{
	
	color: #FF479F;
	font-size: 1px;
	padding: 14px 9px 5px 9px;
	background-image: url('270pk-s.gif');
	background-repeat: no-repeat;
	background-position: top left;

}

span.timestamp{
	font-size:70%;
	font-weight: normal;
	letter-spacing: 0px; 
}

.section P {	
	margin: 1em 1em;
	text-align:left;
	padding: 0;
}


/**************** decoration *************************/

a{
	text-decoration: none;
	color: #000000;
	border-bottom:solid 1px #000000;
}

a.keyword,
a.okeyword {
	text-decoration: none;
	border-bottom: dotted 1px #FFCADC;
}

a img{
	border: none;
}

a:link    { }

a:visited { } 

a:hover   { 
	color: #ff0066;
}
  
a:active  { 

} 

h4 {	
	color: #000000;
	font-size:120%;
   	font-weight: normal;
	margin:0.5em 0;
	padding: 0;
	text-align:left;
	word-break:break-all;
}

blockquote{
	border: solid 1px #FF479F;
	margin: 1em 1em;
	padding: 0.5em;
}

.section blockquote p{
	margin: 0.5em;
	padding: 0;
}

cite{
	font-weight: normal;
	font-style: normal;
	display:block;
	text-align: right;
}

cite a{
	border: none;
}

pre	{
	border: solid 1px #FF479F;
	margin: 1em 1em;
	padding: 0.5em;
}

font{
	line-height: 1.2em;
}

em,
em a{
	font-weight: normal;
	font-style: normal;
	border: none;
	background-color: #FF479F;
}

ins,
ins a{
	text-decoration: none;
	border: none;
	color: #666666;
}


/************************* list **********************/

.section ul{
	margin: 1em 1em 1em 2em;
	padding: 0;
}

.section ol{
	margin: 1em 1em 1em 2.5em;
	padding: 0;
}

.section ul li,
.section ol li,
.section ol ul,
.section ol ol,
.section ul ul,
.section li li {
	margin: 0 0 0 1em;
	padding: 0;
}



.section dl{
	margin: 1em 1em;
}

.section dt{
	font-weight: normal;
}

.section dd{
}


/********************** img ***************************/

img.photo{
	float: right;
	padding: 0;
	margin: 0 1em 10px 10px;
}

.body img.asin{
	float: right;
	margin: 0 0 10px 10px;
	padding: 0;
}

/********************* footnote **********************/

span.footnote{
	font-size: 70%;
}

span.footnote a{
	border: 0;
}

div.footnote{
	margin: 1em;
	padding: 1em;
	border: dotted 1px #FF479F;
}

p.footnote{
	margin: 0;
	font-size: 90%;
}

/********************** comment ***********************/

div.comment,
div.refererlist{
	_width: 100% ;
	padding:  0;
	margin:  0 0 1em 0;
}


div.refererlist ul{
	margin: 0 2.5em;
	padding: 0;
	list-style-type: disc;
	font-size: 80%;
	letter-spacing: 0px;
}

form div.refererlist ul{
	font-size: 100%;
	letter-spacing: 1px;
}

div.regererlist ul a{
	color: #000000;
}


div.caption{
	font-size: 80%;
	padding: 0 0.5em;
	margin: 0 0 5px 0;
}

form div.refererlist div.caption{
	font-size: 100%;
	padding: 0 0.5em;
	margin: 0.5em 0;
	border-bottom: solid 1px #000000;
}



div.caption a{
        border: none;
}

span.commentator{
	font-weight: normal;
	display:block;
	margin: 0 0 0 -1em;
}

form span.commentator{
	display: inline;
	margin: 0;
}

span.canchor{
	display: none;
}

div.commentshort a{
	border: none;
}

span.commentator{
	font-weight: normal;
	margin-right: 0.5em;
}

div.commentshort P
{
	margin: 0 0 5px 2em;
	font-size: 90%;
	letter-spacing: 0px; 
}

/******************asin detail***********************/

div.hatena-asin-detail {
	margin: 1em 1em;
	padding: 10px;
	border: solid 1px #FF479F;
	_width: 100%;
}

div.hatena-asin-detail p {
	margin: 0 ;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}

img.hatena-asin-detail-image {
	float: left;
	border: 0;
	margin: 0 10px 0 0 ;
}

div.hatena-asin-detail-info{
	float: left;
	margin: 0;
	word-break: break-all;
}

p.hatena-asin-detail-title{
	font-weight: bold;
	width: 100%;
	margin: 0;
}

div.hatena-asin-detail-info ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}


div.hatena-asin-detail-info li {
	margin: 0;
	padding: 0;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail-foot {
	clear: left;
}

/************************ form **********************/

form{
	margin: 0;
	padding: 0;
}

form.hatena-searchform{
	margin: 5px 0;
}


input.hatena-searchform{
	width: auto;
}

div.day form,
form div.day{

	background-color: #FF479F;
	margin: 0;
	padding: 0 3em;
}

form div.body{
	margin: 0;
	padding: 1em 1em 1em 1em;
}

div.day div.comment form{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

form h2{
	margin: 0 0em;
}

form h3{
	margin: 0.5em 0;
	padding: 0;
	border-bottom: solid 1px #000000;
	font-size: 100%;
	font-weight: bold;
}

div.commentshort textarea{
	width: 90%;
}

/********************** sidebar ***********************/

.sidebar {
	position: absolute;
	top: 0px; 
	right: 0px;
	width: 180px;
	padding: 7px 5px;
	margin: 0;
	font-size: 90%;
	text-align: left;
	background-color: #FF479F;
}

.sidebar,
.sidebar a{
	color: #FFCADC;
}

.hatena-module{
	margin: 10px 0;
	padding: 0 0 0 0;
	width: 100% ;
	position: relative;
}

.hatena-moduletitle,
.hatena-moduletitle a{
	border: none;
}

.hatena-moduletitle{
	font-size: 120%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 0px;
	padding: 0 0.5em;
	margin: 0;
	text-align: left;

}

.hatena-modulebody{
	padding: 10px 1em ;
	margin: 0;
	font-size: 90%;

	_width:100%;

}

.hatena-modulebody a{
	border: none;
}

/********************** sideber li **********************/


.hatena-modulebody ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.hatena-modulebody li {

}

.hatena-modulebody li a{
	display: block;
	width: auto;
	_width: 100%;
	color: #FFCADC;
	padding: 3px 6px;
	line-height: 1.2;
	margin: 0;
}

.hatena-modulebody li a:hover {
	
	color: #FF479F;
	border: 0;
	background-color: #FFCADC;
}


/*************** trackback/comment module ****************/

.hatena-modulebody ul.hatena-recentcomment li a{
	display: inline;
	width: auto;
	padding: 0;
	border: none;
	line-height: 1.5;
}

.hatena-modulebody ul.hatena-recentcomment li a:hover{
	width: auto;
	border: none;
}


/******************* photo module *******************/


ul.hatena-photo{
	padding: 5px 0;
	margin: 0;
	_width: 100%;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-photo li{
	margin: 0;
	display: inline;
	width: none;
	
}

ul.hatena-photo li img{
	
}

ul.hatena-photo li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
	border: none;
}

ul.hatena-photo li a:hover{
	width: 48%;
	background-color: transparent;
	border: none;
}

ul.hatena-photo li a img{
	filter: none;
	border: 1px solid #FFCADC;
}

ul.hatena-photo li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}


/********************** calender **********************/

div.calendar {
	font-size:80%;
	color: #000000;
	margin: 0;
	padding: 0;
	text-align: right;
}

div.calendar a{
	border: none;
	color: #000000;
}




/********************** header **********************/

table
{ 
	margin: 0 auto; 
	padding: 0; 
}

td 
{
 	background-color : transparent;
}

table table td{
 	background-color : transparent;
}

table table{
	margin: 0;
	padding:0;
	border: none;
	width: 100%;
	border: 0;
	background-image: none;
	background-color : transparent;
}

table table td font, 
table table td a{
	border:none;
	color: #000000;
}

td a{
	border: 0;
}

table input{
	border: solid 1px #808080;
	color: #000000;
}



div.body table{
	width: auto;
	border: 0;
}

/********************** calendar2 **********************/

div.calendar2{
	padding: 0;
}

table.calendar{
	font-size: 100%;
	letter-spacing: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FF479F;
	border: none;
	background-image : none;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
}

table.calendar,
table.calendar a{
	color: #FFCADC;
}

td.calendar-current-month{
	font-weight: bold;
}

td.calendar-prev-month,
td.calendar-current-month,
td.calendar-next-month{
	text-align:center;
}

td.calendar-day {

}

td.calendar-day a{
	display: block;
	border-bottom: solid 1px #FFCADC;
}

td.calendar-day a:hover{
	background-color: transparent;
	color: #ff0000;
	border-color: #ff0000;
}

td.calendar-weekday,
td.calendar-sunday,
td.calendar-saturday{
	display:none;
}

td.calendar-day a img {
	width: 12px;
	height: 12px;
	border: solid 1px #FFCADC;
}

td.calendar-day a:hover img{
	border: solid 1px #ff0000;
}

/************************ adminmenu ****************************/

div.adminmenu{
	text-align: right;
	padding: 1em 0;
	margin: 0 7%;
	font-size: 80%;
	background-color: #ffffff;
	color: #000000;
}

div.adminmenu a{
	border: none;
	color: #000000;
}

div.adminmenu{
	text-align: right;
	margin: 0;
	padding: 0.5em 1em;
	width: auto;
	border: 0;
}

/*********************/

span.highlight {
	background-color: yellow;
	padding: 1px;
}

.footer{
	border: solid 1px #808080;
	padding: 10px;
	text-align: center;
}

.footer,
.footer a{
	color: #808080;
	border: none;
}

div.body {
	clear: both;
}

hr.sep {
	display: none;
}
