/*
Title: Nebula
Revision: $Revision: 1.4 $
Author: zoe
Access: http://www.kasumi.sakura.ne.jp/~zoe/
License: GPL

	Copyright by (C) zoe http://www.kasumi.sakura.ne.jp/~zoe/
	validated by W3C.
 */
/* ChangeLog
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/


body {
	background-color: black;
	color: #fff;
	background-image: url(nebula.png);
}

a:link {
	background-color: transparent;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
	border-color: orange;
	color: #ff3;
	margin: 2px;
}
a:visited {
        text-decoration: none;
	background-color: transparent;
        color: #ff0;
	border-style: none;
	border-width: 1px;
	border-color: orange;
	margin: 2px;
}
a:hover,a:active {
	text-decoration: none;
	border-style: dashed;
	border-width: 1px;
	border-color: orange;
}

p.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	margin: 0px;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	padding: 3px;
}

h1 {
	text-align: center;
}

p.calendar {
	font-size: small;
	background-color: transparent;
	padding: 2px;
	margin-bottom: 0.5em;
	text-align: left;
}

div.day {
	margin-bottom: 0.5em;
	clear: both;
}

h2 {
	text-align: left;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-weight: normal;
}

span.date {
	font-size: medium;
	margin-left: 40px;
}

span.title {
}

div.body {
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 10px;
	margin-right: 6px;
	width: 50%;
	float: left;
	border-style: solid; 
	border-color: #fff darkgray darkgray darkgray; 
	border-width: 1px;
	padding: 4px;
}

p.body {
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.2;
	padding-left: 1em;
	padding-top:0em;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3.subtitle {
	margin-top: 0.2em;
	margin-bottom: 0em;
	font-weight: bold;
	border-style: dashed;
	border-color: #00f;
	border-width: 0px 0px 1px 0px;
	width: 50%;
}

pre {
	background-color: black;
	color: #bbf;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	font-size: small;
	background-color: transparent;
	color: #ccf;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-right: 4px;
	margin-left: 50%;
}

p.commenttitle {
	margin-left: 4em;
	background-color: transparent;
	color: #fff;
}

span.commentator {
	background-color: transparent;
	border-style: dashed;
	border-color: #00f;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
	color: #fff;
}

p.referertitle {
	width: 100px;
	margin-left: 4em;
}

p.referer {
	text-align: right;
	font-size: small;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 50%;
	margin-right: 12px;
	width: 300px;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}


p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
	background-color: #transparent;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 20px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	clear: both;
}

input.field {
	background-color: transparent;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
}

input, select, option {
	background-color: transparent;
	border-color: #00f;
	color: #fff;
	border-style: solid;
	border-width: 1px;
}

div.form form {
	width: 95%;
}

textarea {
	background-color: transparent;
	margin-left: 1em;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

{
	background-color: #ffffff;
	color: #000000;
}
option{
	background-color: #ffffff;
	color: #000000;
}
