@charset "euc-jp";
/*
Title: Nebula
Revision: $Revision: 1.7 $
Author: zoe
Access: http://www.kasumi.sakura.ne.jp/~zoe/
License: GPL

	Copyright by (C) zoe http://www.kasumi.sakura.ne.jp/~zoe/
	validated by W3C.
 */
/* ChangeLog
2002-10-21 Hiroyuki Ikezoe<zoe@kasumi.sakura.ne.jp>
	* remove no-name element. 

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.

2002-05-09 s.sawada <moonwave@ba2.so-net.ne.jp>
	* fix MacIE de makkurokekke problem.
*/


body {
	background-color: black;
	color: #fff;
	background-image: url(nebula.png);
}

a:link {
	background-color: transparent;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
	border-color: orange;
	color: #ff3;
	margin: 2px;
}
a:visited {
        text-decoration: none;
	background-color: transparent;
        color: #ff0;
	border-style: none;
	border-width: 1px;
	border-color: orange;
	margin: 2px;
}
a:hover,a:active {
	text-decoration: none;
	border-style: dashed;
	border-width: 1px;
	border-color: orange;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	margin: 0px;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	padding: 3px;
}

h1 {
	text-align: center;
}

div.calendar {
	font-size: small;
	background-color: transparent;
	padding: 2px;
	margin-bottom: 0.5em;
	text-align: left;
}

div.day {
	margin-bottom: 0.5em;
	clear: both;
	color: white;
}

h2 {
	text-align: left;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-weight: normal;
}

h2 span.date {
	font-size: medium;
	margin-left: 40px;
}

h2 span.title {
}

div.body {
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 10px;
	margin-right: 6px;
	width: 50%;
	float: left;
	border-style: solid; 
	border-color: #fff darkgray darkgray darkgray; 
	border-width: 1px;
	padding: 4px;
}

p.body {
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.2;
	padding-left: 1em;
	padding-top:0em;
}
div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
	color: white;
}

h3 {
	margin-top: 0.2em;
	margin-bottom: 0em;
	font-weight: bold;
	border-style: dashed;
	border-color: #00f;
	border-width: 0px 0px 1px 0px;
	width: 50%;
}

pre {
	background-color: black;
	color: #bbf;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	font-size: small;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-right: 4px;
	margin-left: 50%;
}

div.comment div.caption {
	margin-left: 4em;
	background-color: transparent;
	color: #fff;
}


div.refererlist div.caption {
	width: 100px;
	margin-left: 4em;
}

div.referer {
	text-align: right;
	font-size: small;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 50%;
	margin-right: 12px;
	width: 300px;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}


div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
	background-color: #transparent;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 20px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	clear: both;
}

input.field {
	background-color: transparent;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
}

input, select, option {
	background-color: transparent;
	border-color: #00f;
	color: #fff;
	border-style: solid;
	border-width: 1px;
}

div.form form {
	width: 95%;
}

textarea {
	background-color: transparent;
	margin-left: 1em;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

option{
	background-color: #ffffff;
	color: #000000;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
	border-style: dashed;
	border-color: #00f;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
	color: #fff;
	display: inline;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: transparent;
        color: #fff;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: transparent;
        color: #fff;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
div.day.update {
	background-color: #transparent;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 20px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.day.update div.form {
	border-style: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: transparent;
        color: #fff;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
