@charset "euc-jp";
/*
Title: プールサイド
Revision: $Revision: 1.8 $
Author: ただただし
Access: sho@spc.gr.jp
Comment: 涼しげなプールサイトのイメージ

	validated by W3C.
*/
/* ChangeLog
2002-05-02 Nana <moo@xu.boo.jp>
        * support calendar2

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
*/

a:link, a:visited {
	background-color: transparent;
	color: #ff8c00;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #00008b;
	background-color: #ff8c00;
	border-style: none;
	border-width: 1px;
}

body {
	background-color: #ffffff;
	background-image: url(pool_side_back2.png);
	color: #00008b;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

span.adminmenu {
	background-image: url(pool_side_back.png);
	border-style: outset;
	border-color: white;
	border-width: 1px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	background-color: #00008b;
	background-image: url(pool_side_back.png);
	border-style: outset;
	border-color: mediumblue;
	border-width: 2px;
	color: white;
	padding: 4px;
	text-align: right;
}

div.calendar {
	background-color: transparent;
	background-image: url(pool_side_back.png);
	color: white;
	text-align: right;
	border-style: outset;
	border-color: mediumblue;
	border-width: 1px;
	padding: 2px;
	margin-left: 40%;
	margin-bottom: 0.5em;
	font-weight: bold;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-image: url(pool_side_back.png);
	border-style: outset;
	border-color: mediumblue;
	border-width: 1px;
	margin-top: 1em;
	margin-bottom: 0.1em;
	padding: 3px;
}

h2 span.date {
	font-size: large;
}

h2 span.title {
	background-color: transparent;
	color: white;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

div.section p {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3 {
	border-style: solid;
	border-color: mediumblue;
	border-width: 0px 0px 2px 0px;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: #00008b;
	color: white;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: white;
	color: #00008b;
	font-size: small;
	border-style: solid;
	border-color: mediumblue;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

div.comment div.caption {
	border-style: solid;
	border-color: mediumblue;
	border-width: 0px 0px 1px 0px;
	margin: 4px 0px;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: mediumblue;
	border-width: 0px 0px 1px 0px;
	margin: 0.5em 0em;
}

div.referer {
	background-color: white;
	color: #00008b;
	text-align: right;
	font-size: small;
	border-style: solid;
	border-color: mediumblue;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-top: 1em;
}

div.refererlist {
	background-color: white;
	color: #00008b;
	font-size: small;
	border-style: solid;
	border-color: mediumblue;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: mediumblue;
	border-width: 1px;
	background-image: url(pool_side_back.png);
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: #00008b;
	background-image: url(pool_side_back.png);
	color: white;
	border-style: outset;
	border-color: mediumblue;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0.5em 0em 0.5em 4em;
}

input.field {
	background-color: white;
	color: #000000;
}

textarea {
	background-color: white;
	color: #000000;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/* calendar2 */
table.calendar {
	text-align: center;
	background-color: transparent;
	border-style: solid;
	border-color: #ccc #999999 #999999 #ccc;
	border-width: 1px;
	margin-bottom: 1em;
        margin-left: 3em;
        font-size: 90%;
}

td.calendar-current-month {
	font-size: xx-small;
	text-align: center;
}

td.calendar-next-month {
	font-size: xx-small;
	text-align: right;
}

td.calendar-prev-month {
	font-size: xx-small;
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	font-size: xx-small;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	font-size: xx-small;
	text-align: center;
}

td.calendar-weekday {
	color: #000000;
	background-color: #ddd;
	font-size: xx-small;
	text-align: center;
}

td.calendar-day {
	font-size: xx-small;
	text-align: right;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: mediumblue;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
	display: inline;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        border-style: solid;
        border-color: mediumblue;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        color: #000000;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: #000000;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
        color: #000000;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
