@charset "euc-jp";

/*========================================================================================
@themeinfo {
	#author {
		テーマ名: Widow_BlackWidow;
		作成者: id:kamioka(http://d.hatena.ne.jp/kamioka/);
		更新日時: 2005-06-14(TUE);
	}
	#note {
		注意事項: "はてなダイアリー専用、Sidebar必須テーマです。";
		推奨ヘッダ色: "黒";
	}
}
==========================================================================================*/

body {
	margin: 0em;
	padding: 0px 0px 1px 0px;
	font-size: 100%;
	text-align: center;
	font-family: "Verdana", sans-serif;
	background: url("./body.gif") 50% 0% repeat-y scroll #000000;
	color: #bbbbbb;
	word-break: break-all;
	word-wrap: break-word;
}

a:link {
	color: #dd8833;
}

a:visited {
	color: #dd5588;
}

a:hover {
	color: #88dd33;
	text-decoration: none;
}

table {
	margin: 0em auto;
	width: 750px;
	background-color: #000000;
	border-top: solid 4px #444444;
	border-bottom: solid 1px #0000000;
}

table table {
	width: 100%;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #111111;
	border-top: solid 1px #444444;
	border-bottom: none;
}

td font {
	color: #888888
}

.hatena-body table {
	margin: 1em;
	width: auto;
	background-color: transparent;
	border: none;
	text-align: left;
	font-size: 100%;
	table-layout: auto;
}

h1 {
	margin: 0em auto;
	padding: 80px 0em;
	width: 750px;
	background: url("./h1.gif") 50% 50% no-repeat scroll #000000;
	color: #777777;
	border-bottom: solid 1px #444444;
	font-size: 160%;
	font-weight: 900;
}

h1 a:link,
h1 a:visited {
	color: #777777;
	text-decoration: none;
}

h1 a:hover {
	color: #cccccc;
}

td {
	background-color: transparent;
}

body {
	margin: 0px auto;
	padding: 1px 0px 0px 0px;
	width: 750px;
	font-size: 100%;
	text-align: left;
	line-height: 1.4;
}

.hatena-body div[style="margin-top: 20px;"] {
	margin: 0px !important;
}

div.main {
	margin: 0px;
	width: 549px;
	background-color: #transparent;
}

div.sidebar {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	width: 200px;
	position: absolute;
	top: 200px;
	right: 0px;
}

/*----------------------------------------------------------------------------------------*/

div.day {
	margin: 2px 203px 3px 2px;
	background-color: #000000;
	border: solid 1px #444444;
}

h2 {
	margin: 0px;
	padding: 1em 0.2em 0em 0.2em;
	background: url("./h2.gif") 5px 50% no-repeat scroll;
	color: #bbbbbb;
	font-size: 100%;
	font-weight: normal;
	text-align: right;
}

h2 a:link,
h2 a:visited {
	color: #cccccc;
	text-decoration: none;
}

h2 a:hover {
	text-decoration: underline;
}

h2 a.edit:hover {
	color: #999999;
}

div.body {
	margin: 0px;
}

img.photo {
	float: right;
	margin: 8px 5px 5px 5px;
	border: solid 1px #444444;
	position: relative;
	z-index: 10;
}

div.section {
	margin: 0px;
	padding: 3px 0px 10px 0px;
	background: url("./double.gif") 0% 0% repeat-x scroll;
}

h3 {
	margin: 0em 0em 1.4em 0em;
	padding: 8px 5px 5px 72px;
	height: 59px;
	_height: 71px;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #111111;
	border-top: solid 1px #090909;
	font-size: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

h3 a:link,
h3 a:visited {
	text-decoration: none;
}

span.sanchor {
	display: block;
	width: 60px;
	height: 60px;
	background: url("./sanchor.gif") 50% 50% no-repeat scroll #000000;
	color: #000000;
	border: solid 1px #666666;
	position: absolute;
	top: 4px;
	left: 5px;
	font-size: 1px;
}

a:hover span.sanchor {
	background-image: url("./sanchor_hover.gif");
	border-color: #999999;
}

h3 img.icon {
	vertical-align: middle;
}

span.timestamp {
	position: absolute;
	bottom: 0.2em;
	right: 0.2em;
	font-weight: normal;
	color: #666666;
}

p.seemore {
	padding-right: 16px;
	background: url("./seemore.gif") 100% 50% no-repeat scroll;
	text-align: right;
	text-indent: 0em;
}

p.seemore a:link,
p.seemore a:visited {
	color: #bbbbbb;
}

p.sectionfooter {
	margin: 1em 0em 0em 0em;
	padding: 0.2em 0.4em 0em 0em;
	background: url("./dashed.gif") 0% 0% repeat-x scroll transparent;
	color: #666666;
	border-bottom: solid 5px #000000;
	text-indent: 0em;
	text-align: right;
	font-size: 90%;
}

p.sectionfooter img.icon {
	vertical-align: middle;
}

p.sectionfooter a:link,
p.sectionfooter a:visited {
	color: #999999;
}

div.section:after {
	content: "";
	display: block;
	clear: both;
}

div.section {
  _height: 1%;
}

div.footnote {
	margin: 0px;
	padding-top: 3px;
	color: #999999;
	border-top: solid 1px #000000;
	background: url("./double.gif") 0% 0% repeat-x scroll;
}

p.footnote {
	margin: 0.5em 1em;
	font-size: 90%;
	text-indent: 0em;
}

span.footnote {
	font-size: 80%;
}

p.footnote a:link,
p.footnote a:visited {
	text-decoration: none;
}

div.comment {
	padding: 3px 0px 10px 0px;
	background: url("./double.gif") 0% 0% repeat-x scroll;
}

div.commentshort {
	background-color: #000000;
}

head+body div.commentshort {
	border-bottom: solid 1px #000000;
}

div.commentshort p {
	padding: 1.8em 0.2em 0em 0.2em;
	background: url("./dashed.gif") 0% 1.5em repeat-x scroll transparent;
	text-indent: 0em;
	position: relative;
	top: 0px;
	left: 0px;
}

span.canchor {
	display: none;
}

span.commentator {
	padding-right: 18px;
	background: url("./canchor.gif") 100% 70% no-repeat scroll transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}

form.comment textarea {
	width: 450px;
	height: 10em;
}

form.comment br {
	display: none;
}

div.caption {
	padding: 0.4em 0.2em;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #111111;
	color: #999999;
	border-top: solid 1px #111111;
}

div.refererlist {
	padding: 3px 0px 0px 0px;
	background: url("./double.gif") 0% 0% repeat-x scroll;
}

div.refererlist div.caption {
	text-indent: 0.2em;
	color: #999999;
}

div.refererlist div.caption a {
	color: #999999;
}

div.refererlist ul {
	margin: 0em;
	padding: 0.4em 0em 0.4em 0.4em;
}

div.refererlist ul li {
	list-style: none;
	padding-left: 22px;
	background: url("./list.gif") 0px 0% no-repeat scroll transparent;
}

/*----------------------------------------------------------------------------------------*/

div.adminmenu {
	margin: 0px auto;
	padding: 0.8em 0em 0.5em 0em;
	width: 750px;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #111111;
	border-top: solid 4px #444444;
	font-size: 80%;
	text-align: right;
}

span.adminmenu {
	margin-right: 0.8em;
}

span.adminmenu a:link,
span.adminmenu a:visited {
	color: #999999;
	text-decoration: none;
}

div.breadcrumbs {
	margin: 2px 203px 3px 2px;
	padding: 0.2em;
	background-color: #000000;
	color: #999999;
	border: solid 1px #444444;
}

div.calendar {
	margin: 2px 203px 3px 2px;
	padding: 0.2em;
	background-color: #111111;
	color: #999999;
	border: solid 1px #444444;
}

div.main div.breadcrumbs,
div.main div.calendar,
div.main div.day {
	margin-right: 2px;
}

div.calendar b {
	color: #cccccc;
}

/*----------------------------------------------------------------------------------------*/

.section h3.subtitle {
	margin: 0px;
	padding: 1em 0.2em 0.2em 0.5em;
	height: auto;
}

ul.hatena-profile-list {
	margin: 1em;
	padding: 0em;
	list-style: none;
}

.hatena-profile-list li {
	display: inline;
}

img.hatena-profile-image {
	border: solid 1px #000000;
}

ul.hatena-profile-keyword {
	line-height: 1;
	list-style-image: url("./dd.gif");
}

.hatena-profile-keyword li {
	margin: 0.2em 0em;
}

/*----------------------------------------------------------------------------------------*/

h4 {
	margin: 1em 0.5em 0.5em 0.5em;
	padding-left: 20px;
	background: url("./h4.gif") 0% 50% no-repeat scroll transparent;
	font-size: 100%;
}

h5 {
	margin: 1em 0.5em 0.5em 0.5em;
	padding-left: 22px;
	background: url("./h5.gif") 2px 50% no-repeat scroll transparent;
	font-size: 100%;
}

h6 {
	margin: 1em 0.5em 0.5em 0.5em;
	padding-left: 24px;
	background: url("./h6.gif") 4px 50% no-repeat scroll transparent;
	font-size: 100%;
}

p {
	margin: 0.6em 0.8em;
	text-indent: 1em;
}

ul {
	margin: 1em 1em 1em 2.5em;
	padding: 0em;
}

ol {
	margin: 1em 1em 1em 3em;
	padding: 0em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0.2em 0em 0.2em 1.5em;
}

dl {
	margin: 1em 1em 1em 1em;
}

dl img {
	vertical-align: middle;
}

dt {
	margin: 0.4em 0em 0em 0px;
	font-weight: bold;
	display: list-item;
	list-style: inside url("./dt.gif") square;
	letter-spacing: 0.1em;
}

dd {
	margin: 0em 0em 0em 8px;
	padding: 0.4em 0em 0em 0.4em;
	display: list-item;
	list-style: inside url("./dd.gif") circle;
	border-left: solid 2px #444444;
}

blockquote {
	margin: 1em 2em;
	background-color: #000000;
	border: solid 1px #666666;
}

blockquote cite {
	margin: 0.6em 0.8em;
	padding-top: 0.4em;
	background: url("./dashed.gif") 0% 0% repeat-x scroll;
	display: block;
	text-align: right;
}

blockquote p cite {
	margin: 0em;
	padding-top: 0em;
	background: none;
	display: inline;
}

pre {
	margin: 1em;
	padding: 0.2em;
	background-color: #111111;
	color: #999999;
	border: solid 1px #444444;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

form {
	margin: 0em;
}

a.keyword:link,
a.okeyword:link,
a.keyword:visited,
a.okeyword:visited {
	color: #bbbbbb;
	text-decoration: none;
	border-bottom: solid 1px #666666;
}

a.keyword:visited,
a.okeyword:visited {
	border-bottom-style: dashed;
}

a.keyword:hover,
a.okeyword:hover {
	border-bottom-color: #ffaa66;
}

del a.keyword:link,
del a.okeyword:link,
del a.keyword:visited,
del a.okeyword:visited {
	color: #999999;
	text-decoration: line-through;
}

del {
	color: #666666;
}

ins {}

del:after,
ins:after {
	content: "/*" attr(datetime) "*/";
}

strong {
	font-weight: bold;
	color: #ff0000;
}

em {
	font-style: normal;
	font-weight: bold;
}

dfn {
	font-style: italic;
	text-decoration: underline;
}

kbd {
	margin: 0em 0.2em;
	padding: 0em 0.3em;
	background-color: #111111;
	color: #999999;
	border: outset 1px #444444;
	font-family: "Verdana", sans-serif;
}

kbd:hover {
	background-color: #222222;
	color: #999999;
	border-style: inset;
}

textarea {
	font-size: 100%;
	border-width: 1px;
	border-color: #444444;
	background-color: #111111;
	color: #cccccc;
}

input {
	border-width: 1px;
	border-color: #444444;
	color: #999999;
	background-color: #000000;
}

.section table {
	border-collapse: collapse;
	font-size: 100%;
}

.section th {
	background-color: #191919;
	border: solid 1px #444444;
	white-space: nowrap;
	text-align: left;
}

.section td {
	border: solid 1px #444444;
}

/*----------------------------------------------------------------------------------------*/

img.asin,
img.barcode,
img.ean,
img.hatena-fotolife,
img.hatena-question-image,
img.hatena-asin-detail-image {
	border: solid 1px #666666;
	background-color: #000000;
}

div.hatena-asin-detail {
	margin: 1em;
	padding: 0.1em 0em;
}

img.hatena-asin-detail-image {
	float: left;
	margin: 10px 5px 0px 5px;
}

div.hatena-asin-detail-info {
	float: left;
	margin: 15px 5px 0px 0px;
	padding-left: 19px;
	background: url("./asin-detail.gif") 0% 0% no-repeat scroll transparent;
}

p.hatena-asin-detail-title {
	margin: 0px;
	padding: 0.2em 0.2em 0.2em 0px;
	background: url("./dashed.gif") 0% 100% repeat-x scroll transparent;
	border-top: solid 1px #444444;
	border-right: solid 1px #444444;
	text-indent: 0.5em;
}

div.hatena-asin-detail-info ul {
	margin: 0px 0px 0px 0px;
	padding: 0.5em;
	background-color: #111111;
	list-style-type: none;
	border-right: solid 1px #444444;
	border-bottom: solid 1px #444444;
	border-left: solid 1px #444444;
}

div.hatena-asin-detail-foot {
	clear: both;
}

table.hatena-question-detail {
	border-collapse: collapse;
	border: solid 1px #444444;
}

td.hatena-question-detail-label,
td.hatena-question-detail-value {
	border: solid 1px #444444;
}

th.hatena-question-detail-title {
	background-color: #191919;
	border: solid 1px #444444;
	white-space: normal;
}

img.hatena-question-detail-graph {
	vertical-align: baseline;
}

img.hatena-question-image {
	padding: 2px;
	border-color: #666666;
}

p.message {
	color: #ff0000;
	text-indent: 0em;
}

/*----------------------------------------------------------------------------------------*/

div.hatena-module {
	margin: 0px;
	padding: 0px;
	border-top: solid 1px #111111;
	border-bottom: solid 1px #111111;
	clear: both;
}

div.hatena-moduletitle {
	padding: 2px 0.2em;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #000000;
	border-top: solid 1px #111111;
	position: relative;
	top: 0px;
	left: 0px;
}

head+body div.hatena-moduletitle {
	border-bottom: solid 1px #111111;
}

div.hatena-moduletitle a:link,
div.hatena-moduletitle a:visited {
	color: #cccccc;
}

div.hatena-moduletitle a:hover {
	color: #99cc00;
}

div.hatena-modulebody {
	padding: 0px 0px 3px 0px;
	background: url("./double.gif") 0% 100% repeat-x scroll;
	font-size: 80%;
	line-height: 1.4;
}

.hatena-modulebody ul {
	margin: 0px;
}

.hatena-modulebody li {
	margin: 0.2em 0em;
	padding: 0.2em 0.2em 0.1em 18px;
	list-style-type: none;
	background: url("./modulelist.gif") 4px 0.3em no-repeat scroll;
	color: 999999;
}

.hatena-modulebody a:link,
.hatena-modulebody a:visited {
	text-decoration: none;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

.hatena-modulebody img {
	border: solid 1px #666666;
}

div.hatena-modulebody:after {
	content: "";
	display: block;
	clear: both;
}

div.hatena-modulebody {
  _height: 1%;
}

/*----------------------------------------------------------------------------------------*/

div.hatena-profile {
	margin: 2px;
	background-color: #161616;
	border: solid 1px #444444;
}

.hatena-profile p {
	margin: 5px 0px;
	text-indent: 0px;
}

p.hatena-profile-image {
	text-align: center;
}

p.hatena-profile-image a:link img,
p.hatena-profile-image a:visited img {
	border-color: #444444;
}

p.hatena-profile-image a:hover img {
	border-color: #999999;
}

p.hatena-profile-id {
	padding: 0.4em;
	background-color: #090909;
	border-top: solid 1px #444444;
	border-bottom: solid 1px #444444;
	font-weight: bold;
	text-align: center;
}

p.hatena-profile-id a:link,
p.hatena-profile-id a:visited {
	color: #666666;
}

p.hatena-profile-id a:hover {
	color: #000000;
}

p.hatena-profile-body {
	padding: 0.4em;
}

/*----------------------------------------------------------------------------------------*/

ul.hatena-photo {
	margin: 1px 0px 2px 2px;
	padding: 0px;
	text-align: left;
	width: 196px;
	background: url("./photo.gif") 0px 0px repeat scroll #000000;
	border-bottom: solid 1px #444444;
	font-size: 0px;
	line-height: 1;
}

ul.hatena-photo li {
	margin: 0px;
	padding: 0px;
	background: transparent;
	display: inline;
	list-style-type: none;
}

ul.hatena-photo a:link,
ul.hatena-photo a:visited {
	margin: 1px 1px 0px 0px;
	padding: 2px 0px 0px 0px;
	width: 64px;
	_width: 64px;
	height: 62px;
	_height: 64px;
	display: block;
	text-align: center;
	float: left;
}

head+body ul.hatena-photo a:link,
head+body ul.hatena-photo a:visited {
	margin: 1px 0px 0px 1px;
}

ul.hatena-photo a:hover {
	background: url("./photo_hover.gif") 0% 0% no-repeat scroll transparent;
}

ul.hatena-photo img {
	margin: 0px;
	border: none;
	vertical-align: middle;
}

ul.hatena-photo:after {
	content: "";
	display: block;
	clear: both;
}

ul.hatena-photo {
  _height: 1%;
}

/*----------------------------------------------------------------------------------------*/

form.hatena-searchform,
form.hatena-sectioncategory {
	margin: 5px;
	text-align: center;
}

input.hatena-searchform,
input.hatena-sectioncategory,
select.hatena-sectioncategory
 {
	margin: 0em 0.2em;
	vertical-align: middle;
}

/*----------------------------------------------------------------------------------------*/

table.calendar {
	margin: 1px 2px;
	width: 197px;
	table-layout: fixed;
	line-height: 1;
	border-collapse: separate;
}

.calendar td {
	text-align: center;
	border: solid 1px #111111;
}

td.calendar-day {
	padding: 0.5em 0em;
	background-color: #111111;
	color: #999999;
}

td.calendar-day a:link img,
td.calendar-day a:visited img {
	border: solid 1px #444444;
	width: 0.8em;
	height: 0.8em;
}

td.calendar-day a:hover img {
	border-color: #cccccc;
}

td.calendar-prev-month,
td.calendar-next-month {
	background-color: #111111;
}

td.calendar-current-month {
	padding: 0.5em 0em;
	background-color: #000000;
	color: #999999;
	border: solid 1px #444444;
}

td.calendar-sunday,
td.calendar-saturday,
td.calendar-weekday {
	padding: 0.3em 0em 0.1em 0em;
	background-color: #000000;
	color: #999999;
	border: solid 1px #444444;
}

td.calendar-sunday {
	color: #aa3333;
}

td.calendar-saturday {
	color: #3399aa;
}

/*----------------------------------------------------------------------------------------*/

dl.hatena-rss {
	margin: 0em 0em;
	line-height: 1.2;
}

dl.hatena-rss dt {
	margin: 0.5em 0.2em 0px 4px;
	padding: 0px;
	border: none;
	display: block;
	list-style-type: outside;
	list-style-image: none;
	letter-spacing: 0em;
}

dl.hatena-rss dt a:link,
dl.hatena-rss dt a:visited {
	padding: 0.2em 0em 0.2em 16px;
	background: url("./bm_uncheck.gif") 0% 50% no-repeat scroll transparent;
	display: block;
}

dl.hatena-rss dt a:visited {
	background-image: url("./bm_checked.gif");
}

dl.hatena-rss dd {
	margin: 0em 0.2em 0.5em 20px;
	padding: 0em;
	color: #999999;
	border: none;
	display: block;
	text-indent: 0em;
}

/*----------------------------------------------------------------------------------------*/

div.body div.ad {
	padding: 5px 0px 6px 0px;
	background: url("./dashed.gif") 0% 100% repeat-x scroll #000000;
	text-align: center;
}

div.body div.ad iframe {
	border: solid 1px #444444;
}

div.sidebar div.ad {
	margin: 1em;
	text-align: center;
}

div.hatena-clock {
	border-bottom: double 3px #444444;
	text-align: center;
}

span.hatena-counter {
	margin: 0.2em 0em 0.3em 0em;
	padding: 0.4em 0.2em 0.2em 0.2em;
	display: block;
	text-align: right;
	letter-spacing: 0.1em;
}

/*----------------------------------------------------------------------------------------*/
/*4 Hatena Group*/

div.footer {
	margin: 3px 203px 3px 2px;
	padding: 0.4em;
	border: solid 1px #444444;
	color: #999999;
	text-align: right;
}

form div.body {
	padding-bottom: 13px;
	background: url("./double.gif") 0% 100% repeat-x scroll;
	border-top: double 3px #444444;
}

textarea.uheader,
textarea.ufooter,
textarea.style {
	width: 480px;
	height: 400px;
}

form div.body h3,
h3.subtitle {
	padding: 0.4em;
	height: auto;
}

select {
	background-color: #000000;
	color: #cccccc;
}

/*----------------------------------------------------------------------------------------*/
/*Hide Long URL*/

div.commentshort p,
div.refererlist li,
dl.hatena-rss {
	overflow: hidden;
}

/*----------------------------------------------------------------------------------------*/
/*Extension By id:kamioka*/

img.banner {
	border: none;
}

hr.sep {
	display: none;
}
