@charset "utf-8";
/*
Title: machu.jp
Author: MATSUOKA Kohei
Access: kohei@machu.jp
License: GPL
Comment: simple theme.

Copyright 2015 (C) MATSUOKA Kohei <kohei@machu.jp>
*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Hiragino", "Lato", sans-serif;

	text-align: center;
	width: 100%;
	height: 100%;
	color: #333;
	background-color: #ffffff;
}

a:link {
	background-color: transparent;
	color: #5FA167;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	background-color: transparent;
	color: #537858;
}

div.adminmenu {
	text-align: right;
	color: #fff;
	background-color: #5FA167;
	filter: alpha(opacity=60);
	opacity:0.60;
	padding: 4px;
	clear: both;
}

/*
 for insert dropdown calendar into adminmenu
 */
div.adminmenu div,
div.adminmenu form,
div.adminmenu select {
	display: inline;
}

span.adminmenu,
div.adminmenu form {
	font-size: 80%;
	background-color: #5FA167;
	color: #fff;
	filter: alpha(opacity=100);
	opacity:1.00;
	padding-left: 0.5em;
}

span.adminmenu a,
span.adminmenu a:visited {
	color: #fff;
	background-color: inherit;
	text-decoration: none;
}

div.content {
	text-align: left;
	margin: 0px auto;
	max-width: 1040px;
}

h1 {
	font-size: 3em;
	height: 45px;
	padding: 0.5em;
	margin: 1em 0 0.2em 0;
	color:#333;
	background-color: transparent;
	text-align: left;
	border-bottom: solid 1px #aaa;
	font-weight: normal;
}

h1 a, h1 a:visited, h1 a:hover {
	color: #333;
	text-decoration: none;
}

hr.sep {
	display: none;
}

div.main {
	float: left;
	max-width: 800px;
}

div.day {
	line-height: 170%;
	color: #000;
	background-color: white;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 8px;
	border-bottom: solid 1px #CF7E7A;
}

div.day h2 {
	text-align: right;
	margin: 2em 1em 0.2em 0;
	font-weight: normal;
}
div.day h2 a,
div.day h2 a:visited,
div.day h2 a:hover {
	font-size: 1.5em;
	color: #cf7e7a;
	text-decoration :none;
}
div.day h2 span.date {
	font-size: medium;
	margin-left: 0.3em;
}

div.body,
div.comment,
div.day div.form,
div.referer,
div.refererlist {
	margin: 16px;
}

div.section {
	margin-top: 30px;
}

div.section h3 {
	margin: 1em 0em 1.5em 0em;
	font-size: 130%;
	font-weight: normal;
	font-size: 1.8em;
	line-height: 150%;
}

div.section h4 {
	margin: 1.5em 0.5em;
	padding-left: 0.5em;
	font-size: 110%;
	font-weight: normal;
	border-left: solid 5px #E7A3A0;
	font-size: 1.5em;
}

div.section h5 {
	margin: 2em 1em 1em 1em;
	font-size: medium;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
}


.sanchor {
	color: #cf7e7a;
	background-color: #cf7e7a;
	padding: 0.8em 1em 0 0;
	font-size: 1px;
}

h3 a {
	text-decoration: none;
}

div.section h4 {
	margin-top: 2em;
	margin-left: 10px;
}

div.section p {
	margin: 1em 0px 1em 10px;
}

div.section pre {
	background-color: #f5f5f5;
	color: #333;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border: solid 1px #999999;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 130%;
}
/*
div.section pre {
	margin: 1em 10px 1em 30px;
	padding: 8px;
	background-color: #fff;
}
*/

div.section blockquote {
	margin: 1em 10px 1em 30px;
	padding: 2px 10px;
	background-color: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #555;
}

div.section ul,
div.section ol {
	margin-left: 50px;
}

div.section dl {
	margin: 1em 0px 1em 30px;
}

div.section dt {
	float: left;
	clear: left;
	font-weight: bold;
	width: 5em;
}

div.section dd {
	overflow: auto;
	margin-bottom: 10px;
}

div.section table {
	margin: 1em 0px 1em 30px;
	width: 90%;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	empty-cells: show;
}

div.section th {
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	color: #fff;
	background-color: #555;
	padding: 0.3em 0.5em;
	text-align: left;
}

div.section td {
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 0.3em 1em;
}

div.section img {
	border-style: solid;
	border-color: #888;
	border-width: 1px;
}

div.section img.right, img.amazon {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

div.section img.left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

div.section img.photo {
	display: block;
	float: none;
	margin: 0px auto;
	margin-bottom: 10px;
}

div.section div.footnote {
	margin-top: 20px;
	margin-left: 20px;
}

a.amazon-detail,
a.amazon-detail:visited,
a.amazon-detail:hover {
	color: #000;
	text-decoration: none;
}

div.amazon-detail {
	margin: 1em 10px 1em 30px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #fff;
	padding: 8px;
}

img.amazon-detail {
	float: left !important;
	margin-right: 10px !important;
	border: none !important;
}

div.amazon-detail-desc {
	overflow: auto;
}

div.sequel {
	font-size: small;
	text-align: right;
}

div.profile {
	text-align: center;
	border: none;
	width: 70%;
	margin: 0px auto;
}

div.profile a {
	color: #000;
}

div.profile img {
	border: none;
}

div.profile span {
	display: block;
}

div.profile span.profile-name {
	font-weight: bold;
}

div.profile span.profile-description {
	text-align: left;
}

div.section div.everytrail {
	text-align: center;
}

div.section object.ustream {
	display: block;
	text-align: center;
	margin: 10px auto;
}

form.search div {
	width: 100%;
}

form.search input.text {
	font-size: medium;
	width: 160px;
	max-width: 80%;
}

form.search input.button {
	width: 32px;
}

div.commentbody .commentator {
	margin-top: 10px;
}

div.caption {
	background: #A1D0A7;
	font-size: 90%;
	border-style: solid;
	border-color: #9B6E6B;
	border-width: 0px 0px 1px 0px;
	margin: 0em;
	padding: 0.2em;
	padding-left: 0.5em;
	color: #333333;
}

div.caption a {
	color: #333333;
}

div.comment {
	background-color: transparent;
	color: #000;
	border-style: solid;
	border-color: #445544;
	border-width: 1px;
	margin: 0.5em 2em 0.5em 2em;
}

form.comment {
	margin: 1em;
}

div.comment .caption,
div.refererlist .caption,
div.day div.form .caption {
}

div.comment .caption a {
	font-weight: normal;
}

.canchor {
	color: #888;
	background-color: #888;
	padding: 0.5em 0.2em 0px 0.2em;
	font-size: 1px;
}

div.commentbody p {
	margin-left: 10px;
}

div.day div.form {
	border-style: solid;
	border-color: #445544;
	border-width: 1px;
}

div.day div.form div.title input {
	display: block;
}

div.day div.form div {
	margin-bottom: 10px;
}

div.day div.form div.name {
	width: 48%;
	float: left;
	margin-right: 2%;
}
div.day div.form div.name input {
	width: 100%;
}

div.day div.form div.mail {
	overflow: auto;
}
div.day div.form div.mail input {
	width: 98%;
}

div.day div.form div.textarea {
	width: 100%;
	clear: left;
}
div.day div.form div.textarea textarea {
	width: 100%;
}

div.day div.form input,
div.day div.form textarea {
	padding-top: 4px;
	padding-bottom: 4px;
}

div.day div.form .button input {
	display: inline;
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
}

div.day div.form .button {
	text-align: right;
}

div.refererlist ul,
div.refererlist li {
	margin-left: 20px;
}

div.sidebar {
	color: inherit;
	background-color: #fff;
	overflow: auto;
	zoom: 1;
	/*
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: solid;
	*/
	padding: 1em 0.5em;
	font-size: small;
}

div.sidebar a{
	text-decoration: none;
}



div.sidebar-item {
	margin-bottom: 10px;
	padding: 10px;
}

div.sidebar-item h3 {
	font-size: small;
	font-weight: normal;
	border-bottom: solid 1px #999;
	padding: 5px;
	margin: -5px -5px 5px -5px;
}

div.sidebar-item ul {
	list-style-type: none;
	margin: 0px;
}

div.sidebar-item img.amazon {
	display: none;
}

div.footer {
	margin-top: 10px;
	clear: both;
	color: #000;
	background-color: #A1D0A7;
	font-size: small;
	backgruoud-image: #A1D0A7;
	padding: 1.5em;
}
div.footer a,
div.footer a:visited,
div.footer a:hover {
	color: #88e;
}

body.update {
	background-image: none;
	background-color: #222;
}

body.update h1 {
	display: table-cell;
	vertical-align: middle;
	height: 80px;
	padding: 0px;
	padding-left: 280px;
	color: #fff;
	background-color: transparent;
	text-align: left;
}

body.update div.autopagerize_page_element {
	max-width: 900px;
	margin: 10px auto 10px auto;
	text-align: left;
}

div.update {
	text-align: left;
	margin: 10px auto 0px auto;
	max-width: 900px;
}

div.update div.caption {
	font-size: large;
	padding-top: 10px;
}

div.update h3.subtitle {
	margin: 1.5em 0em 1.5em 0em;
	font-size: 130%;
}

span.year input,
span.month input,
span.day input {
	text-align: center;
}

form.update div.title {
	margin-top: 10px;
}
form.update div.title input {
	padding-left: 10px;
	width: 100%;
}

div.update div.form .button input {
	padding: 2px;
}

p.message {
	color: #fff;
	background-color: #800;
	width: 100%;
	margin: 0px auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-weight: bold;
}

dl.search-result dt {
	margin-top: 1em;
}

dl.search-result dd {
	margin-left: 2em;
}

div.search-navi {
	text-align: center;
	margin: 10px 0px;
}

div.category {
	text-align: left;
	margin: 0px auto;
	width: 900px;
}

div.category ul {
	list-style-type: none;
}

img.flickr {
	border: solid 1px #888;
}

.highlight {
	color: inherit;
	background-color: #FCFCFC;
}

div.gist pre {
	font-size: small;
	line-height: 130%;
}

/*
 design for iPhone and other smart phones
 */
@media screen and (max-device-width: 480px) {
	body {
	}

	div.adminmenu {
		font-size: x-small;
		margin: 0px;
		width: 100%;
	}

	h1 {
		padding-top: 10px;
		height: 40px;
		font-size: 90%;
	}

	div.content {
		width: 100%;
	}

	div.main {
		width: 100%;
	}

	div.day {
		margin-right: 0px;
		width: 100%;
	}

	div.day h2 {
		background-color: transparent;
	}

	div.section h3 {
		margin-left: 0px;
		text-indent: 0px;
	}

	div.section img.left,
	div.section img.right,
	div.section img.flickr,
	div.section img.photo {
		display: block;
		float: none;
		margin: 10px auto;
		max-width: 300px !important;
		height: auto;
	}

	div.section img.amazon {
		max-width: 150px !important;
	}

	body.update h1 {
		background-image: none;
		height: auto;
		display: block;
		padding: 0px;
	}

	body.update div.autopagerize_page_element {
		width: 100%;
	}

	div.update {
		width: 100%;
	}

	textarea {
		font-size: 110%;
	}
}
