@charset 'euc-jp';

/*===================**
  Colorless Style
**===================*/

/***** ***** ***** ***** Basic Elements ****** ***** ***** *****/
/*---------------[ Universal Selector ]---------------*/

* {
	margin			:	0 ;
	padding			:	0 ;
	box-sizing		:	border-box ;
	-moz-box-sizing		:	border-box ;
	word-break		:	break-all ;
	word-wrap		:	break-word ;
}



/*---------------[ Basic Elements ]---------------*/
/*-----[ HTML & BODY ]-----*/

html {}
body {
	padding			:	0 2.5% ;
	font-family		:	'Verdana', 'Osaka', 'MS UI Gothic', sans-serif ;
	font-size		:	100% ;
}



/*-----[ Table -Hatena Table Header- ]-----*/

table {}
td {}
table table {}
td td {}
td font {}
td a:link font {}
td a:visited font {}
td a:active font {}
td a:hover font {}

/*-----[ Hn ]-----*/

h1 {
	padding			:	1.5em 0.2em ;
	font-size		:	200% ;
	background-repeat	:	no-repeat ;
	background-position	:	right bottom ;
	background-attachment	:	scroll ;
}

h2, h3, h4 {
	font-weight		:	normal ;
}
h2 {}
h3 {}
h4 {}

p {
	margin			:	0.5em 1em ;
	line-height		:	1.5 ;
	text-indent		:	1em ;
	text-align		:	justify ;
	text-justify		:	inter-ideograph ;
}

ul {
	margin			:	2em 1em 2em 3em ;
}
ul li {}
ol {
	margin			:	2em 1em 2em 3.5em ;
}
ol li {}
li {
	line-height		:	1.4 ;
}

dl {
	margin			:	2em ;
}
dt {
	margin-bottom		:	0.5em ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}
dd {
	margin			:	0 0 1em 3em ;
}

blockquote {
	margin			:	2em ;
	border-style		:	solid ;
	border-width		:	1px ;
}
blockquote p {}
blockquote ul,
blockquote ol,
blockquote dl,
blockquote pre {
	margin-top		:	1em ;
	margin-bottom		:	1em ;
}
blockquote ul {}
blockquote ol {}
blockquote dl {}
blockquote pre {}
blockquote cite {
	display			:	block ;
	font-style		:	normal ;
	text-align		:	right ;
	border-top-style	:	dashed ;
	border-width		:	1px ;
}

pre {
	margin			:	2em ;
	padding			:	0.2em ;
	border-style		:	solid ;
	border-width		:	1px ;
	white-space		:	-moz-pre-wrap ;
	white-space		:	-pre-wrap ;
	white-space		:	-o-pre-wrap ;
	white-space		:	pre-wrap ;
}

del {
	text-decoration		:	line-through ;
}
ins {
	text-decoration		:	none ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}

form {}
input {
	vertical-align		:	middle ;
}
textarea {}

img {
	border			:	none ;
}



/*---------------[ Pseudo Elements -Basic- ]---------------*/

a:link {
	text-decoration		:	underline ;
}
a:visited {
	text-decoration		:	underline ;
}
a:active {}
a:hover {}





/***** ***** ***** ***** Hatena-Diary Classes ***** ***** ***** *****/
/*---------------[ Layout Classes // Huge Box ]---------------*/



/*----------[ Commons ]----------*/

table, div.adminmenu, h1, div.hatena-body,
div.main, div.sidebar,div.calendar,div.footer {
	border-style		:	solid ;
}
table {
	border-width		:	0 1px ;
}
table table {
	border-width		:	0 ;
}
div.adminmenu, h1, div.hatena-body {
	border-width		:	0 1px 1px 1px ;
}



/*----------[ Div.hatena-body ]----------*/
div.hatena-body {
	width			:	100% ;
	position		:	relative ;
	top			:	0 ;
	left			:	0 ;
	border			:	none ;
}

/*----------[ Div.main ]----------*/

div.main {
	margin-left		:	26% ;
	margin-right		:	0 ;
	border-width		:	0 1px ;
}

/*----------[ Div.sidebar ]----------*/

div.sidebar {
	width			:	25% ;
	position		:	absolute ;
	top			:	0 ;
	left			:	0 ;
	font-size		:	80% ;
	border-width		:	0 1px ;
}



/*----------[ Div.adminmenu ]----------*/

div.adminmenu {
	padding			:	0.5em ;
	font-size		:	80% ;
	text-align		:	right ;
}
span.adminmenu {}

span.adminmenu a:link,
span.adminmenu a:visited {
	text-decoration		:	none ;
}
span.adminmenu a:hover {}



/*[ CASE1: Child of div.hatena-body ]*/

div.hatena-body div.adminmenu {
	margin-left		:	26% ;
	border-width		:	0 1px 1px 1px ;
}


/*[ CASE2: Child of div.main ]*/

div.main div.adminmenu {
	margin-left		:	0 ;
	border-width		:	0 0 1px 0 ;
}


/*[ CASE3: Child of div.sidebar ]*/

div.sidebar div.adminmenu {
	margin-left		:	0 ;
	padding			:	0 ;
	text-align		:	left ;
	border-width		:	0 ;
}
div.sidebar span.adminmenu {
	display			:	block ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}
div.sidebar span.adminmenu a {
	padding			:	0.5em 0.2em ;
	display			:	block ;
	width			:	auto ;
	height			:	auto ;
	text-decoration		:	none ;
}
div.sidebar span.adminmenu a:link,
div.sidebar span.adminmenu a:visited {}
div.sidebar span.adminmenu a:hover {}




/*----------[ Others ]----------*/
div.calendar {
	padding			:	0.2em ;
	font-size		:	90% ;
	text-align		:	center ;
	border-width		:	0 1px 1px 1px ;
	position		:	relative ;
	top			:	0 ;
	left			:	0 ;
}
div.main div.calendar {
	border-width		:	0 0 1px 0 ;
}
div.calendar a:link,
div.calendar a:visited {
	text-decoration		:	none ;
}
div.calendar a:hover {}
div.footer {
	padding			:	0.5em ;
	font-size		:	80% ;
	text-align		:	right ;
	border-width		:	0 ;
}

.hatena-description {
	padding			:	0.2em ;
	font-size		:	90% ;
	border-style		:	solid ;
	border-width		:	0 1px 1px 1px ;
	border-color		:	#999 ;
	background-color	:	#ddd ;
	color			:	#222 ;
	width			:	100% ;
}
.main .hatena-description,
.sidebar .hatena-description {
	border-width		:	0 0 1px 0 ;
}
.sidebar .hatena-module .hatena-description ul {
	border-width		:	0 ;
}






/***** ***** ***** Hatena Diary Classes ***** ***** *****/
/*---------------[ Commons ]---------------*/
div.day h2,
div.body,
div.comment,
div.refererlist {
	font-size		:	90% ;
}

div.day, div.day h2 {
	border-style		:	solid ;
}

div.section,
div.footnote,
div.comment,
div.refererlist {
	margin			:	1em ;
	border-style		:	solid ;
	border-width		:	1px ;
}


/*-----[ Keyword ]-----*/

a.keyword:link,
a.okeyword:link {
	text-decoration		:	none ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}
a.keyword:visited,
a.okeyword:visited {
	text-decoration		:	none ;
	border-bottom-style	:	dashed ;
	border-bottom-width	:	1px ;
}



/*---------------[ Div.day ]---------------*/

div.day {
	border-width		:	0 1px 1px 1px ;
	width			:	100% ;
}

.main div.day {
	border-width		:	0 0 1px 0 ;
}

div.day h2 {
	padding			:	1em 1em 1em 1.5em ;
	border-width		:	0 0 1px 0 ;
}

div.day h2 a:link,
div.day h2 a:visited {
	text-decoration		:	none ;
}

span.date {
	margin-bottom		:	0.75em ;
	margin-left		:	-1em ;
	padding-left		:	0.1em ;
	display			:	block ;
	width			:	90% ;
	font-size		:	150% ;
	font-weight		:	700 ;
	border-style		:	solid ;
	border-width		:	1px 1px 1px 0.5em ;
}

a:link span.date,
a:visited span.date {}
a:hover span.date {}

span.title {}



/*----------[ Div.body ]----------*/
div.body {}

img.photo {
	margin			:	1em ;
	float			:	right ;
	border-style		:	solid ;
	border-width		:	1px ;
}

div.body > img.photo {
	margin-top		:	0 ;
}

.body table {
	border			:	none ;
	margin			:	1em ;
	font-size		:	100% ;
}

/*----------[ Div.section ]----------*/
div.section {
	padding			:	0 0 1em 0 ;
}
div.section h3 {
	margin			:	0 0 2em 0 ;
	padding			:	1.5em 0.5em 1.5em 1em ;
	border-bottom-style	:	solid ;
	border-width		:	1px ;
}

div.section h3 a:link,
div.section h3 a:visited {
	text-decoration		:	none ;
}
span.sanchor {}
a:link span.sanchor,
a:visited span.sanchor {}
a:hover span.sanchor {}
a.sectioncategory:link,
a.sectioncategory:visited {
	text-decoration		:	underline ;
}
a.sectioncategory:hover {
	text-decoration		:	none ;
}

span.timestamp {
	font-size		:	80% ;
}


/*----------[ Div.footnote ]----------*/
div.footnote {}
p.footnote {
	margin			:	0.5em 1em 0.5em 3em ;
	font-size		:	90% ;
	text-indent		:	-2em ;
}
span.footnote {}



/*----------[ Div.comment & Div.refererlist ]----------*/
div.comment {}
div.commentshort {
	border-style		:	solid ;
	border-width		:	1px 0 0 0 ;
}
div.commentshort p {
	margin			:	0.5em 1em 0.5em 3em ;
	font-size		:	90% ;
	text-indent		:	0em ;
	text-align		:	left ;
}
span.canchor {}
a.commentator {}
div.refererlist {}
div.refererlist ul {
	margin			:	0 ;
	padding			:	1.5em 1em ;
	list-style-type		:	none ;
	font-size		:	90% ;
	border-top		:	solid ;
	border-width		:	1px ;
}
div.caption {
	margin			:	0.2em ;
	font-size		:	90% ;
}





/***** ***** ***** Hatena Module Classes (Inner Sidebar Classes) ***** ***** *****/
/*---------------[ Commons ]---------------*/
form.hatena-searchform,
ul.hatena-photo,
div.hatena-modulebody ul li {
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}

form.hatena-searchform,
table.calendar,
ul.hatena-photo,
div.hatena-modulebody ul li a:link,
div.hatena-modulebody ul li a:visited {}

/*---------------[ Div.hatena-module ]---------------*/

div.hatena-module {
	width			:	100% ;
}

div.hatena-moduletitle {
	padding			:	1em 0.2em 0.2em 0.2em ;
	font-size		:	120% ;
	font-weight		:	600 ;
	letter-spacing		:	0.1em ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}
div.hatena-moduletitle a:link,
div.hatena-moduletitle a:visited {
	text-decoration		:	none ;
}
div.hatena-moduletitle a:hover {}

div.hatena-modulebody {}
div.hatena-modulebody ul {
	margin			:	0 ;
	list-style-type		:	none ;
}
div.hatena-modulebody ul li {
	line-height		:	1,2 ;
}
div.hatena-modulebody ul li a {
	padding			:	0.4em 0.2em ;
	display			:	block ;
	width			:	auto ;
	height			:	auto ;
}
div.hatena-modulebody ul li a:link,
div.hatena-modulebody ul li a:visited {
	text-decoration		:	none ;
}
div.hatena-modulebody ul li a:hover {}



/*---------------[ Searchform Module ]---------------*/

form.hatena-searchform {
	padding			:	1em 0 ;
	text-align		:	center ;
}

input.hatena-searchform {
	margin			:	0 1px ;
	border-style		:	solid ;
	border-width		:	1px ;
}
span.highlight {}



/*---------------[ Calendar2photo Module ]---------------*/

table.calendar {
	font-size		:	100% ;
	border-width		:	0 0 1px 0 ;
}

table.calendar {
	width			:	100% ;
}
_table.calendar {
	width			:	auto ;
	table-layout		:	fixed ;
}

table.calendar td {
	text-align		:	center ;
	border-style		:	solid ;
	border-width		:	1px ;
}

td.calendar-prev-month {}
td.calendar-current-month {}
td.calendar-next-month {}

td.calendar-sunday,
td.calendar-weekday,
td.calendar-saturday {
	padding-top		:	2px ;
}
td.calendar-sunday {}
td.calendar-weekday {}
td.calendar-saturday {}
td.calendar-day {}

table.calendar td img {
	margin			:	0.1em 0 ;
	vertical-align		:	middle ;
	width			:	1em ;
	height			:	0.8em ;
	border-style		:	solid ;
	border-width		:	1px ;
	-moz-box-sizing		:	content-box ;
}

table.calendar a:link,
table.calendar a:visited {
	padding-top		:	0 ;
	display			:	block ;
	text-decoration		:	none ;
	height			:	100% ;
}
table.calendar a:hover {}
table.calendar a:link img,
table.calendar a:visited img {}
table.calendar a:hover img {}



/*---------------[ Photo Module ]---------------*/

div.hatena-modulebody ul.hatena-photo li,
div.hatena-modulebody ul.hatena-photo li a {
	padding			:	0 ;
	display			:	inline ;
	width			:	auto ;
	height			:	auto ;
}

ul.hatena-photo {
	padding			:	0.5em 1em ;
	display			:	block ;
	text-align		:	center ;
	line-height		:	1 ;
}
div.hatena-modulebody ul.hatena-photo li {
	border-bottom		:	none ;
}

div.hatena-modulebody ul.hatena-photo li a:hover {
	background-color	:	transparent ;
}

img.hatena-photo {
	margin			:	0.5em 1px ;
	vertical-align		:	top ;
	border-style		:	solid ;
	border-width		:	1px ;
}
a:link img.hatena-photo,
a:visited img.hatena-photo {}
a:hover img.hatena-photo {
}



/*---------------[ Section Module ]---------------*/
ul.hatena-section {}

/*---------------[ Antenna Module ]---------------*/
ul.hatena-antenna {}

/*---------------[ Question Module ]---------------*/
ul.hatena-question {}

/*---------------[ Keyword Module ]---------------*/
ul.hatena-keyword {}

/*---------------[ Hotkeyword Module ]---------------*/
ul.hatena-hotkeyword {}

/*---------------[ Hoturl Module ]---------------*/
ul.hatena-hoturl {}

/*---------------[ Hotasin Module ]---------------*/
ul.hatena-hotasin {}





/***** ***** ***** Editor's Classes ***** ***** *****/

form div.day h2,
div.day form h2 {
	padding			:	1em ;
}
div.day form h2 {
	border-bottom-width	:	0 ;
}

div.day form h2 span.date {
	margin			:	0 ;
	padding			:	0 ;
	display			:	inline ;
	width			:	auto ;
	border			:	none ;
	font-size		:	100% ;
	font-weight		:	normal ;
	left			:	0 ;
	vertical-align		:	middle ;
}
div.day form h2 input {
	vertical-align		:	middle ;
	margin			:	0 ;
}

div.day form div.body {
	border-style		:	solid ;
	border-width		:	1px 0 0 0 ;
}
div.day form div.body h3 {
	margin-top		:	1em ;
	padding			:	1em ;
	border-top-style	:	solid ;
	border-top-width	:	1px ;
	border-bottom-style	:	solid ;
	border-bottom-width	:	1px ;
}
div.day form div.body p {
	margin			:	1em ;
	text-indent		:	0 ;
	line-height		:	1 ;
}
div.day form div.body blockquote {
	padding			:	0.5em ;
}

div.day input {
	margin			:	1em ;
}

div.day form input,
div.day form div.body input {
	margin			:	1em ;
}
div.day form div.body p input,
div.day form div.body dd input,
div.day form div.body blockquote input,
div.day form div.commentshort input,
div.day div.commentshort form input,
div.day form div.refererlist input {
	margin			:	0 ;
}

div.day form textarea {
	margin			:	1em 0 0 1em ;
}
div.day form div.body p textarea,
div.day form div.body blockquote textarea {
	margin			:	0 ;
}

div.day form p table {
	border-width		:	0 ;
}
div.day form div.refererlist {
	font-size		:	100% ;
}


/***** ***** ***** ***** EOT ***** ***** ***** *****/
