/*
Title: momonga
Revision: $Revision: 1.4 $
Author: ずんだあん かずひこ
Access: zunda@momonga-linux.org kazuhiko@fdiary.net
License: GPL
Comment: mo?

validated by W3C

colors:
   #351A14 Dark Brown
   #50B44C Green
   #ED7332 Orange
   #745247 Brown
   #D2C1B8 White Brown
   #000020 Night Black
   #FFFF20 Yellow
   #F1EDEC almost white (background color of momo_bg.png)
 */
/* ChangeLog
2002-10-18 NT <nt@24i.net>
        * remove some "color:".

2002-09-12 NT <nt@24i.net>
        * convert for 1.5 series.

2002-07-05 nga
	*div.section p --> margin-bottom: 1.3em ;
	*div.comment p -->line-height: 1.3em;
 */



div.footer {
  padding: 0.5em;
  margin: 0em;
  background-color: #50B44C;
  color: #FFFFFF;
  font-size: small;
  text-align: right;
  border-style: outset;
  border-color: #50B44C;
  border-width: 2px;
}

h2 a:link, h2 a:visited {
  color: #D2C1B8;
  text-decoration: none;
}

a:link, a:visited {
  color: #ED7332;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #50B44C;
}

body {
  background-color: #F0F0E0;
  color: #351A14;
}

p.message {
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: #745247;
  color: white;
  padding: 8px;
  margin: 0px;
}

div.adminmenu {
  text-align: right;
  font-size: small;
}

span.adminmenu {
  background-color: #D2C1B8;
  border-color: #D2C1B8;
  border-width: 1px;
  padding: 0.2em;
}

h1 {
  background-color: #50B44C;
  border-style: outset;
  border-color: #50B44C;
  border-width: 2px;
  color: #FFFFFF;
  padding: 0.2em;
}

h2 {
  background-color: #745247;
  border-style: outset;
  border-color: #745247;
  border-width: 1px;
  color: #FFFFFF;
  padding: 0.2em;
}

h3 {
  font-weight: bold;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #50B44C;
  padding: 0.2em;
}

p, dl, ul {
  line-height: 1.1;
  margin: 0em 1em 0em 1em;
  padding: 0em 1em 0.2em 1em;
}

address {
  font-style: italic;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0em 1em 0.2em 1em;
}

div.calendar {
  text-align: right;
  font-weight: bold;
}

p.recentcomment {
  text-align: right;
  font-size: small;
}

div.day {
}

h2 span.date {
  font-size: large;
}

h2 span.title {
}

div.body {
  padding: 0.2em;
  margin-right: 0.5em;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

div.section p {
	margin-bottom: 1.3em ;
}
pre, blockquote {
  background-color: #D2C1B8;
  color: #745247;
  margin: 1em 1em 1em 1em;
  padding: 0.75em 0.75em 0.75em 0.75em;
}

div.comment {
  background-color: #D2C1B8;
  background-image: url(momonga_bg.png);
  color: #351A14;
  margin: 0.5em;
  padding: 0.75em;
/*  font-size: small; */
}

div.comment p {
	line-height: 1.3em;
}
div.form {
  background-color: #745247;
  color: white;
  margin: 0.5em;
  padding: 1em;
}

div.comment div.caption {
}


div.refererlist div.caption {
}

div.referer {
}

hr {
}

hr.sep {
  display: none;
}

input.field {
  background-color: white;
}

textarea {
  background-color: white;
  margin-left: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li.referer, li.sidemenu, li.recentitem, li.packages {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  white-space: nowrap;
}

ul.referer, ul.sidemenu, ul.recentitem, ul.packages {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 3em;
}

ul.recentitem {
  margin-top: 0em;
  margin-bottom: 0em;
  white-space: nowrap;
}

div.body dt {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-weight: bold;
}

div.day span.sanchor {
	background-image: url(momonga_icon_s.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 32px 32px 0px 0px;
	color: #F0F0E0;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(momonga_icon.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px; 
	color: #F0F0E0;
	background-color: transparent;
	font-size: 1px;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 0.9em;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 0.9em;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 0.9em;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 0.9em;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
