/*
        tuki.css tuki Style Sheet of tDiary $Revision: 1.3 $
        Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc/
	validated by W3C
    
        Changelog 2002.3.16 by Nana
        color:pink>>>#ffc0cb,red>>>#ff0000,white>>>#fff
        font-size:15px>>>font-size:medium
*/
        
a:link, a:visited {
	color: #ffc0cb;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #ff0000;
}

body {
        background-color:#fff;
	background-image: url(tuki.gif);
        background-repeat: repeat-y;
        color: #555;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: #ff0;
	color: #fff;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
        text-align: right;
	
}

span.adminmenu {
	background-image:url("tuki_2.gif");
        border-style: outset;
        border-color: #fff;
        border-width: 1px;
        padding: 3px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	
	padding: 4px;
	text-align: center;
}

p.calendar {
	background-image: url(tuki_2.gif);
        background-repeat: repeat-x;
	text-align: right;
	padding: 2px;
	font-weight: bold;
        margin-left: 80px;
        font-size:15px;
}

div.day {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 80px;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.1em;
	padding: 3px;
}

span.date {
	font-size: medium;
}

span.title {
	color: #fff;
	margin-right: 1em;
}

div.body {
        background-color: #fff;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 20px;
        margin-right: 20px;
}

p {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3.subtitle {
	border-style: solid;
	color: #999;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: #ffc0cb;
	color: #999;
	margin-left: 3em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	color: #555;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

p.commenttitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
        width:90%;
}

span.commentator {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
    
}

p.referertitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	background-color: #fff;
	text-align: right;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 4em;
}

div.refererlist {
	background-image: url(tuki_2.gif);
        background-repeat: repeat-x;
	color: #ffc0cb;
        padding: 2px;
	padding-bottom: 1px;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #ffc0cb;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	text-align: right;
	margin-top: 0px;
}

div.form {
	color: #555;
	background-image: url(tuki_2.gif);
        padding: 5px;
	margin-bottom: 0.5em;
	margin-left: 6em;
}
    
input.field {
	background-color: #fff;
}

textarea {
	background-color: #fff;
	margin-left: 3em;
        width: 80%;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

