/*
Title: tuki
Revision: $Revision: 1.6 $
Author: Nana
Access: http://mikan.sakura.ne.jp/~mpc/
License: GPL
Comment: support calendar2

Copyright by (C) Nana <http://mikan.sakura.ne.jp/~mpc/>
validated by W3C
*/
/* ChengeLog
2002-04-28 Nana
        * support calendar2,blockquote
        * color#999-> #555
        * add body font-size:1em
        * pre color #999 -> #555 

2002-04-03 TADA Tadashi <sho@spc.gr.jp>
	* #fff -> #555 on title.
	* add specifications.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.

2002-03-16 Nana
	* color:pink>>>#ffc0cb,red>>>#ff0000,white>>>#fff
	* font-size:15px>>>font-size:medium
*/
        
a:link, a:visited {
	color: #ffc0cb;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #ff0000;
}

body {
        background-color:#fff;
	background-image: url(tuki.gif);
        background-repeat: repeat-y;
        color: #555;
        font-size: 1em;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: #ff0;
	color: #fff;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
        text-align: right;
	
}

span.adminmenu {
	background-image:url("tuki_2.gif");
        border-style: outset;
        border-color: #fff;
        border-width: 1px;
        padding: 3px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	padding: 4px;
	text-align: center;
}

p.calendar {
	background-image: url(tuki_2.gif);
        background-repeat: repeat-x;
	text-align: right;
	padding: 2px;
	font-weight: bold;
        margin-left: 80px;
}

div.day {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 80px;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.1em;
	padding: 3px;
}

span.date {
	font-size: 1em;
}

span.title {
	color: #555;
	margin-right: 1em;
}

div.body {
        background-color: #fff;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 20px;
        margin-right: 20px;
}

p {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3.subtitle {
	border-style: solid;
	color: #555;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: #E6E6FA;
	color: #555;
	margin-left: 3em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	color: #555;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

p.commenttitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
        width:90%;
}

span.commentator {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
    
}

p.referertitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	background-color: #fff;
	text-align: right;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 4em;
}

div.refererlist {
	background-image: url(tuki_2.gif);
        background-repeat: repeat-x;
	color: #ffc0cb;
        padding: 2px;
	padding-bottom: 1px;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #ffc0cb;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	text-align: right;
	margin-top: 0px;
}

div.form {
	color: #555;
	background-image: url(tuki_2.gif);
        padding: 5px;
	margin-bottom: 0.5em;
	margin-left: 6em;
}

div.form form {
        width: 100%;
}
    
input.field {
	background-color: #fff;
}

textarea {
	background-color: #fff;
	margin-left: 3em;
        width: 90%;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

blockquote {
        border-width: 2px 0px 2px 0px;
        border-color: #FFB6C1;
        border-style: dotted;
        background-color: #FFFAFA;
        color: #DB7093;
}

/* calendar2 */
table.calendar {
	       font-size: 0.9em;
	       line-height: 100%;
	       border-width: 2px;
               border-color: #FFB6C1;
               border-style: dotted;
               background-color: #FFFAFA;
               color: #555;
               padding: 2px;
               margin-left: 5em;
}

table.calendar td {
	       margin: 0px;
	       text-align: right;
	       padding: 0px;
	       margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
			   text-align: center;
}