/*
	dot.css: Default Style Sheet of tDiary $Revision: 1.5 $
	validated by W3C.
 */
/*CangeLog
2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.

2002-03-04 nga <stakei@nga.jp>
	DarkGreen -> #006400
 */

a:link, a:visited {
	color:#006400;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: orange;
	color: black;
	margin: 1em 4em 1em 4em; 
	padding: 1em; 
	border-style: none solid none solid;
	border-color: #f80 #fc0 #f80 #fc0;
	border-width: 30px;
	font-size: 13px;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
p.adminmenu {
	text-align: right;
	font-size: small;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: orange;
	color: black;
	border-style: none ridge none ridge;
	border-color: #fc0 #f80 #f80 #fc0;
	border-width: 20px;
	padding: 3px;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: center;
}

/*
カレンダーの設定
*/
p.calendar {
	background-color: #fc0;
	color: black;
	padding: 2px;
	margin-bottom: 0.5em;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	background-color: orange;
	border-style: dotted;
	border-color: orange #fc0 orange #fc0;
	border-width: 1px 30px 1px 30px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

/*
タイトル行全体の設定
*/
h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}

/*
日付の設定
*/
span.date {
	font-size: large;
	margin-left: 0.5em;
}

/*
タイトルの設定
*/
span.title {
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: orange;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 12px;
	margin-right: 12px;
	border-style: dotted;
	border-color: orange #fc0 orange #fc0;
	border-width: 1px 30px 1px 30px;
}

/*
サブタイトルの設定
*/
h3.subtitle {
	background-color: #fc0;
	font-size: 1em;
	text-align: center;
	margin: 0em;
	font-weight: bold;
}
/*
日記の本文(段落)の設定
*/
p {
/*	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
*/
}

/*
ツッコミ欄全体の設定
*/

div.comment {
	background-color: orange;
	font-size: x-small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 12px;
	margin-right: 12px;
	border-style: dotted;
	border-color: orange #fc0 orange #fc0;
	border-width: 1px 30px 1px 30px;
}

/*
ツッコミ欄タイトル行の設定
*/

p.commenttitle {
	background-color: #fc0;
}

div.comment p {
}
/*
ツッコミした人の名前の設定
*/
span.commentator {
	border-style: solid;
	border-color: #f60;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

/*
リンク元リスト(短い方)の設定
*/
p.referer {
	background-color: #fc0;
	text-align: right;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 12px;
	margin-right: 12px;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	font-size: x-small;
	background-color: orange;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 12px;
	margin-right: 12px;
	border-style: dotted;
	border-color: orange #fc0 orange #fc0;
	border-width: 1px 30px 1px 30px;

}

/*
リンク元リストタイトルの設定
*/
p.referertitle {
	background-color: #fc0;
}

/*
リンク元リスト一覧の設定
*/
ul.referer {
	margin-top: 0em;
}

li {
    	list-style: circle;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: orange;
	border-style: dotted;
	border-color: orange #fc0 orange #fc0;
	border-width: 1px 60px 1px 60px;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 95%;
}

/*
入力フィールドの設定
*/
input.field {
	background-color: #fc0;
}

/*
複数行入力フィールドの設定
*/
textarea {
	background-color: #fc0;
	margin-left: 1em;
	font-size: x-small;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: black;
	font-size: small;
	color: #ff8000;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

/*
項目リストの設定
*/
dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

