@charset "euc-jp";
/*
Title: husen
Revision: $Revision: 1.7 $
Author: kosaka <kosaka@tnat.net>
Access: http://ko.cot.jp/
License: GPL
Comment: ノートに付箋 左sidebarに対応

validated by W3C.

--sidebarに対応しています。設定で以下を追加してください。--
 ヘッダ
    <div class="rightmain">
 フッタ
   </div>
   <div class="leftsidebar">
   <%=calendar%>
   <%=recent_list day=10 %> ←recent_listを入れる場合だけ記述する。
</div>
 
 Changelog
 	    2002-10-20
   	     Nana <moo@xu.boo.jp>
             * add image anchor,footnote
*/

body{
	margin: 10px 30px 30px 30px;
	color:#000;
	background-color:#ddddff;
	line-height: 1.2em;
}

a:link,a:visited {
	color: #3333ff;
	text-decoration:none;
	background-color: transparent;
}

a:hover {
	color: #ff0033;
	background-color: #ffff00
}

div.rightmain {
	margin-left: 230px;
}

div.leftsidebar {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 10px;
	color:#000;
	background-color:#fff;
	border-style: solid groove groove solid ;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc;
	background-image:url(husen_back.gif);
}

hr.sep{
	display: none;
}

div.adminmenu {
	text-align: right;
}

span.adminmenu{
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1{
	font-size: 180%;
}

h2 {
	text-align: right;
	font-size: 100%;
	line-height: 1.0em;
	margin-bottom: 3px;
	margin-right :10px;
	color:#5f5f5f;
	background-color: transparent;
}

h3 {
	font-size: 130%;
}

div.day{
	margin-top: 40px;
}

span.date{
	margin-bottom: 0px;
	background-color:#fff;
	padding:  6px 2px 70px 2px;
	border-style: solid solid solid solid;
	border-width: 20px 1px 1px 1px;
	border-color: #6699cc #ccc #ccc #ccc;
	color:#5f5f5f;
}

span.title{
	position: relative;
	top: 25px;
	color:#5f5f5f;
	background-color: transparent;
	text-decoration:underline;
	padding: 3px;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/

div.day span.sanchor {
	background-image: url(husen_sanchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 13px 13px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(husen_canchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 10px 10px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

pre {
	margin: 0px;
	padding: 10px;
	border-style: dashed;
	border-width: 2px;
	border-color: #ccc;
	line-height: 1.3em;
	background-color: #fff;
	color:#000;
}

div.body blockquote {
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	line-height: 1.3em;
	background-color: #fff;
	color:#000;
}

ul {
	text-indent: 20px;
}

ol {
	text-indent:20px;
}

div.body{
	background-color:#fff;
	padding: 30px 30px 10px 30px;
	border-style: solid groove groove solid ;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc;
	background-image:url(husen_back.gif);
	color:#000;
}

div.section {
	margin-bottom: 30px;
	line-height: 1.7em;
}

div.section p{
	margin-top   :0;
	margin-bottom:0;
}

div.comment {
	color:#000;
	background-color:#eeeeff;
	margin-top: 10px;
	font-size: 95%;
	line-height: 1.5em;
	border-style: solid;
	border-color: #aaa #eee #eee #aaa;
	border-width: 1px;
	padding: 5px;
}
p.commenttitle{
	margin: 0px;
}

div.comment p {
	margin : 0px;
}

div.form {
	margin: 10px;
	line-height: 1.2em;
}


div.referer {
	text-align: right;
	margin-right : 5px;
	margin-top   : 5px;
	margin-bottom: 70px;
	font-size: 95%;
}

div.refererlist {
	margin: 10px;
	font-size: 95%;
}

div.calendar {
	font-size: 95%;
}

p.recentitem {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 95%;
}

div.recentsubtitles {
	margin-bottom:10px;
	margin-left  :10px;
	line-height: 1.1em;
	font-size: 95%;
}

img.right{
	float:right;
	margin-left: 10px;
	border-width: 1px;
	border-color: #ccc;
}

textarea {
	font-size: 12px ; 
}

div.footer {
	text-align: right;
	line-height: 1.2em;
}

/* calendar2 */
table.calendar {
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #4682b4;
	margin-bottom: 1em;
	font-size: 90%;
	line-height: 0.9em;
}

td.calendar-current-month {
	text-align: center;
	line-height: 1.4em;
}

td.calendar-next-month {
	text-align: right;
}

td.calendar-prev-month {
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	text-align: center;
}

td.calendar-weekday {
	color: #000000;
	background-color: #ddd;
	text-align: center;
}

td.calendar-day {
	text-align: right;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 80%;
}

div.footnote {
	margin-left: 20px;
	font-size: 90%;
}

p.source{
	margin-top: 0em;
	margin-right: 1.5em;
	text-align: right;
	font-size:90%;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
	font-weight: bold;
	color: #3333cc;
	background-color: transparent;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
