/*
	line-orange.css: Line-orange Style Sheet of tDiary $Revision: 1.2 $
	Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc
	Modified by TADA Tadashi
 
        Changelog 2002.3.14 by Nana
        font-size:13px>>>font-size:1em
        all font-famiry were deleted.
        rename line2_bd.gif>>>line-orange_back.gif 
        copyright rename zoe>>>Nana
*/

body {
        text-align : center;
        margin: 0em 4em 0em 4em; 
	padding: 1em; 
	border-style: none solid none solid;
	border-color: transparent #FF8000 transparent #FF8000;
	border-width: 30px;
        font-size: 1em;
	background-image: url(line-orange_back.gif);
	color: #FF8000;
}

a:link {
        text-decoration: none;
	color: #FF0080;
        font-weight: bold;
}

a:visited {
        text-decoration: none;
        color: #FF8000;
        font-weight: bold;
}

a:hover,a:active {
        text-decoration: none;
        color: #000;
}

p.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: 13px;
	background-color: red;
	color: #fff;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	padding: 3px;
        font-size: 1em;
}

h1 {
	text-align: left;
	font-size: 13px;
}

p.calendar {
	font-size: 1em;
        font-weight: bold;
	background-color: transparent;
	text-align: left;
	padding: 2px;
        border-style: solid;
	border-color: #FF8000;
	border-width: 1px;
        border-style: none;
}

div.day {
        -moz-opacity:0.5;
        filter:Alpha(opacity=50);
        font-size: medium;
	margin: 3em auto 3em auto;
	text-align: right;
	background-color: #fff;
	width: 80%;
        color:#000;
	border-style: double;
	border-color: #FF8000;
	border-width: 4px;
	padding: 0px 8px 0px 8px;
}
h2 {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
	font-size: 1em;
        font-weight: bold;
}

span.date {
	font-weight: bold;
	position: relative;
	font-size: 1em;
	text-align: right;
	background-color: transparent;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
	padding-bottom: 0em;
}

span.title {
	font-size: 1em;
}

div.body {
        font-size: 1em;
	margin: 0px auto 0px auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: left;
	color: #FF8000;
}

p.body {
        font-size: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.3;
	padding-left: 1em;
	padding-top:0em;
}
p {
        font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}
p.sentence {
	margin-left: 12px;
	margin-right: 12px;
	line-height: 1.3;
	border-style: none;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
}

h3.subtitle {
	margin-top: 0.2em;
	margin-bottom: 0em;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: bold;
        font-size: 1em;
	clear: both;
}
span.anchor {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 12px;
	margin-right: 12px;
	font-weight: bold;
	font-size: 1em;
	float: left;
}

pre {
	border-style: none;
	font-size: 1em;
        background-color: #FF8000; 
	border-color: #fcc;
        color: #000;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px 5px 5px 5px;
}

div.comment {
	font-size: 1em;
	clear: both;
        color: #ff8000;
	text-align: right;
	padding-bottom: 1px;
	margin: auto 5px;
	border-style: double;
	border-color: #FF8000;
	border-width: 3px 0px 0px 0px;
}

p.commenttitle {
	text-align: right;
	background-color: transparent;
	position: relative;
	font-size: 1em;
	color: #FF8000;
	display: inline;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-style: none;
}

span.commentator {
	padding-top: 0px;
	margin-top: 0px;
	display: block;
	color: #FF8000;
	clear: both;
}

p.comment {
	font-size: 1em;
	text-align: left;
	color: #FF8000;
	padding: 0px 0px 0px 0px;
	margin-left: 24px;
	margin-right: 12px;
	margin-top: 0px;
	margin-bottom: 2px;
	line-height: 1.0;
}
p.referertitle {
	color: #FF8000;
	background-color: transparent;
	text-align: right;
	display: inline;
	position: relative;
	top: -10px;
	left: -20px;
	border-style: solid;
	border-color: #FF8000;
	border-width: 1px 1px 1px 1px;
        padding: 4px;
}

p.referer {
	display: inline;
	text-align: right;
	color: #FF8000;
       	top: 10px;
	left: -20px;
	clear: both;
	font-size: 1em;
	background-color: transparent;
	padding: 2px;
	border-style: solid;
	border-color: #FF8000;
	border-width: 1px;
}

div.refererlist {
	font-size: 1em;
	text-align: right;
	padding-bottom: 1px;
	margin-top: 0.2em;
	border-style: solid;
	border-color: #FF8000;
	border-width: 0px 0px 0px 0px;
}

ul.referer {
	margin-top: 0em;
	text-align: left;
}

hr {
	border-style: dotted;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
   	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
        border-style: none;
        width: 90%;
}
form {
	color: #000;
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
        border-color: #FF8000;
	border-style: solid;
}

input.field {
	filter:Alpha(opacity=60);
	background-color: #fff;
	border-color: #FF8000;
	border-style: solid;
        color: #000;	
}

input, select, option {
	filter:Alpha(opacity=60);
	background-color: #fff;
	color: #000;
	border-color: #FF8000;
	border-style: solid;
    	clear: both;
}

textarea {
        filter:Alpha(opacity=60);
	background-color: #fff;
	color: #000;
	border-color: #FF8000;
	border-style: solid;
	width: 90%;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
LI{
        list-style-type:upper-roman
}
