/*
Title: Lightning
Revision: $Revision: 1.6 $
Author: Nana
Access: http://mikan.sakura.ne.jp/~mpc
Comment:13pxに固定していた所を全て1emに変更、カレンダー２プラグイン対応
	Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc
	validated by W3C
 */
/* ChangeLog
2002-04 28 Nana
        * p calendar font-size16px ->1em
                 font-size: 1em; ->1em
          support calendar2
          deleted font-family

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/


a:link, a:visited {
	color: #FCC404;
	text-decoration: none;
	font-weight: bold;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	color: #adff2f;
}

a:hover, a:focus {
	color: #dc143c;
	background-color: #adff2f;
	border-style: none;
	border-width: 1px;
}



body {
	background-image: url(lightning_bg.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-color: #000;
	color: #fff;
	margin-left: 0px;
	font-size: 1em;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
	text-align: left;
	
}

span.adminmenu {
	margin: 4px;
}

h1 {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.calendar {
	margin-top: 0px;
	background-color: transparent;
	margin-left: 0px;
	font-size: 1em;
	color: #fff;
	text-align: left;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 8px;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 3em;
}

h2 {
   text-align: right;
	background-image: url(lightning_hi.png);
	background-repeat: no-repeat;	
	width: 249px;
	height: 72px;
	padding-bottom: 1em;
	font-size: 1em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

span.date {
	font-size: 1.2em;
}
span.date a:link,a:visited{
	color: #78D2F8
}

span.title {
	color: #fff;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

p {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3.subtitle {
	margin: 0em;
	font-weight: bold;
}

pre {
	background-image: url(lightning_pre.png);
	color: #fff;
	margin-left: 2em;
	margin-right: 3em;
	padding: 8px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

div.comment {
	background-color: transparent;
	color: #fff;
	font-size: 1em;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

p.commenttitle {
	border-style: solid;
	border-color: #9BF9FF;
	border-width: 0px 0px 1px 0px;
	font-size: 1em;
}

span.commentator {
	border-style: solid;
	border-color: #9BF9FF;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

p.referertitle {
}

p.referer {
	background-color: transparent;
	text-align: right;
	font-size: 1em;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist {
	background-color: transparent;
	font-size: 1em;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 90%;
}

input.field {
	width: 9em;
}

textarea {
	margin-left: 1em;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/* calendar2 */
table.calendar {
	       font-size: 0.9em;
	       line-height: 100%;
	       border-width: 1px;
               border-color: #78D2F8;
               border-style: solid;
               background-color: transparent;
               color: #fff;
               padding: 2px;
               margin-left: 1em;
}

table.calendar td {
	       margin: 0px;
	       text-align: right;
	       padding: 0px;
	       margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
			   text-align: center;
}

