@charset "euc-jp";
/*
Title: Mixi-blue
Revision: $Revision: 1.2 $
Author: kosaka
Access: kosaka@tnat.net
License: GPL
Comment: 青いmixi

Copyright 2005 (C) by KOSAKA Takashi <kosaka@tnat.net>
validated by W3C.
*/

body {
	font-family:Verdana,Geneva,Arial,Sans-serif;
	background:#fff;
	margin-bottom:0;
	width:780px;
}

hr.sep {
	display:none;
}

/* ----- Link ----- */
a:link,a:visited {
	color:#960;
	text-decoration: none;
}
/* ----- Side Bar ----- */
div.main {
	margin-left: 160px;
}

div.sidebar {
	position: absolute;
	top : 80px;
	left: 10px;
	width:151px;
}

input.bt {
	color:#333;
	margin-left:5px;
	background-color:#fff;
	border:solid 1px;
	border-color: #ddd #333 #333 #ddd;
}

div.sidebar form{
	border:solid #4CA6FC;
	border-width:0 1px 1px 1px;
	margin:0;
	padding:2px 3px 2px 5px;
	background:#fff url(pt_or.gif) no-repeat left;
	font-size:80%;
}

div.sidebar ul{
	margin-top:2px;
}
div.sidebar p{
	color:#4CA6FC;
	border:solid #4CA6FC;
	border-width:0 1px 1px 1px;
	margin:0;
	padding:2px 3px 2px 20px;
	background:#fff url(pt_or.gif) no-repeat left;
	font-size:80%;
}

/* ----- H1,H2,H3 ----- */

h1,h3 {
	font-family:palatino,  georgia, "Osaka", verdana, arial, sans-serif;
}

h1 {
	color:#5D5045;
	font-size:130%;
	background:#fff url(dotline720.gif) repeat-x bottom;
	margin-bottom:0;
	padding-bottom:5px;
}

h2 {
	background:#fff url(title.gif) repeat-x top;
	border-left  :solid #4CA6FC 8px;
	border-right :solid #4CA6FC 8px;
	font-size:80%;
	padding:10px 0 4px 7px;
	margin:0;
}

h3 {
	border:solid #4CA6FC;
	border-width: 1px 0 1px 0;
	font-size:100%;
	margin:0 0 0.5em 0;
	background-color:#E0F4FF;
	padding:2px 0 2px 7px;
	font-weight:normal;
}

h4 {
	background:#fff url(h4.gif) no-repeat left;
	color:#fff;
	font-size:80%;
	margin-bottom:0;
	margin-top:10px;
	padding-left:5px;
}

/* ----- weather ----- */

div.weather , div.body-enter{
	font-size:80%;
	text-align:right;
	background:#fff url(calendar.gif);
	border:solid #4CA6FC;
	border-width: 0 0 0 1px;
	padding:1px 5px 1px 0;
	margin:0 0 0 80px
}

span.nyear {
	font-size:80%;
	font-weight:normal;
}

/* ----- AdminMenu ----- */

div.adminmenu {
	border:solid #B19C6D;
	border-width: 2px 8px 2px 8px;
	font-size:80%;
	padding:0 5px 0 15px;
	margin:10px 0 0 0;
	background:#fff url(menu.gif) repeat-x;
	text-align:right;
}

div.adminmenu p{
	margin:2px 0 2px 0;
}

span.adminmenu {
	border:solid #B19C6D;
	border-width: 0px 0px 0px 1px;
	padding:0 0 0 5px;
}

span.adminmenu a:link,span.adminmenu a:visited{
	color:#3D3D3D;
}

span.date a:link,span.date a:visited{
	color:#605048;
}

span.title {
	color:#605048;
}

div.day span.sanchor{
	font-size:80%;
	color:#605048;
}

/* ----- Diary Text ----- */
div.day {
	margin:0.5em 0 1em 0;
}

div.body {
	border-top   :solid #4CA6FC 1px;
	border-left  :solid #4CA6FC 8px;
	border-right :solid #4CA6FC 8px;
	border-bottom:solid #4CA6FC 8px;
	background-color:#B0D8FF;
	margin-bottom:4px;
	padding-left:10px;
}

div.section {
	margin:0 0 0 80px;
	background-color:#FFF;
	border-left:solid #4CA6FC 1px;
	border-bottom:solid #FFF 1px;
}

div.section p {
	line-height: 1.7em;
	margin:0 15px 0 1.5em;
	padding-bottom:1em;
	font-size:100%;
}

div.section ul{
	margin-top:0;
	margin-left:4em;
	line-height:1.5em;
	font-size:100%;
}

/* ----- Comment ----- */
div.caption {
	background:#fff url(menu2.gif) repeat-x top;
	font-size:80%;
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	margin:0;
	padding:10px 0 3px 10px;
}

div.speed{
	border-top :solid #79B4DF 8px;
	border-left:solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	border-bottom:solid #79B4DF 1px;
	font-size:80%;
	background-color:#BFCFFF;
	background:#fff url(calendar.gif);
	margin:0;
	padding:0;
	text-align:center;
}

div.speed form ,div.speed p{
	margin:0.3em 0 0.3em 0;
	padding:0;
}

input.field {
	font-size:80%;
	margin-left:1em;
	border:solid 1px;
	border-color: #333 #ddd #ddd #333;
}

div.commentshort {
	background-color:#BFCFFF;
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	margin:0;
}

div.commentshort p {
	margin: 0 0 0 90px;
	padding:3px 1em 3px 8px;
	border:solid #79B4DF;
	border-width:1px 0 0 1px;
	line-height: 1.3em;
	background-color:#fff;
	font-size:80%;
}


div.commentbody {
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	background-color:#BFCFFF;
	line-height: 1.5em;
	font-size:80%;
	padding-left:1em;
	margin:0;
}

div.commentator {
	margin: 0 0 0 75px;
	padding:0 0 0 1em;
	border-left :solid #79B4DF 1px;
	border-bottom:solid #79B4DF 1px;
	font-size:80%;
	line-height:1.5em;
	background-color:#efffff;
}

form.comment {
	font-size:80%;
	margin:0;
}


div.commentbody p{
	margin: 0 0 0 75px;
	padding:0.5em 1em 0.5em 1em;
	border-left  :solid #79B4DF 1px;
	border-bottom:solid #79B4DF 1px;
	line-height: 1.5em;
	background-color:#fff;
}

/* ----- TrackBack ----- */

div.trackbackbody{
	padding:0;
}

div.trackback{
	margin: 0;
	padding:0.5em 0 0 1em;
	border-left :solid #79B4DF 1px;
	border-bottom:solid #79B4DF 0px;
	font-size:80%;
	line-height:1.5em;
	background-color:#fff;
}

div.trackbackbody p{
	margin:0;
	padding:0 1em 1em 1em;
	line-height: 1.5em;
	background-color:#fff;
}


/* ----- Form ----- */

div.form {
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	background:#fff url(calendar.gif);
	margin:0;
}

div.form form{
	padding:1em;
}

div.form div.caption{
	background:#fff url(menu3.gif);
	border-top:solid #79B4DF 0px;
	border-left :solid #79B4DF 0px;
	border-right:solid #79B4DF 0px;
	padding:3px 0 3px 10px;
}

div.refererlist div.caption{
	background:#fff url(menu3.gif);
	border-top :solid #79B4DF 0px;
	padding:3px 0 3px 10px;
}

/* ----- Referer ----- */
div.referer {
	border-top:solid #79B4DF 1px;
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	border-bottom:solid #79B4DF 8px;
	background:#fff url(calendar.gif);
	font-size:80%;
	text-align:right;
	padding:3px 10px 3px 5px;
	margin:0;
}

div.refererlist {
	font-size:80%;
	padding-bottom:1em;
	margin:0;
}

div.refererlist ul{
	border-left :solid #79B4DF 8px;
	border-right:solid #79B4DF 8px;
	border-bottom:solid #79B4DF 8px;
	background-color:#fff;
	margin:0;
	padding:0.5em 0 1em 0;
}

div.refererlist li{
	margin-left:3em;
}

/* ----- PRE,BLOCKQUOTE ----- */
div.section pre,div.section blockquote {
	line-height:1.7em;
	padding:5px;
	margin:0 1em 1em 2.5em;
	background-color:#E0F4FF;
	font-size:80%;
}

div.section blockquote p {
	margin:0.5em;
}

/* ----- IMG ----- */
img {
	border-width:0;
}

img.right {
	margin:0 0 5px 5px;
	float:right;
}

img.bk1{
	margin-right:10px;
}

img.amazon {
	margin:15px 10px 5px 5px;
	float:right;
}

img.category {
	vertical-align: text-bottom;
}

/* ----- blogmap ----- */
span.blogmap {
	font-weight:normal;
	font-size:80%;
	margin-left:0.4em;
}

/* ----- Footnote ----- */
div.footnote {
	border-top:solid #4CA6FC 1px;
	font-size:80%;
	margin:0;
	padding:1em 0 1em 100px;
}

p.footnote {
	margin:0;
}

span.footnote {
	font-size: 80%;
	margin : 0 2px 0 1px;
	vertical-align: super;
}

/* ----- Footer ----- */
div.footer {
	text-align:right;
	margin-top:0;
	background:#fff url(title2.gif);
	padding:5px;
	font-size:80%;
}

div.footer2 {
	background-color:#77C9FE;
	text-align:right;
	padding:0.5em 5px 0.5em 0;
	margin:0;
	font-size:80%;
}

/* ----- Wiki Style ----- */
em {
	font-style:normal;
	font-weight:bold;
}

/* ----- Bk1 ----- */
span.bk1 {
	line-height:1.4em;
	text-indent:0;
	font-size:80%;
}

div.calendar{
	margin:0 0 1em 0;
	text-align:right;
	font-size:80%;
}

.highlight {
	color:#000;
	background-color:#D6DEFE;
	font-size:80%;
}

img.link {
	margin-bottom:1.1em;
}

div.sidebar img {
	margin-bottom:0.5em;
}

div.day table {
	border:0;
	margin:0.5em 0 0.5em 2em;
	font-size:80%;
}

tr,td {
	border:1px;
	padding:3px 20px 3px 5px;
}

span.bbsdate span.bbsname{
	font-size:80%;
}


/* ----- Calendar2 ----- */
div.calendar2 {
	border:solid #77C9FE 5px;
	padding:3px 0 3px 0;
	margin-top:6px;
	text-align:center;
}

table.calendar {
	text-align:left;
	font-size:80%;
}

table.calendar tr{
	margin:0;
}

table.calendar td.calendar-day {
	margin:0;
	text-align:center;
	border: solid #4CA6FC;
	border-width:0 1px 1px 0;
}

table.calendar td.calendar-sunday,table.calendar td.calendar-weekday,table.calendar td.calendar-saturday{
	background-color:#FFF4E0;
	border: solid #4CA6FC;
	border-width:0 1px 1px 0;
}

table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
	background:#fff url(calendar.gif);
	font-weight:bold;
	color:#605048;
	font-weight:normal;
}
