@charset "euc-jp";

/*== savanna-green ==*/
/*==  大枠のレイアウト == */

body{
 margin:0px;
 padding:0px;
 text-align:center;
 width:auto;
 background:#2D541F url(head.gif) top center repeat-x;
 color:#E8EFCE;
 font-family:"Verdana", "ＭＳ Ｐゴシック", "Osaka", sans-serif;
}


h1{
font-size:160%;
width:750px;
margin:0px auto;
padding:50px 0px;
text-indent:20px;
text-align:left;
color:#000000;
}

body{
width:750px;
margin:70px auto 0px auto;
padding:5px 0px;
text-align:left;
}

div.main {
width:520px;
margin:0px;
padding:0px;
text-align:left;
float:left;
}

div.sidebar {
width:200px;
margin-top:50px;
padding:0px;
float:right;
}

img{
 border:0px;
}

/*==  前の日次の日 == */

div.calendar {
 text-align:left;
 padding:5px;
 font-size:90%;
}

div.calendar a {
}

div.calendar a:hover {
text-decoration:underline;
}
/*==  1日全体 == */

div.day {
 padding-bottom:1px ;
 margin-top:20px;
 line-height:150%;
}
/*==  タイトルの行 == */
h2 {
 font-size:120%;
 padding:3px 3px 1px 3px;
 margin:2px;
 margin:0px;
 border-bottom:1px solid #E8EFCE;
}

h2 a{
color:#E8EFCE;
}

h2 a:link{
color:#E8EFCE;
}

h2 a:visited{
color:#E8EFCE;
}

h2 a .date{
 padding-right:5px;
}

h2 a.edit{
 font-size:70%;
 text-decoration:underline;
}

/*== タイトルを除いた1日の日記本文全体 ==*/
div.body {
 padding:0px;
 margin:0px 0px 0px 3px;
}



/*== 1記事全体== */
div.section{
 padding:10px;
 margin:3px;
 /*font-size:90%;*/
 line-height:150%;
}

div.section p{
 padding:0px;
 margin:5px;
}

.footnote{
 font-size:90%;
 margin-left:5px;
}

div.section p.sectionfooter { 
  text-align: right;
  margin-top: 1em;
}

/*== コメント全体==*/
div.comment{
 padding:5px; margin:5px;
 font-size:90%;
 border:1px solid #356C20;
}

/*== トラックバック全体==*/
div.refererlist{
 padding:5px;
 margin:5px;
 font-size:90%;
 border:1px solid #356C20;
}

/*== コメント・トラバタイトル部分==*/
div.caption{
 padding:3px;
 margin-bottom:3px;
}

/*== コメント内容部分== */
div.commentshort{
 padding:0px;
 margin:0px;
}

/*== コメント1つ== */
div.commentshort p{
 padding:0px;
 margin:1px 5px;
}

/*==コメントのテキストボックス==*/
div.commentshort textarea{
 width:350px;
}

/*== はてなモジュールの大枠 ==*/

div.hatena-module {
 padding:0px;
 margin:0px 0px 10px 0px;
}

div.hatena-moduletitle{
 font-size:90%;
 padding:5px 5px 5px 5px;
 margin:0px;
 color:#E8EFCE;
 border-bottom:1px solid #E8EFCE;
}

div.hatena-moduletitle a{
color:#E8EFCE;
}

div.hatena-moduletitle a:visited{
color:#E8EFCE;
}


.hatena-modulebody {
 padding:5px;
 font-size:90%;
}

/*== はてなモジュールカレンダー ==*/

table.calendar{
text-align:center;
width:185px;
font-size:90%;
}

td.calendar-sunday{

}

td.calendar-saturday{

}

td.calendar-day img{
 width:15px;
 height:15px;
 border:1px solid #CCCCCC;
}

/*== はてなモジュールリスト関連 ==*/

.hatena-modulebody ul {
 padding:0px;
 margin:0px;
 list-style-type:none;
}

.hatena-modulebody ul li {
 padding:5px 5px 5px 5px;
 margin:0px;
}

.hatena-modulebody ul li a {
 text-decoration:underline;
}

/*== 見出しの設定  ==*/

h3 {
font-size:100%;
margin:5px 10px 5px 0px;

}

div.day span.sanchor{
 padding:20px 0px 10px 0px;

}

h4{
font-size:100%;
margin-left:10px;
padding:2px 5px 2px 7px;
border-left:5px solid #E8EFCE;
}

/* ==リンク色== */
a{
color:#A8FC9F;
text-decoration:none;
word-break:break-all ;
}

a:link{
color:#A8FC9F;
text-decoration:none;
word-break:break-all ;
}

a:visited {
color:#8FDA87;
text-decoration:none;
word-break:break-all ;
}

a:hover {
color:#66FF56;
text-decoration:underline;
word-break:break-all ;
}

/*== キーワード部分 ==*/
a.keyword {
color:#E8EFCE;
border-bottom:1px solid #3A7524;
}

a.keyword:link {
color:#E8EFCE;
border-bottom:1px solid #3A7524;
}

a.keyword:visited {
color:#E8EFCE;
border-bottom:1px solid #3A7524;
}

a.keyword:hover {
text-decoration:none;
color:#E8EFCE;
}

a.okeyword:hover {
text-decoration:none;
color:#E8EFCE;
}

a.okeyword {
color:#E8EFCE;
border-bottom:1px solid #3A7524;
}


/*== 記事内の細かい部分 == */

div.section pre{
 padding:5px;
 background:#356C20;
 font-size:90%;
}

div.section blockquote{
 padding-left:5px;
 border-left:5px solid #E8EFCE;
}

div.section ul li{
}

div.day img.photo{
 float:right;
 margin:5px;
}



/*== 以下はてなモジュールの細かい部分 ==*/
ul.hatena-photo li {
 margin:3px;
 padding:1px;
 margin:0px;
}

img.hatena-fotolife {
}

.hatena-searchform {
 margin:5px;
 padding:0px;
}

div.adminmenu{
text-align:right;
font-size:90%;
margin:10px;
}

span.adminmenu a{
padding-left:10px;
padding-right:7px;
color:#2D541F;
border-left:1px solid #CCCCCC;
}

.hatena-rss{
}

/*== はまぞうリンク ==*/
div.hatena-asin-detail{
 margin:3px;
 padding:3px;
 font-size:90%;
}

.hatena-asin-detail-info{
 margin:5px;
}

.hatena-asin-detail-info ul{
list-style:none;
margin:0px;
padding:0px;
}


.hatena-asin-detail-image{
 float:left;
 margin-right:5px;
}

.hatena-asin-detail-title{
 margin:5px;
 font-weight:bold;
}

.hatena-asin-detail-foot{
 clear:both;
}

/*== フッター ==*/

.footer{
 clear:both;
 margin:5px;
 font-size:90%;
}

/*== Adsense ==*/
.ad{
}

/*== Clock ==*/
.hatena-clock{
}

/*== アンケートモジュール ==*/
.hatena-question-detail{
width:90%;
text-align:left;
font-size:90%;
border-top:1px solid #E8EFCE;
border-bottom:1px solid #E8EFCE;
}

.hatena-question-detail-title{
padding:5px;

}

.hatena-question-detail-label{
width:30%;
padding:5px;
border-top:1px dashed #E8EFCE;
}

.hatena-question-detail-value{
width:65%;
padding:5px;
border-top:1px dashed #E8EFCE;
}

/*== プロフィール ==*/
.hatena-profile{
}

.hatena-profile-image{
}

.hatena-profile-id{
}

.hatena-profile-body{
}

hr.sep { display: none; }
