/*
Title: tinybox
Revision: $Revision: 1.4 $
Author: zoe
Access: zoe@kasumi.sakura.ne.jp
License: GPL
Comment: 小方体

Copyright 2002 (C) by Hiroyuki Ikezoe <zoe@kasumi.sakura.ne.jp>
validated by W3C.
 */

a:link, a:visited {
	text-decoration: none;
	color: #f00;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #ff0;
}

body {
	background-color: #00f;
	color: #fff;
	margin: 1em;
}

p.adminmenu {
	text-align: right;
	font-size: x-small;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: white;
	width: 66%;
	color: #f00;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #ff0 #cc0 #cc0 #ff0;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

p.calendar {
	background-color: transparent;
	margin: 0em;
	padding: 0em;
	line-height: 1.0em;
}

div.day {
	background-color: #00f;
	background-image: url(tinybox_day.png);
	background-repeat: repeat-y;
	color: #ff0;
	text-align: left;
	font-size: small ! important;
	padding: 0em;
	margin: 1em 40% 1em 1em;
	width: 360px;
}

h2 {
	background-image: url(tinybox_h2.png);
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0em;
	padding: 78px 2em 0px 4px;
	font-size: small;
}

span.date {
}

div.body {
	background-color: transparent;
	text-align: left;
	padding: 8px;
	margin: 0em;
	padding-right: 80px;
}

div.section {
	background-color: transparent;
	text-align: left;
	padding: 0em;
	margin: 0em;
}

div.day span.panchor {
	background-image: url(tinybox_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #00f;
	background-color: transparent;
	font-size: 1px;
}

div.section p {
	line-height: 1.5em;
	margin-top:0.7em;
	margin-bottom:0.5em;
}

h3.subtitle {
	padding: 0em;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

pre {
	color: #fff;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #ff0;
	border-width: 1px;
}

div.comment {
	background-image: url(tinybox_comment.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: transparent;
	padding-bottom: 68px;
	text-align: left;
	padding-left: 8px;
	padding-right: 80px;
}

div.day span.canchor {
	background-image: url(tinybox_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 8px 8px 0px 0px;
	color: #00f;
	background-color: transparent;
	font-size: 1px;
}

p.commenttitle {
	text-align: left;
}

span.commentator {
}

p.referertitle {
	background-color: #00f;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	margin-top: 0em;
}

p.referer {
	background-color: #00f;
	text-align: left;
	font-size: small;
	padding: 0px 0px 0px 8px;
	margin: 0em;
}

div.refererlist {
	font-size: small;
	text-align: left;
	background-color: #00f;
	margin: 0em ! important;
	padding: 0em;
}

ul.referer {
	margin: 0em;
	padding-left: 8px;
}

ul.referer li {
	margin: 0em;
}

hr {
	background-color: #00f;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
}

div.form {
	background-color: #00f;
	margin: 0em;
	padding: 1em 0em;
}

input.field {
	background-color: white;
}

input {
	line-height: 1.0em;
	padding: 0em;
	font-size: 1.0em;
}

textarea {
	background-color: white;
	margin-left: 1em;
	width: 90%;
	font-size: small;
}

dl {
	margin-left: 1em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}


strong {
        font-weight: bold;
	font-size: 2em;
}

span.keyword {
        font-weight: bold;
	font-size: 2em;
	color: red;
}

em {
        font-weight: bold;
}

p.search {
	margin-left: auto;
	text-align: center;
}

form.search {
	text-align: center;
	margin: 0em;
}

/* 画像plugin */
div.img {
	font-size: small;
	float: left;
	text-align: left;
	margin: 2px 4px;
}

div.img p.caption {
	font-weight: bold;
	text-align: center;
	margin: 0em;
	line-height: 1.0;
}

div.img p.sentence {
	text-align: left;
	margin: 0em;
	padding: 2px;
}

/* sidebar */

div.sidebar {
	width: 18%;
	float: right;
	margin: 0em 8px 0em 0em;
	padding: 0em;
	font-size: x-small;
}

div.sidebar p{
	margin: 0em;
}

div.list ,div.recentlist {
	font-size: x-small;
	text-align: left;
	margin-bottom: 0.3em;
	background-color: #00f;
	border: solid 1px #ff0;
}

div.list ol {
	padding-left: 2em;
	margin: 0em;
}

div.list p, div.recentlist p {
	background-color: #008;
	margin: 0em;
	text-align: center;
}

form.search {
	text-align: center;
}

div.calendar {
	background-color: #00f;
	font-size: small;
	text-align: left;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border: solid 1px #ff0;
}

div.calendar p.year {
	margin: 0em;
	text-align: center;
	background-color: #008;
}

div.calendar a:hover {
	display: block;
	border-style: solid;
	border-width:  1px;
	border-color:  #ff0 #880 #880 #ff0;
}

div.calendar a {
	margin: 0em;
	text-align: center;
	display: block;
	border: none 1px #ff0;
}

div.list ul {
	padding-left: 1.2em;
	margin: 0em;
	list-style: circle;
}

p.theme {
	font-size: small;
}

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 100%;
	color: #fff;
	padding: 1px;
	border-spacing: 1px;
	margin: 0px auto;
	border: solid 1px #ff0;
}

table.calendar td {
	text-align: right;
	margin: 0px;
	padding: 0px;
	color: #cc0;
}

table.calendar td.calendar-sunday {
	color: #f00;
}

table.calendar td.calendar-weekday {
	color: #ddd;
}

table.calendar td.calendar-saturday {
	color: #004;
}

table.calendar td.calendar-day a{
	border: solid 1px #f00;
	display: block;
	color: inherit;
}

table.calendar td.calendar-day a:hover{
	border-color: #ff0;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
	border-bottom: solid 1px #ff0;
	text-align: center;
	color: #030;
}

table.calendar td.calendar-prev-month a, table.calendar
td.calendar-current-month a, table.calendar td.calendar-next-month a{
	border-style: none ! important;
}

/* recent_list */
p.recentitem {
	background-color: #008;
	margin: 0em;
	text-align: center;
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #ff0;
}

div.recentsubtitles {
	border: solid 1px #ff0;
	margin-bottom: 0.3em;
}
