@charset "euc-jp";
/*
Title: Yukon
Revision: $Revision: 1.6 $
Author: zoe
Access: zoe@kasumi.sakura.ne.jp
License: GPL
Comment: 想い出のユーコン

validated by W3C.
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #e0e0e0;
	color: #555;
	padding: 0.2em 0em;
	font-weight: bold;
}

/*
リンク文字列に関する設定
*/
a:link {
	text-decoration: none;
	color: #607fb3;
}

a:visited {
	text-decoration: none;
	color: #607fb3;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: small;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 2px;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: left;
	margin: 8px 0px;
	background-image: url(yukon_h1back.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #607fb3;
	height: 120px;
	border-bottom: solid 16px #7088d0;
	font-size: 250%;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	text-align: left;
	padding: 0px;
	margin: 0em;
	margin-bottom: 2em;
	color: #fff;
	background-image: url(yukon_dayback.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #233343;
}

/*
タイトル行全体の設定
*/
h2 {
	margin: 0px;
	padding: 0px;
	background-color: #bbb;
	line-height: 24px;
	text-align: center;
	font-weight: normal;
}

/*
日付の設定
*/
h2 span.date {
	margin-top: 0px;
}
h2 a:link, h2 a:visited {
	color: #fff;
}

/*
タイトルの設定
*/
h2 span.title {
	margin: 0px;
	padding: 0px;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	text-align: left;
	padding: 0px;
	margin: 0px 150px 8px 0px;
	background-color: #1f1f1f;
	background-image: url(yukon_divbodyback.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	margin: 0em 1em;
	border-bottom: groove #fff 2px;
}

/*
サブタイトルの設定
*/
h3 {
	padding: 0.3em;
	margin: 0px;
	font-weight: normal;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/
/*
div.day h3 span.sanchor {
	background-image: url(sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 0px 0px 12px 12px;
	color: #dcd1ba;
	background-color: transparent;
	font-size: 1px;
	height: 120px;
}

div.day span.canchor {
	background-image: url(canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 12px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}
*/

/*
日記の本文(段落)の設定
*/
div.section p {
	line-height: 1.3em;
	padding: 0em 1em 0em 1em;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	text-align: left;
	padding: 2px;
	margin: 0.4em 0.4em;
	border-style: solid ridge ridge solid;
	border-color: #fff #000 #000 #fff;
	border-width: 1px 2px 2px 1px;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	font-size: 90%;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 90%;
	margin-left: 0.5em;
}

div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
	margin: 2px 8px;
}

/*
ツッコミした人の情報
*/
span.commentator {
	font-weight: normal;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	text-align: left;
	padding: 4px;
	margin: 0em;
}

div.form div.caption {
	text-align: left;
	padding: 0px;
	margin-bottom: 0.5em;
}

div.form div.caption a{
	display: block;
	padding: 2px;
}

/*
フォームの設定
*/
div.form form {
	margin: 0em 0em 0em 4px;
}

div.form form.comment {
	font-size: 90%;
}

div.field {
	display: inline;
	margin-right: 2em;
	padding: 0px;
}

form.comment input {
	background-color: #eef;
	color: #000;
	margin-left: 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

div.textarea {
	display: block;
	vertical-align: top;
}

form.comment textarea {
	display: block;
	background-color: #eef;
	color: #000;
	width: 30em;
	height: 5em;
	border: solid 1px #000;
}

div.button {
	display: block;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: center;
	font-size: small;
	color: #ccc;
	padding: 0px;
	margin: 3px;
}
div.referer a:link, div.refererlist a:link {
	color: #fff;
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	font-size: small;
	text-align: left;
	padding: 3px 8px;
	margin: 0px;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	margin-top: 3px;
}

/*
罫線の設定
*/
hr {
	border-style: none;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
}

/*
フッタの設定
*/
div.footer {
	font-size: small;
	text-align: right;
}

/*
更新フォーム
*/
div.day.update {
	background-color: #8ca;
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #233343;
	padding: 0px;
}

div.day.update div.form div.caption {
	margin: 0px;
	border-style: none;
	text-align: right;
	color: #000;
	line-height: 24px;
}

div.day.update div.form {
	background-color: transparent;
	padding: 0px;
	border-style: none;
}

div.day.update div.form form.update {
	margin: 0px ! important;	
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
}

form.update div {
	padding: 0px;
}

form.update input, form.update textarea, form.commentstat input {
	background-color: #eef;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
}

div.conf.day h2 span.title {
	display: block;
	text-align: center;
	margin-top: 0px;
}

div.conf.day div.body {
	padding: 8px;
	border-bottom: solid 1px #bbb;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: medium;
	background-color: #fff;
	width: 66%;
	color: #888;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px;
	background-color: #1f1f1f;
	border-style: solid;
	border-color: #bbb;
	border-width: 2px 1px;
	font-weight: normal;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border-style: solid;
	border-color: #ddf;
	border-width: 2px 2px 2px 2px;
	margin-left: 2em;
	margin-right: 2em;
	padding: 4px 4px 4px 4px;
	font-weight: normal;
}
div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
箇条書きの設定
*/
div.body ul, div.body ol {
	margin-left: 6em;
	margin-right: 3em;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 5em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin: 0em 3em 0.5em 1em;
}

li {
	list-style-type: circle;
}

em {
	font-weight: bold;
}

strong {
	font-size: 200%;
}

/*
サイドバー関連
*/
div.main {
	width: 75%;
	float: left;
}

div.sidebar {
	width: 18%;
	font-size: x-small;
	margin: 0em 4px 0em 0em;
	padding: 0.5em 2px;
	float: right;
	border: solid #000 1px;
}

div.sidebar p{
	margin: 0em;
}

div.list {
	font-size: x-small;
	text-align: left;
	margin-bottom: 0.3em;
	background-color: #efefef;
	color: #111;
}

div.list ol {
	padding-left: 2em;
	margin: 0px 2px;
}

div.list ul {
	padding-left: 2px;
	margin: 0px 2px;
	list-style: none;
}

div.list li {
	list-style: none;
}

div.list p {
	background-color: #607fb3;
	margin: 0em;
	text-align: center;
	border-style: solid ridge ridge solid; 
	border-color: #fff #000 #000 #fff;
	border-width: 1px 2px 2px 1px;
}

div.list form {
	text-align: center;
	margin-bottom: 0px;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 1.1em;
	margin: 2px auto;
}

table.calendar td {
	text-align: right;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* calendar2用画像 */
/*
table.calendar td.image {
        background-image: url(squirrel.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: 120px;
	width: 110px;
	border-style: solid;
	border-color: #fff #000 #000 #fff;
	border-width: 1px;
}
*/
div.list p.link {
	text-align: left;
	background-color: #ccc;
}

div.list span.title {
        display: block;
}

div.list span.comment {
        display: block;
	margin-left: 0.5em;
}

div.list span.date {
	display: block;
	font-size: 90%;
	margin-left: auto;
	text-align: right;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	border-style: solid;
	border-color: #ddf;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0em 0.5em;
	padding: 0em;
}
