@charset "euc-jp";
/*
Title: 水
Revision: $Revision: 1.2 $
Author: TSUTAYA Nobuo (NOB)
Access: nob@ivyvalley.net <http://nob.ivyvalley.net/>
License: GPL
Comment: 水の涼しいイメージで作りました。

Copyright 2004 (C) by TSUTAYA Nobuo <nob@ivyvalley.net>
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	margin:0;
	padding:0;
	color:#333;
	background:#eff;
}

/*
リンク文字列に関する設定
*/
a:link {
	color: #000077;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #002288;
	background-color: transparent;
	text-decoration: none;
}

a:link:hover , a:visited:hover {	/*for Mozilla*/
	color: #39f;
	background-color: transparent;
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align:right;
	font-size:80%;
	padding:3px 25px;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	border:1px outset #333;
	padding:1px;
	color:#333;
	background:#fafafa;
}

div.category-form div.adminmenu {
	margin-left:1em;
	text-align:left;
	color:#000;
	background: transparent;
}

div.category-form span.adminmenu {
	color:#000;
	background: transparent;
	border:none;
}

/*
日記タイトルの設定
*/
h1 {
	margin-left:25%;
	margin-top:0.5em;
	margin-bottom:0;
	font-weight: bold;
	text-align: left;
	color:#666;
	background:transparent;
}

div.main h1 {
/*	margin-left:0;
	margin-top:0.5em;
	margin-bottom:0;*/
	margin: 0.5em 25px 0 25px;
	font-weight: bold;
	text-align: left;
	color:#666;
	background:transparent;
}

h1:first-letter {
	color:#06f;
	background:transparent;
}

/*
カレンダーの設定
*/
div.calendar {
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
/*	margin-left: 1em;*/
	margin-bottom: 1em;
	padding:5px 25px;
	color:#333;
	background:#def;
}

/*
タイトル行全体の設定
*/
h2 {
	color:#333;
	background:#fff;
	border-width:1px 0 5px 0;
	border-style:solid;
	border-color:#6cf;
	padding:3px;
	font-size: 110%;
}

/*
日記のサブタイトルの設定
*/
h3 {
	font-size: 110%;
	margin: 0em;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-color: #6cf;
	border-bottom-style: dotted;
	padding-top: 5px;
}

h4{
	margin-left:1.5em;
	margin-bottom:0em;
}

/*
日付の設定
*/
span.date {
	font-size: 110%;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*
タイトルの設定
*/
span.title {
	font-size: 110%;
	color:#008;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
}

/*
サブタイトルの設定
*/
h3.subtitle {
}

/*
日記の本文(段落)の設定
*/

div.section {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

div.section p {
	margin: 0.5em 1em 0.7em 2em;
	line-height: 150%;
	text-indent: 1em;
}

p {
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	border-style: dashed;
	border-color: #6cf;
	border-width: 1px 0;
	color: #333;
	background-color: #fff;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	padding: 4px;
}

div.update {
/*	padding:0 2em;*/
}

div.update div.comment {
	margin-left: 0;
}

/*
ツッコミ欄タイトル行の設定
*/
div.caption {
	text-align:right;
	font-size:90%;
	margin: 0.5em;
}


/*
Latest時のコメント表示
*/
div.commentshort {
	font-size: 90%;
	margin-left: 2em;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}

/*
コメント本文の設定
*/
div.commentbody {
	font-size: 90%;
	margin: 0.5em;
	line-height: 1.2em;
}

div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
ツッコミした人の名前の設定
*/
div.commentator {
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 0px 0px 1px 0px;
	line-height: 1.5em;
}

span.commentator {
	font-weight:bold;
}

/*
リンク元リスト(短い方)の設定
*/
div.referer {
	text-align:right;
	font-size:80%;
	color: #06f;
	background-color: transparent;
	margin: 0em;
}
div.referer a:link {
	color: #06f;
	background-color: transparent;
}
div.referer a:visited {
	color: #97e;
	background-color: transparent;
}


/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	background-color: transparent;
	color: #06f;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 1px 0px 0px 0px;
	padding: 2px;
	padding-bottom: 1px;
}

div.refererlist a:link {
	color: #06f;
	background-color: transparent;
}
div.refererlist a:visited {
	color: #97e;
	background-color: transparent;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 80%;
	margin: 0.5em 1em 0.5em 3em;
	line-height: 1.2em;
}

/*
罫線の設定
*/
hr {
	margin-left:2em;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: small;
	text-align: right;
	margin: 0px;
	padding-top:0;
	padding-left:195px;
	padding-right:25px;
	padding-bottom:5px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	margin-top: 1em;
	margin-bottom: 0.5em;
/*	margin-left:2em;
	margin-right:2em;*/
	padding:2px;
	color:#333;
	background:#fff;
	border:1px inset #333;
}

div.form form {
	margin: 0em 0em 0em 0em;
	background-color: #fcfcfc;
}

div.form form.comment {
	font-size: 90%;
}

form.comment input {
	background-color: transparent;
	color: #333;
	margin-left: 1em;
}

form.comment textarea {
	display: block;
	background-color: transparent;
	color: #333;
	margin-left: 3em;
	width: 30em;
	height: 5em;
}

div.button input,div.category-form input {
	color:#333;
	background:#fafafa;
}

/*
更新用フォームの設定
*/

form.update {
	background-color: #fafafa;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

form.update form.update textarea, form.commentstat input {
	background-color: transparent;
	color: #333;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}

form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}

form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

/*この日の日記を隠すフォーム*/
form.update span.checkbox.hidediary {
	margin-left: 1em;
}


/*
入力フィールドの設定
*/
div.field {
	display: inline;
	margin-right: 2em;
}

input.field {
}

/*
複数行入力フィールドの設定
*/
div.textarea {
	display: block;
	vertical-align: top;
}

textarea {
}

/*
エラーメッセージ表示の設定
*/
p.message {
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	margin-left:3em;
	padding:5px;
	border-width:0 3px;
	border-style: dotted;
	border-color: #6cf;
	color:#007;
	background:#fff;
	overflow:auto;
}

/*
引用(blockquoteタグ)の設定
*/
blockquote {
	margin-left:3em;
	padding:5px;
	border-width:0 0 0 2px;
	border-style:solid;
	border-color:#6cf;
	color:#007;
	background:#fff;/* url(quote.png) no-repeat;*/
}

blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

div.body ul, div.body ol {
	margin-left: 3em;
	margin-right: 3em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
}

table.calendar td {
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}
table {
	border-color: #ccc;
	border-width: 1px;
	padding: 0px;
	border-collapse: collapse;
}
th, tr, td {
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	padding-top: 4px;
	padding-left: 4px;
}


/* recent_list at main */
div.main p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.main div.recentsubtitles {
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;

}

/* recent_list at sidebar*/
div.sidebar p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0.5em;
	padding-right: 1em;
}

div.sidebar div.recentsubtitles {
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	padding-right:0.5em;
	text-align:right;
}

div.main {
	margin:0;
/*	padding-left:195px;*/
	margin-left:22%;
/*	padding-left:25px;
	padding-right:25px;*/
	padding-bottom:5px;
	color:#333;
	background:#def;
	border-width:0 0 0 5px;
	border-color:#cef;
	border-style:solid;
}

div.main div.form {
	margin-left:2em;
}

div.sidebar {
	width:22%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	color:#333;
	background:transparent;
}

div.sidebar h2 {
}

div.sidebar h3 {
/*	margin-right:1px;*/
	text-align:center;
	color:#06f;
	background:#fff;
	border-bottom:1px solid #6cf;
/*	border:none;*/
}

div.sidebar h4 {
	margin-left:5px;
	margin-right:10px;
	margin-bottom:5px;
	padding-left:3px;
	color:#888;
	background:#fff;
	border-width:0 0 2px 0;
	border-color:#6cf;
	border-style:dotted;
}

div.sidebar h4:first-letter {
	color:#06f;
	background:transparent;
}

div.sidebar ul {
	line-height: 1.1em;
	margin: 5px;
	padding: 0px;
	list-style-type: none;
}

div.counter {
	text-align:center;
}

/*todo.rb css*/

  div.todo {
/*	margin-left:20%;*/
  	font-size: 90%;
	margin:0;
  }

  div.todo-title {
	margin:0;
  	font-weight: bold;
  }

  div.todo-title p {
	margin-right:5px;
	margin-bottom:5px;
	padding-left:3px;
	color:#888;
	background:#fff;
	border-width:0 0 2px 0;
	border-color:#6cf;
	border-style:dotted;
}

  div.todo-title p:first-letter {
	color:#06f;
	background:transparent;
  }

  div.todo-body {
  }

  span.todo-priority {
  	font-weight: bold;
  }

  span.todo-in-time {
  }

  span.todo-today {
  	color: #00f;
  }

  span.todo-too-late {
  	color: #f00;
  	font-weight: bold;
  }

div.sidebar div.todo {
	margin:5px;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/
@media screen{
/*	*[accesskey]:after{
		content: "<" attr(accesskey) ">";
		font-size: 80%;
		vertical-align:super;
	}*/
/*	h3 span[class^="sanchor"]:before {
		content: "\00A7";
		color:#f05000;
		background:transparent;
	}
	p span[class^="canchor"]:before {
		content: "\00A7";
		color:#f05000;
		background:transparent;
	}*/
}

/*div.day span.sanchor {
	background-image: url(sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 20px 10px 0px 0px;
	color: transparent;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 15px 8px 0px 0px;
	color: transparent;
	background-color: transparent;
	font-size: 1px;
}*/

span.sanchor,span.canchor {
	color:#06f;
}

div.footnote {
	border-top:2px dotted #6cf;
	margin-left: 3em;
	font-size: small;
}

div.recentsubtitles input , div.recentsubtitles select {
	background:#fff;
	color:#333;
}

a img {
	border:none;
}

span.hidden-marker {
	cursor:help;
	border-width:0 0 1px 0;
	border-style:dotted;
	border-color:#6cf;
}

#to-top{
	position:fixed;
	right:0.2em;
	bottom:0.2em;
	padding:3px;
	font-size:90%;
	width:3em;
	text-align:right;
	line-height:0.8em;
}

del {
	color:#999;
}

@media print {
	body {
		margin: 0px;
		padding: 0px;
		color: #000;
		background-color: #fff;
	}

	div.adminmenu { display: none; }
	div.comment   { display: none; }
	div.footer    { display: none; }
	div.main {
		margin-left: 1em;
		margin-right: 1em;
	}
	div.sidebar { display: none; }
	.nodisp { display: none; }
}
