@charset "euc-jp";
/*
Title: Iris
Revision: $Revision: 1.6 $
Author: oyuu
Access: <http://landscape.tdiary.net/>
License: GPL
Comment: 端午の節句ちなみ
        
Copyright 2002 (C) by oyuu <http://landscape.tdiary.net>
Validated by W3C.

Changelog
2002-09-24 NT <nt@24i.net>
        * convert for 1.5 series.

2002-11-21 oyuu <oyuu@mocha.freemail.ne.jp>
	* modified font-size: div.body, h3, div.comment, div.section p.
	* removed .headline border, etc.
	* simplified div.day margin, etc.
*/

a:link {
	text-decoration: none;
	color: #CC0066;
}
a:visited {
	text-decoration: none;
	color: #F7007B;
}
a:active {
	color: #FF60AF;
 	text-decoration: none;
}
a:hover {
	color: #FF60AF;
 	text-decoration: none;
}

body {
	background-color: #FFFFFF;
	color: #800040;
	margin: 0px
}

div.adminmenu {
	font-size: 90%;
	margin: 2% 5% 0% 0%;
	text-align: right
}

span.adminmenu {}

h1 {
	border-bottom: #008000 5px solid;
	margin: 0%;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
	font-size: 150%;
}

div.calendar {
	font-size: 90%;
	margin: 3% 5% 1% 5%;
	padding: 1%;
	text-align: left;
}

.headline {
	font-size: 90%;
	margin: 1%;
	padding: 1%;
	text-align: right
}

div.intro{
	margin-left: 40%;
	margin-right: 5%;
}

div.day {
	border-bottom: #004000 20px solid;
	border-left: #004000 15px solid;
	border-right: #004000 15px solid;
	border-top: #004000 20px solid;
	margin: 2% 15% 2% 15%;
	padding: 1%;
}

h2 {
	font-size: 100%;
	background-color: #FFEEF7;
	border: #800040 5px solid;
	margin-top: 3%;
	padding: 0.5%;
}

h2 span.date {
	font-style: normal;
	margin-left: 0.5%
}

h2 span.title {
	font-size: 100%
}

div.body {
	border-bottom: #008000 20px solid;
	border-left: #008000 15px solid;
	border-right: #008000 15px solid;
	border-top: #008000 20px solid;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 1%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 0.1%
}

div.day p {
	line-height: 1.5;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	text-indent: 1em
}

div.section p {
	font-size: 100%;
}
div.comment {
	font-size: 95%;
}

div.comment div.caption {
	padding-left: 0.2%;
	border-top: #008000 2px solid;
}


div.comment p {
	margin-left: 0em! important;
	text-indent: 0em
}

div.referer {
	font-size: 90%;
	border-top: #008000 2px solid;
	padding: 0.2% 1% 0.2% 1%;
	text-align: right
}

div.refererlist {
	border-top: #008000 2px solid;
	border-bottom: #008000 2px solid;
	font-size: 90%;
	padding: 0.2% 1% 0.2% 1%;
}

div.refererlist div.caption {
	border-bottom: #008000 2px solid;
}

ul{
	font-size: 90%
}
div.refererlist ul {
	margin-top: 0em;
}
ol{
	font-size: 90%
}

hr {
	border: #008000 1px solid;
}

hr.sep {
	display: none
}

.sfooter {}

div.footer {
	font-size: 85%;
	margin-right: 2%;
	margin-bottom: 3%;
	text-align: right
}

div.form {
	padding-top: 0.5%;
	padding-right: 1%;
	padding-bottom: 0.5%;
	padding-left: 1%;
}
div.form form {
	width: 90%;
}

input.field {
	background-color: #ffffff;
	border: 2px solid #008000;
        text-indent: 0em ! important;
        color: #000000;
}
input,select { 
        text-indent: 0em ! important;
}

textarea {
	background-color: #ffffff;
	border: 2px solid #008000;
        text-indent: 0em ! important;
        width: 90%;
        color: #000;
}

p.message {
	background-color: #ffffff;
	color: #F7007B;
	font-size: 100%;
	padding: 8px;
	text-align: center
}

pre {
	background-color: #FFEEF7;
	border-top: #800040 2px solid;
	border-right: #800040 2px solid;
	border-bottom: #800040 2px solid;
	border-left: #800040 2px solid;
	color: #800040;
	margin-right: 2%;
	margin-left: 1%;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
}

div.body dl {
	margin-left: 2em;
	font-size: 90%
}

div.body dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}
div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
	line-height: 1.5
}

div.body blockquote {
	color: #008000;
	background-color: #D0FFD0;
	border: #004000 2px solid;
	margin: 1% 2%;
	padding: 0.5%;
}

div.section blockquote p {
	margin-top : 0em;
	text-indent: 0em
}

em {
	background-color: #FFEEF7;
	color: #800040;
	font-style: normal;
	font-weight: normal
}

strong {
	background: #FFEEF7;
	color: #800040
}

.hide {
	background-color: #ffffff
}

/* calendar2 */
table.calendar {
        font-size: 90%;
        line-height: 100%;
        border-width: 2px;
        border-color: #800040;
        border-style: solid;
        background-color: #FFEEF7;
        padding: 1px;
	margin-top: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	margin-left: 5%
}

table.calendar td {
        margin: 0px;
        text-align: right;
        padding: 0px;
        margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
        text-align: center;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: block;
        margin-right: 2em;
        margin-bottom: 1ex;
}

form.comment input {
        background-color: #ffffff;
        color: #000000;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: #ffffff;
        color: #000;
        margin-left: 3em;
        width: 25em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: #ffffff;
        color: #000;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 25em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
