/*
	ajisai.css: Ajisai Style Sheet of tDiary
	Copyright by (C) sapphire <http://sapphire.tdiary.net/>
	Title:ajisai
	Revision: $Revision: 1.3 $
	Author: sapphire
	Comment: 雨の日もさわやかに

	validated by W3C.

ChangeLog
2002-10-05 NT <nt@24i.net>
        * change some properties in update form.

2002-09-12 NT <nt@24i.net>
        * convert for 1.5 series.

2002-05-20 sapphire
	* basic issue
*/

body {
	margin : 0 0 0 180px;
	padding : 0;
	font-size : medium;
	color : #4682B4; /*steelblue*/
	background-color : #FFFFFF;
	background-image : url(ajisai_bg.jpg);
	background-repeat : repeat-y;
	background-position : left bottom;
	background-attachment : fixed;
}

a:link {
	color : #CD5C5C; /*indianred*/
	background-color : transparent;
	text-decoration : none;
}

a:visited {
	color : #4169E1; /*royalblue*/
	background-color : transparent;
	text-decoration : none;
}

a:hover {
	color : #DE1039; /*crimson*/
	background-color : #FFF0F5; /*lavenderblush*/
	text-decoration : underline;
}

div.adminmenu {
	margin : 0;
	padding : 0 30px;
	text-align : right;
	background-image : url(ajisai_drop2.jpg);
	background-repeat : repeat-x;
	background-position : left bottom;
	height : 47px;
}

span.adminmenu {
	margin : 0;
	padding : 2px;
	color : inherit;
	background-color : #FFFFFF;
	border-right : 1px solid #4682B4;
	border-bottom : 1px solid #4682B4;
}

span.adminmenu a {
	padding : 2px 5px;
}

h1 {
	margin : 1em;
	padding-left : 50px;
	font-size : large;
	font-weight : bold;
	background-image : url(ajisai_s.jpg);
	background-repeat : no-repeat;
	line-height: 48px;
}

h2 {
	margin : 1em 0 0.5em 2em;
	font-size : medium;
	font-weight : bold;
	font-family : Arial, Chicago, sans-serif;
}

h3 {
	margin : 0.5em 0;
	font-size : small;
	line-height : 1.5;
}

div.section p {
	margin : 0.5em 0 0.5em 1em;
	font-size : 90%;
	line-height : 1.5;
}

div.calendar {
	margin : 0.5em;
	padding : 0 1em;
	color : inherit;
	background-color : #E6E6FA;
}

div {
	color : inherit;
	background-color : transparent;
}

div.day {
	margin : 20px 0 0 0;
	padding : 20px 0 0 0;
	background-image : url(ajisai_drop.jpg);
	background-repeat : repeat-x;
	background-position : left top;
}

.date {
	margin-right : 1em;
}

div.body {
	margin : 1em;
	padding : 0.5em 1em;
	font-size : 90%;
	border-right : 2px solid #DCDCDC; /*gainsboro*/
	border-bottom : 2px solid #DCDCDC; /*gainsboro*/
	border-top : 2px solid #F5F5F5; /*whitesmoke*/
	border-left : 2px solid #F5F5F5; /*whitesmoke*/
}

div.comment {
	margin : 0 1em 0 5em;
	font-size : 90%;
}

.panchor {
	padding : 15px 16px 0 0;
	color : #FFFFFF;
	background-color : transparent;
	background-image : url(ajisai_drop.jpg);
	background-repeat : no-repeat;
	background-position : bottom right;
	font-size : 1px;
}

.canchor {
	padding : 10px 10px 0 0;
	color : #FFFFFF;
	background-color : transparent;
	background-image : url(ajisai_mark.jpg);
	background-repeat : no-repeat;
	background-position : right bottom;
	font-size : 1px;
}

.canchor a:hover {
	text-decoration : none;
}

.comment p {
	margin : 0.5em 0;
	padding : 0 1em;
	line-height : 1.3;
	font-size : 90%;
	min-height : 12px;
}

.commentator {
	font-weight : bold;
}

div.comment div.caption {
	color : inherit;
	background-color : #E6E6FA;
}

div.referer {
	margin : 0 1em;
	padding : 0 1em;
	font-size : 90%;
	text-align : right;
	color : inherit;
	background-color : #E6E6FA;
}

hr {
	display : none;
}

em {
	font-style : normal;
	font-weight : bold;
}

strong {
	font-style : normal;
	font-weight: bold;
	text-decoration : underline;
}

pre {
	margin : 0.5em 0 0.5em 1em;
	padding : 1em 0;
	width : 97%;
	font-size : 90%;
	font-family : monospace;
	border-top : 1px dashed #4682B4;
	border-bottom : 1px dashed #4682B4;
	overflow : visible;
}

div.form {
	margin : 1em 0;
	padding : 0;
}

form {
	margin :1em;
	color : inherit;
	background-color : #E6E6FA;
	border : 1px dotted #4682B4;
}

input, select {
	font-size : 90%;
	color : #4682B4; /*steelblue*/
	background-color : #FFFFFF;
	border : 3px double #4682B4;
}

input.field, textarea {
	padding : 2px;
	color : #4682B4; /*steelblue*/
	background-color : #FFFFFF;
	font-size : 90%;
	line-height : 1.2;
	border : 3px double #4682B4;
}

select {
	font-size : smaller;
}

div.body blockquote {
	margin : 0.5em 1em;
	padding : 0.5em;
	color : inherit;
	background-color : #E6E6FA;
	border : 1px dotted #4682B4;
}

dl, ol, ul {
	margin : 1em;
}

li {
	margin : 0.5em 0 0 2em;
	padding-left : 5px;
	font-size : 90%;
}

ul li {
	list-style-image : url(ajisai_mini.jpg);
	min-height : 18px;
}

div.body dt {
	margin-left : 1em;
	font-weight : bold;
}

div.body dd {
	margin : 0.5em 0 0.5em 2em;
	font-size : 90%;
	line-height : 1.2;
}

table.calendar {
	margin : 0;
	font-size : 90%;
	border-collapse : collapse;
	border-spacing : 0;
	empty-cells : show;
	border : 1px solid #4682B4;
}

td.calendar-day {
	margin : 0;
	padding : 1px 2px;
	text-align : right;
	font-family : monospace;
}

td.calendar-current-month {
	font-size : smaller;
	text-align : center;
	border-bottom : 1px solid #4682B4;
}

td.calendar-prev-month, td.calendar-next-month {
	text-align : center;
	border-bottom : 1px solid #4682B4;
}

td.calendar-sunday {
	color : #FF1493; /*deeppink*/
	background-color : transparent;
	text-align : center;
}

td.calendar-saturday {
	color : #008C8C; /*darkcyan*/
	background-color : transparent;
	text-align : center;
}

.recentitem, .recentsubtitles {
	margin : 0.5em 0;
	font-size : x-small;
}

.refererlist{
	font-size : 90%;
}

.footer {
	margin : 0 1em;
	text-align : right;
	line-height : normal;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 0.9em;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 0.9em;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 0.9em;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 0.9em;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day {
	color : inherit;
	background-color : #E6E6FA;
	border : 1px dotted #4682B4;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
	border : none;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
