/*
Title: HARU
Revision: $Revision: 1.5 $
Author: Nana
Comment: support calendar2
Access: http://mikan.sakura.ne.jp/~mpc/

	Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc/
	validated by W3C
 */
/* ChangeLog
2002-05-02 Nana <mpc@mikan.sakura.ne.jp>
        * support calendar2
        * fix CRLF->LF
        * div day font-size: 1em; 
        * font-size 13px->0.9em
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/

a:link, a:visited {
	color: #0080ff;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus{
	color: #9CAEF7;
	text-decoration: none;
}

body {
	background-color: #fff;
	font-size: 1em;
	color: black;
	margin: 0em 0.5em 1em 1em;
	background-image: url(haru_3.png);
	background-attachment: fixed;
	font-family :osaka, Arial,"MS UI Gothic";
}

div.body p a{
	background-image:url(haru.gif) ;
}

p.adminmenu {
	text-align: right;
	font-size: 0.9em;
}

span.adminmenu {
	font-size: 0.9em;
	background-color: transparent;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

p.calendar {
	font-size: 0.9em;
	text-align: right;
	border-style: none;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
}

div.day {
	border-style: none;
	border-color: pink;
	border-width: 1px;
	padding-bottom: 0em;
	padding-left: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
        font-size: 1em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

span.date {
	margin-left: 0.5em;
}

span.date a:link, span.date a:visited {
	color: #ffc0cb;
	text-decoration: none;
}

span.date a:hover ,span.date a:focus {
	color: #fff;
	text-decoration: none;
}

div.body {
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
}

h3.subtitle {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}

h3.subtitle a:link, h3.subtitle a:visited {
	color: #2a4;
	text-decoration: none;
}
h3.subtitle a:hover, h3.subtitle a:focus {
	color: #4e8;
	text-decoration: none;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

div.comment {
	font-size: 0.9em;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

p.commenttitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	width: 90%;
}

span.commentator {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

p.referer {
	text-align: right;
	font-size: 0.9em;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 12px;
	margin-right: 12px;
}

div.refererlist {
	font-size: 0.9em;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

p.referertitle {
	border-style: solid;
	border-color: #ffc0cb;
	border-width: 0px 0px 1px 0px;
	width: 90%;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #ffc0cb;
	width: 90%;
}

hr.sep {
	display: none;
}

p.footer {
	font-family :osaka,Arial,sans-serif;
	font-size: 0.9em;
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-right: 30px;
	
}


div.form {
	background-color: transparent;
	border-style: none;
	border-color: #008;
	border-width: 0px 0px 1px 1px;
	padding: 0.5em 1em 0.5em 24px;
	margin-bottom: 0.5em;
	margin-left: 0em;
}

div.form {
	width:80%
}

input.field {
	background-color: white;
}

textarea {
	background-color: white;
	margin-left: 1em;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

pre {
	background-color: #fff;
	color: #0080ff;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px;
	width: 90%
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #ff0;
}

/* calendar2 */
table.calendar {
	text-align: center;
	background-color: transparent;
	border-style: solid;
	border-color: #ccc #999999 #999999 #ccc;
	border-width: 1px;
	margin-bottom: 1em;
        margin-left: 3em;
        font-size: 0.9em;
}

td.calendar-current-month {
	font-size: xx-small;
	text-align: center;
}

td.calendar-next-month {
	font-size: xx-small;
	text-align: right;
}

td.calendar-prev-month {
	font-size: xx-small;
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	font-size: xx-small;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	font-size: xx-small;
	text-align: center;
}

td.calendar-weekday {
	color: #000000;
	background-color: #ddd;
	font-size: xx-small;
	text-align: center;
}

td.calendar-day {
	font-size: xx-small;
	text-align: right;
}
