@charset "euc-jp";
/*
Title: tinybox緑
Revision: $Revision: 1.7 $
Author: zoe
Access: zoe@kasumi.sakura.ne.jp
License: GPL
Comment: 緑小方体

Copyright 2002 (C) by Hiroyuki Ikezoe <zoe@kasumi.sakura.ne.jp>
validated by W3C.
 */

a:link, a:visited {
	text-decoration: none;
	color: #f00;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #ff0;
}

body {
	background-color: #030;
	color: #fff;
	margin: 1em;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: white;
	width: 66%;
	color: #f00;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #ff0 #cc0 #cc0 #ff0;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

div.calendar {
	background-color: transparent;
	border-style: none;
	margin: 0em;
	padding: 0em;
	line-height: 1.0em;
}

div.day {
	background-color: #040;
	background-image: url(tinybox_green_day.png);
	background-repeat: repeat-y;
	color: #0f0;
	text-align: left;
	font-size: small ! important;
	padding: 0em;
	margin: 1em;
	width: 354px;
	clear: left;
}

h2 {
	background-image: url(tinybox_green_h2.png);
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0em;
	padding: 70px 0px 0px 4px;
	font-size: small;
}

h2 span.date {
}

div.body {
	text-align: left;
	margin: 0em;
	padding: 0em;
}

div.section {
	background-color: transparent;
	text-align: left;
	padding: 0em;
	margin: 0em;
        padding-right: 80px;
	padding-left: 8px;
}

div.day span.sanchor {
	background-image: url(tinybox_green_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #030;
	background-color: transparent;
	font-size: 1px;
}

div.section p {
	line-height: 1.5em;
	margin-top:0.7em;
	margin-bottom:0.5em;
}

div.section p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	line-height: 1.4em;
}

h3 {
	padding: 0em;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

pre {
	color: #fff;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #ff0;
	border-width: 1px;
}

div.comment {
	background-image: url(tinybox_green_comment.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: transparent;
	text-align: left;
	padding: 0px 80px 70px 8px;
	margin: 0em;
}

div.day span.canchor {
	background-image: url(tinybox_green_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 8px 8px 0px 0px;
	color: #030;
	background-color: transparent;
	font-size: 1px;
}

div.comment div.caption {
	text-align: left;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	margin-top: 0em;
}

div.referer {
	background-color: #030;
	text-align: left;
	font-size: small;
	padding: 2px 0px 0px 8px;
	margin: 0px;
}

div.refererlist {
	font-size: small;
	text-align: left;
	background-color: #030;
	margin: 0em ! important;
	padding-left: 8px;
	padding-right: 80px;
}

div.refererlist ul {
	margin: 0em;
	padding-left: 8px;
}

div.refererlist ul {
	margin: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
}

div.form {
	background-color: #030;
	padding: 1em 0em;
	margin: 0em;
}

input.field {
	background-color: white;
}

input {
	line-height: 1.0em;
	padding: 0em;
	font-size: 100%;
}

textarea {
	background-color: white;
	margin-left: 1em;
	width: 90%;
	font-size: small;
}

div.body dl {
	margin-left: 1em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

form.search {
	clear: right;
	text-align: center;
	margin: 0em;
}

strong {
        font-weight: bold;
	font-size: 200%;
}

span.keyword {
        font-weight: bold;
	font-size: 200%;
	color: red;
}

em {
        font-weight: bold;
}

p.search {
	margin-left: auto;
	text-align: center;
}

form.search {
	text-align: center;
	margin: 0em;
}

/* 画像plugin */
div.img {
	font-size: small;
	float: left;
	text-align: left;
	margin: 2px 4px;
}

div.img p.caption {
	font-weight: bold;
	text-align: center;
	margin: 0em;
	line-height: 1.0;
}

div.img p.sentence {
	text-align: left;
	margin: 0em;
	padding: 2px;
}

/* sidebar */

div.sidebar {
	width: 18%;
	float: right;
	font-size: x-small;
	margin: 0em 8px 0em 0em;
	padding: 0em;
}

div.sidebar p{
	margin: 0em;
}

div.list {
	font-size: x-small;
	text-align: left;
	margin-bottom: 0.3em;
	background-color: #030;
	border: solid 1px #0f0;
}

div.list ol {
	padding-left: 2em;
	margin: 0em;
}

div.list ul {
	padding-left: 0.2em;
	margin: 0em;
	list-style: none;
}

div.list p {
	background-color: #080;
	margin: 0em;
	text-align: center;
}

form.search {
	text-align: center;
}

p.theme {
	font-size: small;
	line-height: 1.0em;
}

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 100%;
	color: #fff;
	padding: 1px;
	border-spacing: 1px;
	margin: 0px auto;
	border: solid 1px #0f0;
}

table.calendar td {
	text-align: right;
	margin: 0px;
	padding: 0px;
	color: #0c0;
}

table.calendar td.calendar-sunday {
	color: #f00;
}

table.calendar td.calendar-weekday {
	color: #ddd;
}

table.calendar td.calendar-saturday {
	color: #00f;
}

table.calendar td.calendar-day a{
	border: solid 1px #ff0;
	display: block;
	color: inherit;
}

table.calendar td.calendar-day a:hover{
	border-color: #f00;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
	border-bottom: solid 1px #0f0;
	text-align: center;
	color: #030;
}

table.calendar td.calendar-prev-month a, table.calendar
td.calendar-current-month a, table.calendar td.calendar-next-month a{
	border-style: none ! important;
}

/* recent_list */
p.recentitem {
	background-color: #080;
	margin: 0em;
	text-align: center;
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #0f0;
}

div.recentsubtitles {
	border: solid 1px #0f0;
	margin-bottom: 0.3em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 0em;
}

form.comment input {
        background-color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
div.day.update div.form {
	background-image: url(tinybox_green_h2.png);
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0em;
	padding: 70px 0px 0px 4px;
	font-size: small;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
	width: 15em;
}

form.update span.button input {
	padding: 0em;
	width: 10em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 20em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
