@charset "euc-jp";

body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #ff952b;
	background-image: url(witch-house.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: #fff;
	line-height: 1.5em;
	/*font-family: "ＤＦＰ康印体W4";*/
}

a:link { color: #fc7819; text-decoration: none; }
a:visited { color: #a64f11; text-decoration: none; }
a:hover { text-decoration: underline; }
/*はてなヘッダ*/
table,tr,td {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}
div center table, div.adminmenu {
	margin: 0;
	padding: 0 1em;
	border: 0;
	background: #000;
	position: absolute;
	top: 120px;
	left: 0;
}
h1 {
	margin-right: 450px;
	padding-left: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 200%;
	color: #000;
	background: url(graveyard.gif) no-repeat bottom left;
}
div.hatena-body {
	color: #fff;
	background: #000 url(cat.gif) no-repeat bottom right;
	position: absolute;
	top: 120px;
	margin-top: 1em;
	padding-bottom: 200px;
	width: 100%;
}
div.hatena-body img { border:5px ridge #420; }

div.hatena-description {
	display: none;
	/*現状は非対応*/
}

/*main内*/
div.main {
	padding-left: 30%;
	margin-top: 3em;
}
div.day {
	background: url(web.png) no-repeat top left;
	padding: 1em;
	background-color: #000;
}
img.photo {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
h2 {
	letter-spacing: 0.5ex;
	margin: 0;
	font-size: 150%;
}
h2 span.date {
	font-size: 75%;
}

div.body {
}
div.section {
}
div.section h3 {
	font-size: 120%;
	clear: left;
}
h3 span.sanchor {
	font-size: 1px;
	padding: 16px;
	background: url(pumpkin.gif) no-repeat center left;
}
h4 {
	padding: 12px 50px;
	background: url(pumpkin2.gif) no-repeat center left;
	font-size: 110%;
	clear: left;
}
h5 {
	padding: 10px 60px;
	background: url(pumpkin3.gif) no-repeat center left;
	font-size: 100%;
	clear: left;
}
p {
	margin: 0;
	padding: 0;
}
/*書影*/
div.hatena-asin-detail {
	margin: 0.5em;
	padding: 0.5em;
	clear: both;
}
div.hatena-asin-detail img {
	float: left;
	margin: 1em;
	border: none;
}
div.hatena-asin-detail-info {
}
div.hatena-asin-detail-info p {
	border-bottom: 1px dotted #ff952b;
}
div.hatena-asin-detail-info ul {
	list-style-type: none;
}
/*アンケート*/
table.hatena-question-detail {
}
th.hatena-question-detail-title {
}
td.hatena-question-detail-label {
}
td.hatena-question-detail-value {
}
img.hatena-question-detail-image {
	background-color: #fff;
	margin: 1em;
	padding: 1em;
}
/*コメント欄*/
div.comment {
	margin: 1em 0;
	clear: both;
}
div.comment div.caption {
	background: url(gecko.png) no-repeat top right;
	padding-right: 55px;
	padding-bottom: 20px;
	text-align: right;
}
div.commentshort {
}
div.commentshort p {
}
span.canchor {
}
span.commentator {
}
/*リファラ*/
div.refererlist {
	clear: both;
}
div.refererlist div.caption {
	background: url(ghost.png) no-repeat top left;
	padding-left: 28px;
	padding-bottom: 10px;
}
div.refererlist ul {
}
pre {
	/*font-family: "ＭＳ ゴシック","Osaka-等幅";*/
	font-size: 100%;
}
pre, blockquote {
	margin: 0.5em;
	padding: 0.5em;
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
}
/*sidebar*/
div.sidebar {
	width: 27.5%;
	padding: 2%;
	background: #000;
	position: absolute;
	top:0;
}
div.hatena-module {
}
div.hatena-moduletitle {
	padding: 16px 32px;
	background: url(pumpkin.gif) no-repeat center left;
}
div.hatena-modulebody {
}
/*プロフィール*/
div.hatena-profile {
}
p.hatena-profile-img {
}
p.hatena-profile-id {
}
p.hatena-profile-body {
}
/*カレンダー*/
table.calendar {
	margin: 0;
	padding: 0;
	width:100%;
	_width: 80%;
	height: auto;
	vertical-align: top;
	background: url(moon.jpg) no-repeat center center;
}
table.calendar * {
	margin: 0;
	padding: 0;
	border: 0;
}
table.calendar a{ width: 100%; height: 100%; }
td.calendar-day { color: #fff; width: 10%; padding-bottom: 1em;	text-align: center; vertical-align: center; }
td.calendar-sunday { color: #900; text-align: center; padding: 0; }
td.calendar-weekday { color: #fff; text-align: center; padding: 0; }
td.calendar-saturday { color: #66c; text-align: center; padding: 0; }
td.calendar-prev-month { background: transparent; text-align: left; padding: 0; }
td.calendar-current-month { background: transparent; text-align: center; padding: 0; }
td.calendar-next-month { background: transparent; text-align: right; padding: 0; }
td.calendar-day a:link { color: #f93; }
td.calendar-day a:visited { color: #666; }
td.calendar-day
td.calendar-day a:hover { color: #fff; background-color: #666; }
table.calendar img { height: 1em; width: 1em; border: none;  }

ul.hatena-photo li {
	list-style-type: none;
	list-style-image: none;
	display: inline;
}
img.hatena-photo { border: none; }

/*table表記*/
div.day table {
	border-collapse: collapse;
	margin: 1em 2em;
}
div.day th, div.day td {
	border: 1px solid #600;
	padding: 0.2em;
}
div.day th, div.day th a {
	color: #900;
}

/*question表記*/
div.hatena-body img.hatena-question-image,div.hatena-body img.hatena-question-detail-graph { border: none; }
table.hatena-question-detail {
	border-collapse: collapse;
}
table.hatena-question-detail th, table.hatena-question-detail td {
	border-top: 1px dotted #600;
	border-bottom: 1px dotted #600;
	border-left: none;
	border-right:none;
}

hr.sep {
	display: none;
}
