@charset "euc-jp";
/*
Title: Spring
Revision: $Revision: 1.13 $
Author: Nana
Access: <clorets@estyle.ne.jp>
Comment:

  Copyright 2002 (C) by Nana <clorets@estyle.ne.jp>
*/


body {
	background-color: #fff;
	background-image: url(spring_back.png);
	background-attachment: fixed;
	color: #000000;
	text-align: left;
	margin: 1em 5%;
}

a:link {
	text-decoration: none;
	color: #EF8BAF;
}

a:visited {
	text-decoration: none;
	color: #792d45;
}

a:hover {
	text-decoration: underline;
	color: #66B3FF;
	background:#ffffff;
}

div.adminmenu {
	text-align: right;
	font-size:90%;
	margin:0px;
}

h1 {
	text-align: left;
	margin-top:0px;
	margin-left:0px;
	font-size: medium;
	/*color:#ffffdf;*/
}

div.calendar {
	text-align: left;
	color:#9494FF;
	text-indent:0em;
	margin-left:2px;
}

div.day {
	background-color: transparent;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom:0em;
	margin-top:3em;
	/*font-size:100%;*/
}

h2 {
	margin-left: 1em;
	font-size: medium;
	font-weight: bold;
}

h2 span.date a {
	color: #66B3FF;
	margin-left:15%;
}

h2 span.title {
	font-size: medium;
	color: #EF8BAF;
	margin-left:2em;
}

div.body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top:10px;
}

div.section p {
	margin-left: 1em;
	line-height: 130%;
	text-indent:1em;
}

h3 {
	background-color: #EF8BAF;
	font-size: medium;
	color: #ffffff;
	text-align:left;
	padding: 2px;
	-moz-border-radius: 1em;
}

h3 a{
	color:#66B3FF;
}

h3 a:hover{
	background: #ffffff;
	-moz-border-radius:40px;
	padding:2px;
}

pre {
	margin-left: 1em;
	padding: 0.5em;
	border: 2px dashed #EF8BAF;
	background-color:#ffffdf;
	font-size:90%;
}

div.comment {
	font-size:90%;
	text-align: left;
	background-color:#ffffdf;
	color: #000000;
	margin-left: 8%;
	margin-right:8%;
	padding:0.5em;
	-moz-border-radius: 1em;
}
div.comment a{
	color:#F2C991;
} 

div.comment div.caption {
	text-align: right;
	font-size:90%;
}


div.refererlist div.caption {
	text-align: right;
	color:#F7CA8E;
	margin-left:10%;
	font-size:90%;
}

div.referer {
	margin-left:10%;
	margin-bottom:1em;
	font-size:90%;
}

div.refererlist {
	text-align: right;
	color:#F7CA8E;
	font-size:90%;
	padding:1px;
}

hr {
}

hr.sep {
	display: none;
}

div.footer {
	font-size: 80%;
	text-align: right;
	color:#000000;
}

div.form form {
	border:none; 
	width:90%;
}

input.field {
	color: #EF8BAF;
	border: 1px solid #EF8BAF;
	-moz-border-radius: 0.5em;
	background-color: #ffffdf;
}

input {
	background-color: #ffffdf;
	color: #EF8BAF;
	border: 1px solid #EF8BAF;
	-moz-border-radius: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-indent: 0em ! important;
}

textarea {
	background-color: #ffffdf;
	text-align: left;
	color: #EF8BAF;
	border: 1px solid #EF8BAF;
	padding: 0.5em;
	-moz-border-radius: 1em;
	width:90%;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color:#EF8BAF;
}

div.rank{
	color:#F2C991;
	margin-bottom: 1em;
	padding-bottom:0.5em;
	font-size:90%;
	text-align:center;
}

span.rank a{
	color:#EF8BAF;
	font-size:90%;
}
 
span.memo {
	color:#9E68CA;
	font-weight:bold;
	background:#ffccff;
}
 
div.kensaku{
	text-align:right;
	padding:2px;
}
        
a img {
	border-width: 1px;
	color:#DBE8FB;	
}

/*
スミ消しプラグイン用
*/
.hide{
	background-color:#ff9900;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: #ffffdf;
        color: #EF8BAF;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: #ffffdf;
        color: #EF8BAF;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: #ffffdf;
        color: #EF8BAF;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;	
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 90%;
	line-height: 1.1em;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

div.section, div.comment {
	clear: both;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 20%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	padding: 2px 2px 100% 2px;
	padding-top: 0.5em;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 0px 1px 0px;
	margin: 2px 4px 2px 4px;
}
/*
引用ソースの表示
*/
p.source{
	margin-right: 1.5em;
        margin-top: 0px;
	text-align: right;
	font-size:90%;
        line-height: 24px;
        font-style: italic;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	text-align: center;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #0080FF;
	background-color: transparent;
}

.calendar-weekday {
	color: #555555;
	background-color: transparent;
}
.calendar-todo {
	border-style: solid;
	border-color: #1E90FF;
	border-width: 1px;
}

blockquote {
	border: 2px solid #ffbbbb;
	font-style: italic;
}
