/*
	bistro_menu.css: Style Sheet of tDiary $Revision: 1.2 $
	created by Shinchan <http://nga.jp/>
	validated by W3C.
 */

a:link, a:visited {
	background-color:transparent; 
	color: #B22222;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: underline;
	border-width: 1px;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #B22222;
	background-color: #DCDCDC;
	border-style: none;
	border-width: 1px;
}

body {
	background-image: url(bistro_menu__back.gif);
	background-color: #f4d9a9;
	color: #696969;
}

p.message {
	text-align: center;
	font-size: large;
	color: white;
	background-color: #ffffff;
	padding: 8px;
}

p.adminmenu {
	text-align: right;
	font-size: small;
}

span.adminmenu {
	background-color: #ffffff;
	color: #000000;
	border-style: outset;
	border-color: #000000;
	border-width: 1px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	background-color: #F4D9A9;
	border-style: solid;
	border-color: #B22222;
	border-width: 2px;
	color: black;
	padding: 4px;
	text-align: right;
}

p.calendar {
	background-color: #ffffff;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0%;
	color: black;
	text-align: right;
	font-size: x-small;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 8px;
}

div.day {
	width: 631px;
	background-image: url(bistro_menu_back_day.gif);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 5em;
	border-style: ridge;
	border-color: #b0aaa0;
	border-width: 0px 0px 0px 0px;
	margin-bottom: 2em;
	padding: 0px 0px 20px 0px;
}

span.title {
	color: #333333;
	background-color: transparent;
	margin-right: 1em;

	text-align: right;
}

h2 {
	background-image: url(bistro_menu_back_h2.gif);
	background-repeat:no-repeat ;
	background-attachment:scroll;
	background-color: transparent;
	color: black;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom:10px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
}

span.date {
	font-weight: normal;
	font-weight: bold;
}

div.body {
	background-image: url(bistro_menu_back_body.gif);
	background-color: transparent;
	background-repeat:repeat-y ;
	color: #000000;
	margin-top: 0;
	padding-top: 0;
}

div.section{
	background-color: transparent;
	margin-left: 0;
	margin-top: 0;
	margin-right: 1em;
	padding-bottom: 0;
}

div.section p{
        text-indent: 1em;
	background-color: transparent;
	margin-top: 0;
	line-height: 140%;
}

p {
	background-color: transparent;
	color: #000000;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0px;

}

h3.subtitle {
	color: #696969;
	background-color: transparent;
	border-style: solid;
	border-color: gray;
	border-width: 0px 0px 1px 0px;
	margin-top: 0;
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 20px;
	font-weight: bold;
}

pre {
	overflow: scroll ;
	font-size: x-small;
	background-color: #ffffff;
	color: #000000;
	margin-left: 2em;
	margin-right: 5em;
	padding: 8px 8px 8px 8px;
	border-color: #A9A9A9 ;
	border-style: ridge ; 
	border-width: 3px;
}

div.comment {
	background-image: url(bistro_menu_back_body.gif);
	background-color: transparent;
	background-repeat:repeat-y ;
	color: black;
	margin-top: 0;
	font-size: x-small;
	text-align: left ;
	padding-left:1em;
	padding-top:25px;
	padding-right:1em;
}

p.commenttitle {
	background-color: transparent;
	font-size: x-small;
	color: #000000;
	text-align: left ;
	margin-left:15px;
	margin-top: 0;
	padding-left: 1em;
	border-style: solid;
	border-color: #B22222;
	border-width: 0px 0px 1px 0px;


}

span.commentator {
	border-style: solid;
	border-color: honeydew;
	border-width: 0px 0px 1px 0px;

}

p.referertitle {
	background-color: transparent;
	color: #000000;
	border-style: solid;
	border-color: #B22222;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	background-color: transparent;
	color: #000000;
	font-size: x-small;
	text-align: right;
	padding-top: 1em;
}

div.refererlist {
	width: 631px;
	background-image: url(bistro_menu_back_body.gif);
	background-color: transparent;
	color: #B22222;
	font-size: small;
	margin-right: 1em;
	margin-top: 0;
}

ul.referer {

}

hr {
	border-style: outset;
	border-color: #818ccc;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	width: 631px;
	background-image: url(bistro_menu_back_body.gif);
	background-color: transparent;
	color: #000000;
	font-size: x-small;
	margin-left: 0px;
	margin-right: 1em;
	margin-bottom: 0;
}

input.field {
	font-size: small;
	color: #000000;
	background-color: white;
}

textarea {
	font-size: small;
	color: #000000;
	background-color: white;
	margin-left: 1em;
	margin-right: 1em;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

li{
	margin-left: 6em;
}

blockquote {
	color: #000000;
	background-color: white;
	margin-left: 2em;
	border-style: solid;
	border-color: #818ccc;
	border-width: 1px 1px 1px 5px;
	padding: 0.5em 1em 0.5em 1em;
}

p.titlelist  {

	font-size : x-small;
	border-style : solid;
	border-color : #818ccc;
	border-width : 1px;
	padding : 2px;
	margin : 4px;

}

strong {
	
}

li {
	font-size: x-small;
}

img {
	border-style: none;
}

table.calendar {
	text-align: center;
	color: #000000;
	background-color: #FFEBCD;
	border-style: solid;
	border-color: #B22222;
	border-width: 1px;
	margin-bottom: 1em;
}

td.calendar-current-month {
	font-size: xx-small;
	text-align: center;
}

td.calendar-next-month {
	font-size: xx-small;
	text-align: right;
}

td.calendar-prev-month {
	font-size: xx-small;
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	font-size: xx-small;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	font-size: xx-small;
	text-align: center;
}

td.calendar-weekday {
	color: #000000;
	background-color: #ddd;
	font-size: xx-small;
	text-align: center;
}

td.calendar-day {
	font-size: xx-small;
	text-align: right;
}

/*
	2002/02/25	subtitleがないと隙間があいてしまう。に対応。
			div.section pにmargin-top: 0;を追加。
*/
