/*
Title: Petith
Revision: Revision: 1.6 $
Author: Nana
Access: http://mikan.sakura.ne.jp/~mpc/
Comment: 小さなハートの枠がかわいいテーマ

	Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc/
	validated by W3C
*/
/* Changelog 
2002-05-24 Nana 
        * a:hover, a:focus remove border-bottom:2pt double;
          text-decoration:none->>underline
         
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.

2002-3-20  by Nana
	* remove font-family,font-size:13px>>>1em
	* changed pre-style
	* div.day margin-left,right:12%>>>10%    

2002-3-21 by Nana
	* validated by W3C >>> warned of is corrected. 
*/

a:link {
	text-decoration: none;
	color: #4A8CAD;
        background-color: #fff;
}

a:visited {
	text-decoration: none;
	color: #4A8CAD;
        background-color: #fff;
}

a:active {
        color: #ff0;
	text-decoration: none;
        background-color: #fff;    
}

a:hover, a:focus {
	color: #ba55d3;
	text-decoration: underline;
        background-color: #fff;
}

body {
      	background-color: #fff;
	color: #999;
	margin-right: 0.2em;
	margin-left: 0.2em;
	font-size: 1em;
}
p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
       	color: #0080FF;
        background-color: #fff;
}

p.adminmenu {
	text-align: right;
	font-size: 1em;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: #000;
	width: 66%;
	color: #888;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: none;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

p.calendar {
	background-color: transparent;
	border-style: none;
}

div.day {
	background-image: url(petith_fbottom.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	border-style: none;
	text-align: right;
	padding-left: 25px;;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-right: 0px;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-right: 12px;
	padding: 0em;
	text-align: right;
	font-size: 1em;
    /* Internet Explorer 5 (Mac) can't float a box which isn't assigned its widt
h.
    float: right;
    */
}

span.date {
	font-size: 1em;
	margin-left: 0.5em;
}

div.body {
	background-image: url(petith_ftop.gif);
	background-position: right top;
	background-repeat: no-repeat;
	background-color: transparent;
	text-align: left;
	padding: 1px;
	padding-top: 60px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 12px;
}

div.body p {
	padding-left: 16px;
	line-height: 150%;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	line-height: 140%;
}

h3.subtitle {
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	font-size: medium;
}

div.day span.panchor {
	background-image: url(petith_panchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 18px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(petith_canchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 15px 18px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}
pre {
	background-color: transparent;
	color: #999;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
        border-color: #2266aa;
        border-style: dotted;
        border-width: 1px; 
}

div.comment {
	font-size: 1em;
	text-align: left;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
  	margin: 0em;
	margin-right: auto;
	margin-left: 6px;
	margin-right: 50px;
}

div.comment p {
	padding-left: 1em;
}

p.commenttitle {
	text-align: right;
}

span.commentator {
	position: relative;
	left: -1em;
}

p.referertitle {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	text-align: right;
	font-size: 1em;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 50px;
}

div.refererlist {
	font-size: 1em;
	text-align: left;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	width: 66%;
	margin-top: 0.5em;
	clear: both;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: 1em;
	text-align: right;
	height: 32px;
}

div.form {
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	margin-left: 0%;
	width: 80%;
        text-align: left;
}

div.form form {
	width: 90%;
}

input.field {
	background-color: #fff;
        color: #000;
}

input {
	clear: left;
}

textarea {
	background-color: #fff;
        color: #000;
	margin-left: 1em;
	width: 80%;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
.hide {
        color: #999;
        background-color: #fff;
}
