@charset "euc-jp";

html {
	margin:0;
	padding:0;
	border:none;
}

html * {
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

body         { 
	font-size: 90%; 
	/* MacIE5 \*/ 
	letter-spacing: 1px;
	/*  */
	font-family: Verdana, Osaka, sans-serif; 
	line-height: 1.5; 
	color: #000000; 
	background-color: #ffffff;
	text-align: center;
	margin: 0; 
	padding: 0;

	word-break: break-all ;
	word-wrap: break-word ;
}


body{
	width: 87%;

}

.main{
	padding: 0px;
	margin: 0 0 0 29%;
}


h1 {	
	width: 87%;
	font-family: "Trebuchet MS",osaka,sans-serif;
	text-align: left;
	line-height: 1.2;
	font-size: 200%;
	margin: 45px auto;
	letter-spacing: 0.2em;
	background-color: #ffffff;
	padding: 0 10px;
	color: #000000;
}


.day {
	margin: 0;
	padding: 0 0 0 0;
	_width: 100% ;
	text-align:left;
	position: relative;
	z-index: 0;
}


h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #000000;

}

h2 {
	font-size: 100%;
	font-weight: bold;
	text-decoration:none;
	margin: 0 0 2em 0;
	padding: 0 5px;
	text-align: left;
	line-height: 1;
}

span.date{
	letter-spacing: 0px;
}

span.title{
	font-size: 100%;
	letter-spacing: 1px;
	font-family: Verdana, Osaka, sans-serif; 
	font-weight: bold;
	margin-left: 15px;
}

.body {
	padding: 0 0 0 0;
	margin: 1em 0 0 0;
	_width: 100% ;
	position: relative;
	z-index: 0;
}


div.section:after{
	content:"";
	display:block;
	clear:both;
}

.section{
	padding: 0.5em;
	margin: 0 0 2em 0;
	border: dashed 2px #000000;
	position: relative;
	z-index: 0;
	background-color: #ffffff;
}


.section P {	
	margin: 1em ;
	text-align:left;
	padding: 0;
}

.body > .section p{
	width: auto;
	height: auto;
}

h3 {	
	position: absolute;
	top: -0.7em;
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	background-color: #ffffff;
	margin: 0 0 0 3px;
	padding: 0;
	text-align:left;
}

form h3{
	position: static;
}

h3 a{
	border: none;
}

a.sectioncategory{
	
}

span.sanchor{
	color: #000000;
	margin:0;
}

span.timestamp{
	font-size:70%;
	font-weight: normal;
	letter-spacing: 0px; 
}



/**************** decoration *************************/

a{
	text-decoration: none;
	color: #000000;
	border-bottom:solid 1px #000000;
}

a.keyword,
a.okeyword {
	text-decoration: none;
	border-bottom: dotted 1px #e0e0e0;
}

a img{
	border: none;
}

a:hover  { 
	color: #ff0000;
}
  
a:active  {  } 


h4 {	
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	margin:0.5em 1em;
	padding: 0;
	text-align:left;
	word-break:break-all;
}

h5 {	
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	margin: 0.5em 1em ;
	padding: 0;
	text-align:left;
}

blockquote{
	border: dashed 2px #000000;
	margin: 1em;
	padding: 0.7em;
}

.section blockquote p{
	margin: 0.5em;
	padding: 0;
}

cite{
	font-weight: bold;
	font-style: normal;
}

cite a{
	border: none;
}

pre	{
	border: dashed 2px #000000;
	margin: 1em;
	padding: 0.7em;
	
}

font{
	

}

em,
em a{
	font-weight: normal;
	font-style: normal;
	border: none;
	background-color: yellow;
}

ins,
ins a{
	text-decoration: none;
	border: none;
	color: #000000;
}


/************************* list **********************/

.section ul{
	margin: 1em 1em 1em 2em;
	padding: 0;
}

.section ol{
	margin: 1em 1em 1em 2.5em;
	padding: 0;
}

.section ul li,
.section ol li,
.section ol ul,
.section ol ol,
.section ul ul,
.section li li {
	margin: 0 0 0 1em;
	padding: 0;
}



.section dl{
	margin: 1em 1em 1em 1.5em;
}

.section dt{
	font-weight: bold;
}

/********************** img ***************************/

img.photo{
	float: right;
	padding: 0 ;
	border: 0;
	margin: 10px;
	position: relative;
	z-index: 3;
}

img.asin{
	float: right;
	padding: 0 ;
	margin: 0 0 10px 10px;
	position: relative;
	z-index: 3;
}

/********************* footnote **********************/

span.footnote{
	font-size: 70%;
}

span.footnote a{
	border: 0;
}

div.footnote{
	margin: 0 0 2em 1em;
	padding: 1em;
	border: dashed 2px #000000;
}

p.footnote{
	margin: 0;
	font-size: 90%;
}

/********************** comment ***********************/

div.comment,
div.refererlist{
	width: 100% ;
	padding: 0.5em 0 1em 0;
	margin: 0 0 1.5em 1em;
	border: dashed 2px #000000;
	position: relative;
}


div.refererlist ul{
	margin: 1em 2em 0 2em;
	padding: 0;
	list-style-type: square;
	list-style-position: inside; 
	font-size: 80%;
	letter-spacing: 0px;
}

.caption{
	background-color: #ffffff;
	font-size: 80%;
	margin: 0 1em;
}

.caption a{
	border: 0;
}

form .caption{
	position: static;
	margin: 0.5em;
	border: none;
}



div.commentshort{
	margin: 0 1em;

}

span.canchor{
	display: none;
}

div.commentshort a{
	border: none;
}


span.commentator{
	font-weight: bold;
	display:block;
	margin: 0 0 0 -1em;
	padding: 3px 0 0 0;
}

form span.commentator{
	display: inline;
	margin: 0;
}

div.commentshort p
{
	margin: 0 0 0 1em;
	font-size: 90%;
	letter-spacing: 0px; 
}

form div.commentshort p,
form div.refererlist ul{
	font-size: 100%;
}

div.commentshort textarea{
	width: 90%;
}

/******************asin::detail***********************/

div.hatena-asin-detail {
	margin: 1em 1em;
	padding: 10px;
	border: dashed 2px #000000;
	_width: 100%;
}

img.hatena-asin-detail-image {
	float: left;
	border: 0;
	margin: 0 10px 0 0 ;
}

div.hatena-asin-detail-info{
	float: left;
	margin: 0;
	word-break: break-all;
}

.section p.hatena-asin-detail-title{
	font-weight: bold;
	width: 100%;
	margin: 0;
}

div.hatena-asin-detail-info ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}


div.hatena-asin-detail-info li {
	margin: 0;
	padding: 0;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail-foot {
	clear: left;
}

/************************ form **********************/

form{
	margin: 0;
	padding: 0;
}

form.hatena-searchform{
	margin: 5px 0;
}

form div.body{
	margin: 0 0 2em 0;
	padding: 1em;
	border: solid 1px #000000;
}

form h2{
	font-size: 120%;
	margin: 1em 0 ;
}

form h3{
	border-bottom: solid 1px #000000;
	margin: 1em 0;
}




/********************** sidebar ***********************/

.sidebar {
	position: absolute;
	top: 19px; 
	left: 0px;
	width: 26% ;
	padding: 0;
	margin: 0 ;
	font-size: 90%;
	text-align: left;
	border: none;
}

.hatena-module{
	margin: 0 0 2em 0;
	padding: 1em 0 0 0;
	width: 100% ;
	position: relative;
	border: dashed 2px #000000;
}

.hatena-moduletitle,
.hatena-moduletitle a{
	border: none;
	color: #000000;
	background-color: #ffffff;
}

.hatena-moduletitle{
	position: absolute;
	top: -0.9em;
	font-size: 100%;
	letter-spacing: 0px;
	font-weight: bold;
	padding: 0;
	margin: 0px 1em;
	color: #000000;
	text-align: left;
	letter-spacing: 0px;

}

.hatena-modulebody{
	padding: 0 1em 10px 1em;
	margin: 0;
	font-size: 90%;
	_width:100%;

}

.hatena-modulebody a{
	border: none;
}

/********************** sideber li **********************/


.hatena-modulebody ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.hatena-modulebody li {

}

.hatena-modulebody li a{
	display: block;
	padding: 3px 5px;
	line-height: 1.2;
	margin: 0;
	border: solid 1px #ffffff;
	width: 100%;
}

.hatena-modulebody li a:hover {
	color: #000000;
	border: solid 1px #000000;
	width: 100%;
}


/*************** trackback/comment module ****************/

.hatena-modulebody ul.hatena-recentcomment li a{
	display: inline;
	width: auto;
	padding: 0;
	border: none;
}

.hatena-modulebody ul.hatena-recentcomment li a:hover{
	width: auto;
	border: none;
	color: #ff0000;
}



/******************* photo module *******************/


ul.hatena-photo{
	padding: 5px 5px;
	margin: 0;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-photo li{
	margin: 0;
	display: inline;
	width: none;
	
}

ul.hatena-photo li img{
	
}

ul.hatena-photo li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	border: none;
	text-align: center;
}

ul.hatena-photo li a:hover{
	width: 48%;
	background-image: none;
	border: none;
}

ul.hatena-photo li a img{
	filter: none;
	border: 1px solid #000000;
}

ul.hatena-photo li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}


/********************** calender **********************/

div.calendar {
	font-size:80%;
	color: #000000;
	margin: 0 ;
	padding: 0;
	text-align: right;
}

div.calendar a{
	border: none;
	color: #000000;
}




/********************** header **********************/

table
{ 
	margin: 0 auto; 
	padding: 0; 
}

td 
{
 	background-color : transparent;
}

table table td{
 	background-color : transparent;
}

table table{
	margin: 0;
	padding:0;
	border: none;
	width: 100%;
	border: 0;
	background-image: none;
	background-color : transparent;
}

table table td font, 
table table td a{
	border:none;
	color: #000000;
}

td a{
	border: 0;
}

table input{
	border: solid 1px #000000;
	background-color : #ffffff;
	color: #000000;
}



div.body table{
	width: auto;
	border: 0;
}

/********************** calendar2 **********************/

div.calendar2{
	padding: 0;
}

table.calendar{
	font-size: 100%;
	letter-spacing: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	border: none;
	background-image : none;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
}

td.calendar-current-month{
	font-weight: bold;
}

td.calendar-prev-month,
td.calendar-current-month,
td.calendar-next-month{
	text-align:center;
}

td.calendar-day {

}

td.calendar-day a{
	border-bottom: 1px solid #000000;
}

td.calendar-weekday,
td.calendar-sunday,
td.calendar-saturday{
	display:none;
}

td.calendar-day a img {
	width: 12px;
	height: 12px;
	border: solid 1px #000000;
}

td.calendar-day a:hover img{
	border: solid 1px #ff0000;
}

/************************ adminmenu ****************************/

div.adminmenu{
	text-align: right;
	width: 87%;
	padding: 1em 0;
	margin: 0 auto;
	font-size: 80%;
	background-color: #ffffff;
	color: #000000;
}

div.adminmenu a{
	border: none;
	color: #000000;
}

div.hatena-body div.adminmenu{
	text-align: right;
	margin: 0;
	padding: 0.5em 1em;
	width: auto;
	border: 0;
}

/************ adminmenu ***********/

span.highlight {
	background-color: yellow;
	padding: 1px;
}

.footer,
.footer a{
	color: #000000;
	border: none;
}

.footer{
	padding: 3px;
	text-align: center;
	font-size: 80%;
}


div.body {
	clear: both;
}

hr.sp {
	display: none;
}
