body	{
	margin:	0;
	background-color: #ffffff;
        color: #666666;font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5em;
}

table {
	width : 100% ;
	margin :	0 ;
}

td td {
	background-color: #ffffff;
}

h1	{
	font-size: 150%;
	margin: 1.5em 200px 0.5em 30px;
	padding: 0.2em 0.5em 0.2em 0.5em;
	color: #000000;
	background-color: #ffffff;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	border-style: solid;
}

h2	{
	margin: 0.5em 5% 0em 25px;
	padding: 0.2em 0.5em 0.2em 0.5em;
	color: #000000;
	background-color: #ffffff;
	font-size: 130%;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	border-style: solid;
}

h3	{
	margin: 0em 0em 1em 0em;
	color: #666666;
	font-size: 110%;
	font-weight: bold;
}

p	{
	margin: 0em 1em 0em 2em;
}

address	{
	font-size: 80%;
	text-align: right;
	margin: 2em 23% 2em 6%;
	padding: 0em 1.5em 0em 1em;
	color: #666666;
	background-color: #ffffff;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	border-style: solid;
}

blockquote	{
	color: #666666;
	/*font-size: 90%;*/
	margin: 0.5em 3em 0.5em 3em;
	padding: 0.25em;
	background-color: #f9f9f9;
	border-width: 2px;
	border-color: #ffcccc;
	border-style: dotted;
}

pre	{
	color: #666666;
	/*font-size: 90%;*/
	margin: 0.5em 3em 0.5em 3em;
	padding: 0.25em;
	background-color: #f3fff3;
	border-width: 2px;
	border-color: #ccffcc;
	border-style: dotted;
}

a:link	{
	color: #3366ff;
	text-decoration:none;
}

a:active	{
	color: #3366ff;
	text-decoration:none;
}

a:visited	{
	color: #3366ff;
	text-decoration:none;
}

a:hover	{
	text-decoration:none;
	color:#ffffff;
	background-color: #3366ff;
}

a:link font	{
	color: #999999;
	text-decoration:none;
}

a:active font	{
	color: #999999;
	text-decoration:none;
}

a:visited font	{
	color: #999999;
	text-decoration:none;
}

a:hover font	{
	text-decoration:none;
	color:#ffffff;
	background-color: #3366ff;
}

a.keyword	{
	color: #000000;
	background-color: #ffffff;
	text-decoration:none;
}

a.keyword:link	{
	color: #000000;
	background-color: #ffffff;
	text-decoration:none;
}

a.keyword:active	{
	color: #000000;
	background-color: #ffffff;
	text-decoration:none;
}

a.keyword:visited	{
	color: #000000;
	background-color: #ffffff;
	text-decoration:none;
}

a.keyword:hover	{
	text-decoration:none;
	color:#ffffff;
	background-color: #3366ff;
}

ul	{
	margin: 0.5em 1em 0.5em 3em;
}

ul li	{
	/*font-size: 90%;*/
	font-weight: bold;
}

ol	{
	margin: 1em 1em 1em 4em;
}

ol li	{
	/*font-size: 90%;*/
	font-weight: bold;
}

dl	{
	margin: 0.5em 1em 0.5em 3em;
}

dt	{
	/*font-size: 90%;*/
	font-weight: bold;
}

dd	{
	/*font-size: 80%;*/
	margin: 0.2em 0em 0.5em 2em;
}

div.main	{
	margin-right: 150px;
	padding: 0px 0px 0px 7px;
	background-color: #ffffff;
	border-width: 0px 0px 0px 10px;
	border-color: #ccddff ;
	border-style: dotted;
}

div.sidebar	{
	position: absolute;
	top: 180px;
	right: 20px;
	width: 150px;
	margin-left: 10px;
	padding: 0px 0px 0px 5px;
	background-color: #fffff;
	border-width: 0px 0px 0px 5px;
	border-color: #ccddff;
	border-style: dotted;
	font-size: 10pt;
	line-height: 1.3em;
}

p.recentitem	{
	margin: 0px 0px 10px 10px;
	padding: 3px;
	color: #666666;
	background-color: #ffffff;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc ;
	border-style: solid;
	font-size: 10pt;
	line-height: 1.3em;
}

div.recentsubtitles	{
	margin: 0px 0px 15px 0px;
	padding: 3px 3px 6px 10px;
	color: #666666;
	background-color: #ffffff;
	border-width: 0px 0px 0px 3px;
	border-color: #ccddff;
	border-style: dotted;
	font-size: 10pt;
	line-height: 1.3em;
}

div.calendar	{
	margin: 0.5em 50px 1em 50px;
	font-size: 80%;
}

div.day	{
	margin: 0.5em 8% 1em 0px;
	padding: 2px 2px 2px 5px;
	color: #666666;
	background-color: #ffffff;
	border-width: 0px 0px 0px 8px;
	border-color: #ccddff ;
	border-style: dotted;
}

div.body	{
	margin: 0em 0em 0em 0px;
	padding: 1em 0em 0em 0em;
	background-color: #ffffff;
	border-width: 0px 0px 0px 4px;
	border-color: #ccddff ;
	border-style: dotted;
}

div.section	{
	margin: 1em 0.2em 1.5em 5px;
	color: #333333;
	padding: 0.5em 0.5em 0.5em 2em;
	background-color: #ffffff;
	border-width: 0px 0px 0px 2px;
	border-color: #ccddff;
	border-style: dotted;
}

span.timestamp	{
	font-size: 90%;
}

p.footnote	{
	color: #666666;
	font-size: 90%;
	margin: 0.5em 3em 0.5em 3em;
	padding: 0.25em;
	background-color: #ffffe9;
	border-width: 2px;
	border-color: #ffee99;
	border-style: dotted;
}


div.refererlist	{
	font-size: 90%;
	color: #666666;
	margin: 1em 1em 1em 3em;
	background-color: #f6f9ff;
	border-width: 2px;
	border-color: #ccddff;
	border-style: dotted;
	padding: 0.2em 1em 0.5em 1em;
}
div.comment	{
	font-size: 90%;
	color: #666666;
	margin: 1em 1em 1em 3em;
	padding: 0.2em 1em 0.5em 1em;
	background-color: #f6f9ff;
	border-width: 2px;
	border-color: #ccddff;
	border-style: dotted;
}

div.caption	{
	color: #666666;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc ;
	border-style: solid;
	padding: 0.2em;
}


div.commentshort	{
	font-size: 90%;
	margin: 1em 0em 0em 0em;
	color: #333333;

}

table.calendar	{
	color: #666666;
	font-size: 10pt;
	margin: 1px 1px 5px 1px;
	padding: 3px;
	background-color: #f6f9ff;
	border-width: 2px;
	border-color: #ccddff;
	border-style: dotted;
}

td.calendar-day img {
	width: 15px;
	height: 15px;
	border: 0;
	margin: 0em;
}

img.photo	{
	float: right;
	margin: 25px 10px 10px 10px;
	border: 0;
}

img {
border:0;
float:left;
margin: 0em 0.5em 0em 0em;
}
