/* 
Title: Nahanaha
Revision: $Revision: 1.3 $ 
Author: furu
Access: http://nahanaha.zive.net/

       Copyright by (C)furu http://nahanaha.zive.net/
       Modified by Nana http://mikan.sakura.ne.jp/~mpc/tdiary/
       validated by W3C. 
*/
/* ChangeLog
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
*/


/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
        background-color: #eee;
	margin-left: 2em;
	margin-right: 2em;
	color: #1e1e1e;
}

a:link {
	color: #aa66ff;
        background-color: transparent;
        text-decoration: none;
}
a:visited {
	color: #aa66ff;
        text-decoration: none;
        background-color: transparent;
}
a:active {
	color: #66aaff;
        text-decoration: underline;
        background-color: transparent;
}
a:hover {
	color: #ffffff;
        background-color:#000000;
}
a img {
	border-width: 0px;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
p.adminmenu {
	text-align: right;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
        color: #1e1e1e;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	padding: 3px;
}

/*
日記タイトルの設定
*/
p.title {
	font-style: italic;
	text-align: left;
}

/*
カレンダーの設定
*/
p.calendar {
	border-style: none;
	border-color: transparent;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
        color: #1e1e1e;
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
        border-color: #ffffff;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

/*
タイトル行全体の設定
*/
h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
        font-size: small;
}

h1 {
        font-size:x-small;
}
/*
日付の設定
*/
span.date {
	font-size: large;
	margin-left: 0.5em;
        font-style: italic;
        
}

/*
タイトルの設定
*/
span.title {
        color: #1e1e1e;
        font-size: medium;
        font-weight:bold;
        color:#800080;
        background-color : transparent;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
        color: #1e1e1e;
	background-color: #eeeeee;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 12px;
	margin-right: 12px;
        margin-top: 12px;
}

/*
1日の日記本文の段落
*/
div.body p {
	padding-left: 16px;
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

/*
サブタイトルの設定
*/
h3.subtitle {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}


/*
ツッコミ欄全体の設定
*/
div.comment {
	font-size: small;
	background-color: transparent;
        border-style: dotted none none none;
        border-width: 1px 0px 0px 0px;
        border-color: #cccccc;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-right: 24px;
	margin-left: 30px;
}

/*
ツッコミ欄タイトル行の設定
*/
p.commenttitle {
	border-style: solid;
	border-color: #eeeeee;
	border-width: 0px 0px 1px 0px;
}

/*
ツッコミした人の名前の設定
*/
span.commentator {
	border-style: solid;
	border-color: 	#eeeeee;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

/*
リンク元リスト(短い方)の設定
*/
p.referer {
	text-align: right;
	font-size: small;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	font-size: small;
	background-color: #eeeeee;
        color: #1e1e1e;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

/*
リンク元リストタイトルの設定
*/
p.referertitle {
	border-style: solid;
	border-color: #eeeeee;
	border-width: 0px 0px 1px 0px;
}

/*
リンク元リスト一覧の設定
*/
ul.referer {
	margin-top: 0em;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #1e1e1e;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: transparent;
	border-style: none;
	border-color: #ffffff;
	border-width: 1px;
	padding: 1em 1em 0.5em 1em;
	margin-bottom: 0.5em;
        margin-left:24px; 
        margin-right:24px;
}

/*
入力フィールドの設定
*/
input.field {
	background-color: #fff;
        color: #000;
}

/*
複数行入力フィールドの設定
*/
textarea {
	background-color: #ffffff;
	margin-left: 1em;
        color: #000;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #000000;
	color: white;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: black;
	color: #ffffff;
	margin-left: 1.5em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
        font-family: osaka,"Lucida Sans Unicode",Arial,sans-serif;
}

/*
項目リストの設定
*/
dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
