/*
	moo.css: Moo Style Sheet of tDiary $Revision: 1.5 $
        Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc/
	validated by W3C

        Changelog 2002-3-23 by Nana
        pre font-color#000-->#fff
        p   margin-left 1em
        div day margin-left,right 15%-->10%
        p adminmenu boder-style none-->solid,background-color #000
        form margin delete
*/
/* ChangeLog
2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/


a:link {
	text-decoration: none;
	color: #804040;
        font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: #804040;
        font-weight: bold;
}

a:active {
	text-decoration: none;
        color: #9999FF;
}

a:hover, a:focus {
	color: #fff;
}

body {
        background-image: url(moo.gif);
	background-color: #000;
	color: #804040;
        font-size: small;
        margin-left: 0em;
        margin-right: 0em;    
}

p.adminmenu {
	text-align: right;
	font-size: small;
	float: right;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: #fff;
	width: 66%;
	color: #888;
	padding: 8px;
}

span.adminmenu {
	background-color: #000;
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
        color: #804040;
}

p.calendar {
	background-color: #000;
	border-style: solid;
        border-color: #fff;
        border-width: 1px;
        text-align: left;
}
span.calendar {
        padding: 3px;
}

div.day {
        background-color: #000;
	border-style: none;
	text-align: right;
        color: #fff;
	padding: 0.5em;
	padding-bottom: 0em;
	padding-top: 0em;
	margin: 0em;
        border-style: solid;
	border-color: #fff;
	border-width: 3px 3px 0px 3px;
	margin-right: 10%;
	margin-left: 10%;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-right: 12px;
	padding: 0em;
	text-align: right;
}

span.date {
	font-size: small;
	margin-left: 0.5em;
}

span.date a {
	color: #a62;
}

span.date a:link {
	color: #ffa500;
	text-decoration: none;
}

span.date a:hover, a:focus {
	color: #4e8;
	text-decoration: none;
}

span.title {
        font-size: 1em;
}

div.body {
	background-color: transparent;
	text-align: left;
	padding: 0.1em;
	margin-left: auto;
        font-size: 1em;
}

p {
	margin: 0em;
	line-height: 1.4em;
        margin-left: 1em;
}

h3.subtitle {
	margin: 0.5em;
	padding: 0em;
	font-weight: bold;
	font-size: small;
        margin-bottom: 0.3em;
}

pre {
	background-color: orange;
	color: #fff;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
}

div.comment {
	font-size: small;
	text-align: left;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
  	margin: 0.2em;
	margin-right: auto;
	margin-left: 2px;
        border-style: solid;
	border-color: #999;
	border-width: 1px 0px 0px 0px;
}

div.comment p {
	padding-left: 0em;
}

p.commenttitle {
	text-align: right;
}

span.commentator {
	padding: 3px;
}

p.referertitle {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	text-align: right;
	font-size: small;
	color: #fff;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 12px;
}

div.defererlist {
	font-size: small;
	text-align: left;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	width: 70%;
	margin-top: 0.5em;
	clear: both;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #000;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
        color: #804040;
}

div.form {
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	color: #fff;
	margin-bottom: 0.5em;
        border-style: solid;
	border-color: #fff;
	border-width: 3px 3px 3px 3px;
}

div.form form {
	width: 80%;
}

input.field,texterea {
	background-color: white;
        color: #000;
}

input {
	clear: left;
}

textarea {
	background-color: white;
	margin-left: 1em;
        color: #000;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
        color: #FF8000;
}
