input[type=button],
input[type=submit],
input[type=reset],
button {
  background: $link-color;
  border: $border;
  border-radius: $radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: $pad-xsmall $pad-small;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: darken($link-color, 10);
}

input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  background: darken($link-color, 10);
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active {
  background: darken($secondary, 10);
}
