/*
	candy.css: Candy Style Sheet of tDiary $Revision: 1.1 $
	created by TADA Tadashi <sho@spc.gr.jp>
 */

a:link, a:visited {
	color: darkred;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: darkred;
	background-color: #F0E68C;
	border-style: none;
	border-width: 1px;
}

body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #fdffcf;
	color: black;
	margin-left: 0px;
	margin-right: 0px;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
	text-align: left;
	font-size: x-small;
}

span.adminmenu {
	margin: 4px;
}

h1 {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.calendar {
	background-image: url(candy_calendar.png);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	width: 500px;
	height: 96px;
	color: black;
	text-align: left;
	font-size: small;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 8px;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-image: url(candy_h2.png);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	width: 500px;
	height: 32px;
	padding-left: 8px;
}

span.date {
	font-size: large;
}

span.title {
	color: black;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

p {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3.subtitle {
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: darkred;
	color: white;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: white;
	color: black;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

p.commenttitle {
	border-style: solid;
	border-color: darkred;
	border-width: 0px 0px 1px 0px;
}

span.commentator {
	border-style: solid;
	border-color: darkred;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

p.referertitle {
}

p.referer {
	background-color: white;
	text-align: right;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist {
	background-color: white;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: white;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

input.field {
	background-color: white;
	width: 9em;
}

textarea {
	background-color: white;
	margin-left: 1em;
	width: 90%;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

