@charset "euc-jp";
/*
Title: Bluegrad
Revision: $Revision: 1.12 $
Author: zoe
Access: http://www.kasumi.sakura.ne.jp/~zoe/
License: GPL
Comment: 青グラデーションの背景

	bluegrad.css: grad Style Sheet
	Copyright by (C) zoe http://www.kasumi.sakura.ne.jp/~zoe/
	validated by W3C
 */
/* ChangeLog
2002-09-13 NT <nt@24i.net>
        * convert for 1.5 series.

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/

a:link {
	text-decoration: none;
	color: #26a;
}
a:visited {
	text-decoration: none;
	color: #d82;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #0000cd;
}

body {
	background-image: url(bluegrad_back.png);
	background-position: center;
	background-repeat: repeat-y;
	background-color: #6bf;
	color: black;
	margin: 0em;
}

strong {
        font-weight: bold;
	font-size: 200%;
}
font.keyword {
        font-weight: bold;
	font-size: 200%;
	color: red;
}

em {
        font-weight: bold;
}

div.adminmenu {
	text-align: right;
	font-size: small;
	float: right;
}

p.antenna {
	text-align: right;
	font-size: small;
	float: right;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: white;
	width: 66%;
	color: #f00;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}
img.logo {
	border-style: solid;
	border-color: #7cf;
	border-width: 2px;
	float: left;
}	 
div.calendar {
	background-color: transparent;
	border-style: none;
	padding-top: 0.5em;
	float: right;
}

div.rank {
	background-color: transparent;
	border-style: none;
	border-color: black;
	border-width: 1px;
	font-size: 60%;
	text-align: left;
	margin: 0em;
}
p.sentence {
	background-color: transparent;
	border-style: none;
	margin: 0em;
	font-size: 60%;
}

div.day {
	background-color: white;
	background-image: url(bluegrad_backday.png);
	background-position: center;
	background-repeat: repeat-y;
	color: black;
	text-align: right;
	padding: 0em;
	margin: 2em;
	margin-top: 0.5em;
	clear: both;
}

h2 {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 12px;
	padding: 0em;
	text-align: right;
	font-size: medium;
	float: right;
}

h2 span.date {
	margin-left: 0.5em;
}
h2 span.date {
	color: #a62;
}

div.body {
	background-color: transparent;
	text-align: left;
	padding: 1em;
	margin: 0em;
}

div.section {
	background-color: transparent;
	text-align: left;
	padding: 0em;
	margin: 0em;
}

div.body p {
	padding-left: 16px;
	line-height: 1.5em;
	margin-top:0.7em;
	margin-bottom:0.5em;
}

div.section p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	line-height: 1.4em;
}

h3 {
	padding: 0em;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

div.day span.sanchor {
	background-image: url(bluegrad_anchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 20px 20px 0px 0px;
	color: #c0ffff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(bluegrad_commentanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #c0ffff;
	background-color: transparent;
	font-size: 1px;
}

pre {
     	background-image: url(bluegrad_back.png);
	background-position: center;
	background-repeat: repeat-y;
	background-color: white;
	color: #000;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px;
}

div.comment {
	background-color: transparent;
	text-align: left;
	padding-left: 2em;
}

div.comment div.caption {
	text-align: left;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}

div.referer {
	background-color: transparent;
	text-align: right;
	font-size: small;
	padding: 0em;
	margin: 0em;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	text-align: left;
	background-color: transparent;
	padding: 0em;
	padding-left: 32px;
	border-width: 0px;
	width: 80%;
	margin-top: 0em;
	clear: both;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
}

div.form {
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	width: 90%;
	margin-bottom: 0.5em;
}

div.form form {
	width: 90%;
}

input.field {
	background-color: white;
}

input {
	clear: left;
	line-height: 1em;
}

textarea {
	background-color: white;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

form.search {
	clear: right;
	text-align: right;
	float: right;
	margin: 0em;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 0em;
}

form.comment input {
        background-color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
	margin-top: 1ex;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: black
        width: 30em;
        height: 5em;
	margin: 1ex 0em 2ex auto;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
	margin: 1ex 0em 2ex auto;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
