@charset "utf-8";
/*
Title: tDiary blog style
Revision: $Revision: 1.4 $
Author: ただただし
Access: sho@spc.gr.jp
License: GPL
Comment: tDiary blog kitデフォルトテーマ

validated by W3C.
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #eee;
	color: #000;
	margin: 0px;
}

/*
リンク文字列に関する設定
*/
a:link {
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	color: #00a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: center;
	font-size: 0.9em;
	clear: both;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: transparent;
	color: #000;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 1px 0px 1px;
	padding: 0px 4px 0px 4px;
}

/*
日記タイトルの設定
*/
h1 {
	height: 80px;
	text-align: center;
	margin: 10px;
}

/*
カレンダーの設定
*/
div.calendar {
	border-style: solid;
	border-color: #ddf;
	border-width: 2px;
	padding: 2px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.1em;
	font-size: 90%;
}

div.calendar div.year {
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	border-style: solid;
	border-color: #ddd;
	border-width: 0px 0px 4px 0px;
	padding-bottom: 0em;
	margin-bottom: 1em;
}

/*
タイトル行全体の設定
*/
h2 {
	background-color: #ccc;
	color: #000;
	margin: 0em 0em 0.1em 0em;
	padding-left: 4px;
}

/*
日付の設定
*/
h2 span.date {
	font-size: medium;
}

/*
タイトルの設定
*/
h2 span.title {
	font-size: large;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: #f5f5f5;
	color: #000;
	padding: 4px;
	margin-top: 0em;
	margin-bottom: 0em;
}

/*
Last-Modified plugin
*/
div.body div.lm {
	text-align: right;
	font-size: 80%;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

/*
サブタイトルの設定
*/
h3 {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}

/*
日記の本文(段落)の設定
*/
div.section p {
	margin: 0.5em 1em 0.7em 3em;
	line-height: 1.5;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	font-size: 0.9em;
	font-weight: bold;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 1px 0px;
	margin: 0.5em;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	background-color: #f5f5f5;
	color: #000;
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 0px 0px 0px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 0.9em;
	margin-left: 4em;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
	font-size: 0.9em;
	margin: 0.5em;
	line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 1px 0px;
	line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: #f5f5f5;
	color: #000;
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 0px 0px 0px;
	padding: 2px;
	margin: 0em;
}

/*
フォームの設定
*/
div.form form {
	margin: 0em 0em 0em 3em;
}

div.form form.comment {
	font-size: 0.9em;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	background-color: #eee;
	color: #000;
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}
form.comment textarea {
	display: block;
	background-color: #eee;
	color: #000;
	margin-left: 3em;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin-left: 3em;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: right;
	font-size: 0.9em;
	background-color: #ddd;
	color: #000;
	padding: 2px;
	padding-bottom: 1px;
	margin: 0em;
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	background-color: #f5f5f5;
	color: #000;
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 0px 0px 0px;
	padding: 2px;
	padding-bottom: 1px;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 0.9em;
	margin: 0.5em 1em 0.5em 3em;
	line-height: 1.2em;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddf;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: 0.9em;
	text-align: right;
	margin-top: 0.5em;
	margin-right: 1em;
	clear: both;
}

/*
更新フォーム
*/
form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	background-color: #eee;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
	margin-left: 3em;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fff;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: #eee;
	color: #000;
	margin-left: 5em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 0px 2px;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 2px 2px 2px;
	margin-left: 5em;
	margin-right: 3em;
	padding: 4px 4px 4px 4px;
}
div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
箇条書きの設定
*/
div.body ul, div.body ol {
	margin-left: 6em;
	margin-right: 3em;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 5em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin: 0em 3em 0.5em 1em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 1.1em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 0.7em;
}

div.footnote {
	font-size: 0.9em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #008;
	float: left;
	margin: 0.5em;
}

img.right {
	border-width: 1px;
	border-color: #008;
	float: right;
	margin: 0.5em;
}

div.section, div.comment {
	clear: both;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 30%;
}

div.sidebar {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 30%;
	padding-bottom: 100%;
}

div.sidebar div.sidemenu {
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
	font-weight: bold;
	padding-left: 4px;
	padding-bottom: 4px;
}

div.sidebar ul {
	line-height: 120%;
	margin: 0em 0em 0.5em 2em;
	padding: 0px;
}

div.sidebar form {
	margin: 0em 0em 0.5em 2em;
	padding: 0px;
}
