@charset "euc-jp";
/*
Title: 日本ちゃちゃちゃ
Revision: $Revision: 1.6 $
Author: ただただし
Access: sho@spc.gr.jp
License: GPL
Comment: サッカー日本代表ユニ

Copyright 2002 (C) by TADA Tadashi <sho@spc.gr.jp>
Validated by W3C.
*/

body {
	background-image: url(nippon_back.png);
	background-position: 75%;
	background-repeat: repeat-y;
	background-color: #007;
	color: #fff;
}

a:link {
	color: #ff0;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #ee0;
	background-color: transparent;
	text-decoration: none;
}

div.adminmenu {
	text-align: right;
	margin-top: 0px;
	margin-right: 30%;
	clear: both;
}

div.adminmenu {
	font-size: 80%;
	color: #ff0;
	background-color: transparent;
	border-style: none;
	line-height: 24px;
	height: 24px;
	padding: 2px;
}

h1 {
	color: #000;
	background-color: #dd0;
	border-style: solid;
	border-color: #c00;
	border-width: 2px 24px 2px 24px;
	width: 60%;
	padding: 8px;
	text-align: center;
}

h1 a, h1 a:visited {
	color: #000;
}

div.day h2 {
	border-style: solid;
	border-color: #d00;
	border-width: 0px 0px 3px 0px;
	text-align: left;
}

div.day h2 a:link, div.day h2 a:visited {
	color: #fff;
	background-color: transparent;
}

div.body {
	line-height: 150%;
}

div.body h3 {
	font-size: medium;
	border-style: solid;
	border-color: #d00;
	border-width: 0px 0px 1px 0px;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding: 4px;
}

div.day span.sanchor {
	background-image: url(nippon_anchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #007;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(nippon_anchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #007;
	background-color: transparent;
	font-size: 1px;
}

div.body p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 2em;
	color: #fff;
	background-color: transparent;
}

div.body pre {
	color: #fff;
	background-color: transparent;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	border-color: #fff;
	padding: 8px;
	margin-left: 3em;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

div.body blockquote {
	color: #fff;
	background-color: transparent;
	border-style: solid;
	border-color: #fff;
	border-width: 2px 0px 2px 0px;
	padding: 4px;
	margin-left: 3em;
	margin-right: 3em;
}

div.body blockquote p {
	margin-left: 0em;
}

div.body li {
	margin-left: 2em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	border-style: solid;
	border-color: #fff;
	border-width: 0px 0px 1px 0px;
	margin-top: 0.7em;
}

div.body dd {
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	margin-left: 2em;
}

div.comment {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	color: #fff;
	background-color: transparent;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 4px;
	font-size: 90%;
	margin-left: 3em;
}

div.form div.comment {
	margin-right: 1em;
	color: #fff;
	background-color: transparent;
}

div.comment p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	line-height: 150%;
}

div.comment p.commenttitle {
	border-style: dashed;
	border-color: #fff;
	border-width: 0px 0px 1px 0px;
}


div.form {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	margin-left: 3em;
	color: #fff;
	background-color: transparent;
}

div.day div.form {
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	font-size: 90%;
}

div.form form {
	margin: 0;
	padding: 4px 4px 4px 4px;
	width: 100%;
}

div.form p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	padding-left: 4px;
}

div.form textarea {
	margin-left: 0.5em;
}

div.referer {
	text-align: right;
	font-size: 80%;
	margin-top: 0px;
}

div.refererlist {
	border-style: solid;
	color: #fff;
	border-color: #fff;
	border-width: 1px;
	background-color: transparent;
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 3em;
	font-size: 90%;
}
div.day div.refererlist {
	margin-left: 3em;
}

div.refererlist ul {
	margin-left: 2em;
}

div.form div.refererlist {
	margin-right: 1em;
	color: #fff;
	background-color: #fff;
}

div.refererlist p, div.refererlist ul {
	margin-top: 0px;
	margin-bottom: 0em;
	padding: 4px 4px 4px 4px;
}

hr {
	color: #d00;
	background-color: transparent;
	margin-top: 0.5em;
}

hr.sep {
	display: none;
}

div.footer {
	text-align: right;
	font-size: 80%;
	margin-right: 30%;
	clear: both;
}

form div.body {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	padding: 0px 4px 4px 4px;
}

/*
 for plugins
 */

/* calendar */
div.calendar {
	color: #fff;
	background-color: transparent;
	font-size: 80%;
}

/* calendar2 */
table.calendar {
	font-size: 80%;
	line-height: 100%;
	border-width: 0px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 80%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 80%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 80%;
}

div.footnote {
	border-style: solid;
	border-color: #fff;
	border-width: 1px 0px 0px 0px;
	margin-left: 3em;
	font-size: 90%;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #fff;
	float: left;
}

img.right, img.amazon {
	border-width: 1px;
	border-color: #fff;
	float: right;
}

/*
div.section, div.comment {
	clear: both;
}
*/

/*
 for Asumi Diary layout
 */
div.main {
	width: 70%;
	margin-left: 0.5em;
	padding: 0px;
	float: left;
}

div.sidebar {
	font-size: 90%;
	background-color: transparent;
	color: #fff;
	width: 20%;
	margin-left: 35px;
	padding-left: 1.5em;
	float: left;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	margin: 4px 4px 2px 4px;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 30em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

/*
ハイライトプラグイン
*/
.highlight {
	color: #000;
	background: #ff6666;
}
