@charset "euc-jp";
/*
Title: alfa
Revision: $Revision: 1.4 $
Author: abbey
Access: inlet@cello.no-ip.org
License: GPL
Comment: Theme of the alfista.

	Copyright by (C) abbey <inlet@cello.no-ip.org>
	validated by W3C

Changelog
2002-09-13 NT <nt@24i.net>
        * convert for 1.5 series.
*/

a:link {
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	color: #b00;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	color: #ecc;
}

a:active {
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	color: #b00;
}

a:hover, a:focus {
	background-color: #fcc;
	color: #b00;
}
body {
	background-color: #000;
	color: #ccc;
	margin: 1em;
}

strong {
        font-weight: bold;
	font-size: 150%;
	background-color: transparent;
	color: #fee;
}

em {
	font-weight: bold;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: white;
	width: 66%;
	color: #f00;
	padding: 8px;
}

span.adminmenu {
	border-style: solid;
	border-color: #eee;
	border-width: 0px;
	padding: 3px;
}

h1 {
	background-color: #a60015;
	color: #fff;
	text-align: center;
	padding: 0.3em;
	margin: 0em;
	font-size: large;
}

div.rank {
	background-color: #000;
	color: #333;
	padding: 0em;
	font-size: small;
	text-align: left;
	margin: 0em;
}

div.day {
	text-align: left;
	margin: 2em;
	margin-bottom: 1em;
	padding: 0em;
	border-style: solid;
	border-color: #a60015;
	border-width: 0px;
}

div.day h2 {
	margin: 0em;
	padding: 0.2em;
	text-align: left;
	font-size: medium;
	border-style: solid;
	border-color: #a60015;
	border-width: 0px 0px 2px 2px;
}

h2 span.date {
	margin-left: 0.5em;
}

h2 span.title {
}

div.body {
	text-align: left;
	margin: 0em;
	padding-left: 16px;
	padding-bottom: 0.5em;
	border-style: solid;
	border-color: #a60015;
	border-width: 0px 2px 0px 0px;
}

div.section {
	text-align: left;
	padding: 0em;
	margin: 0em;
}

div.body p {
	line-height: 1.3em;
	margin-top: 0em;
	margin-left :1em;
	margin-bottom:0em;
	padding: 0.5em;
}

h3 {
	padding: 0em;
	padding-top: 0.5em;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: 0em;
}
div.day span.sanchor {
	background-image: url(alfa_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #000;
	background-color: transparent;
	font-size: 0px;
}

div.day span.canchor {
	background-image: url(alfa_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #000;
	background-color: transparent;
	font-size: 0px;
}

pre {
	background-color: #aaa;
	color: #000;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 20px;
}
div.body blockquote {
	background-color: #aaa;
	color: #000;
	padding: 0.5em 0.5em 0.5em 1em;
        border-color: #b60015 ;
	border-style: solid ; 
	border-width: 1px 1px 1px 5px;
}

div.comment {
	text-align: left;
	line-height: 1.1em;
	margin: 0em 0em 0em 5em;
	padding: 1em;
	border-style: solid;
	border-color: #a60015;
	border-width: 2px 0px 2px 2px;
}

div.comment p {
	font-size: x-small;
	margin: 0.3em;
}
div.comment div.caption {
	text-align: right;
	margin: 0em;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #a60015;
	border-width: 0px 0px 1px 0px;
}

div.referer {
	text-align: right;
	font-size: small;
	padding: 0em ! important;
	margin: 0em;
	margin-left: 10em;
	padding-right: 16px;
	height: 16px;
	border-style: solid;
	border-color: #a60015;
	border-width: 0px 2px 0px 0px;
}

div.refererlist {
	background-color: transparent;
	font-size: small;
	text-align: left;
	margin: 0em;
	padding: 0em;
	padding-left: 32px;
	clear: both;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #a60015;
}

div.form {
	background-color: #aaa;
	color: #333;
	padding: 2em;
	margin: 0em;
	margin-left: 5em;
}

div.form form {
	/* width: 90%; */
}

input.field {
	background-color: #ddd;
	color: #333;
	border-style: solid;
	border-color:#000;
	border-width: 1px;
}

input {
	clear: left;
	border-style: solid;
	border-color:#666;
	border-width: 1px; 
}

textarea {
	background-color: #ddd;
	color: #333;
	margin-left: 1em;
	border-style: solid;
	border-color:#000;
	border-width: 1px; 
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

form.search {
	clear: right;
	text-align: right;
	margin: 0em;
}
input.search {
	background-color: #ddd;
	color: #333;
	border-style:solid;
	border-color:#000;
	border-width: 1px; 
}


div.calendar {
	margin-bottom: 0.5em;
	padding: 2px;
	border-style: solid;
	border-color: #758291;
	border-width: 1px;
}
table.calendar {
	font-size: x-small;
	line-height: 100%;
	border-width: 0px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1em;
	background-color: #000;
	border-color: #758291;
	color: #fff;
}

td.calendar-current-month {
	font-size: x-small;
	text-align: center;
}

td.calendar-next-month {
	font-size: x-small;
	text-align: right;
}

td.calendar-prev-month {
	font-size: x-small;
	text-align: left;
}

td.calendar-sunday {
	color: #fbb;
	background-color: red;
	font-size: xx-small;
	text-align: center;
}

td.calendar-saturday {
	color: #bbf;
	background-color: blue;
	font-size: xx-small;
	text-align: center;
}

td.calendar-weekday {
	color: #ddd;
	background-color: #333;
	font-size: xx-small;
	text-align: center;
}

td.calendar-day {
	font-size: xx-small;
	text-align: right;
}

p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
	border-style: solid;
	border-color: #758291;
	border-width: 0px 0px 1px 1px;
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	border-style: solid;
	border-color: #758291;
	border-width: 0px 1px 1px 0px;
}

span.counter, span.counter-today, span.counter-yesterday {
        background-color: #000;
	color: #eee;
	font-size: xx-small;
	margin: 10px;
	border: 1px solid #b60015;
}
span.counter-0,span.counter-1,span.counter-2,span.counter-3,span.counter-4,span.counter-5,span.counter-6,span.counter-7,span.counter-8,span.counter-9 {
        background-color: transparent;
	color: #eee;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: #ddd;
        color: #333;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: #ddd;
        color: #333;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: #ddd;
        color: #333;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
