/*
Title: らぶり〜
Revision: $Revision: 1.2 $
Author: ただただし
Access: sho@spc.gr.jp

	validated by W3C.
 */
/* ChangeLog
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
*/

a:link, a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	background-color: #ff69b4;
	color: #ffffff;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

body {
	background-color: #ffb6c1;
	background-image: url(lovely_back.png);
	background-position: right;
	background-attachment: fixed;
	background-repeat: repeat-y;
	color: black;
	margin-right: 28px;
}

p.adminmenu {
	text-align: left;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: black;
	color: white;
	padding: 8px;
}

span.adminmenu {
	background-color: #ff69b4;
	color: #ffffff;
	border-style: outset;
	border-color: #ffb6c1;
	border-width: 1px;
	padding: 3px;
}

h1 {
	background-color: #ff69b4;
	color: white;
	padding: 4px;
	border-style: double;
	border-color: #ffb6c1;
	text-align: right;
}

p.calendar {
	text-align: right;
	border-style: double;
	border-color: #ff69b4;
	padding: 2px;
	margin-bottom: 0.5em;
}

div.day {
	background-color: white;
	background-image: url(lovely_back.png);
	background-attachment: fixed;
	color: #000000;
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	text-align: right;
	background-color: #ff69b4;
	color: #ffffff;
	border-style: double;
	border-color: #ffb6c1;
	margin-top: 1em;
	margin-bottom: 0.1em;
}

span.date {
	font-size: large;
}

span.title {
	color: white;
	background-color: #ff69b4;
	margin-right: 1em;
}

div.body {
	background-color: #ffb6c1;
	color: #000000;
	border-style: double;
	border-color: #ff69b4;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3.subtitle {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: white;
	color: #ff69b4;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	font-size: small;
	background-color: #ffb6c1;
	color: #000000;
	border-style: double;
	border-color: #ff69b4;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

p.commenttitle {
	border-style: solid;
	border-color: #ff69b4;
	border-width: 0px 0px 1px 0px;
}

span.commentator {
	border-style: solid;
	border-color: #ff69b4;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

p.referertitle {
	border-style: solid;
	border-color: #ff69b4;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	text-align: right;
	font-size: small;
	background-color: #ffb6c1;
	color: #000000;
	border-style: double;
	border-color: #ff69b4;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
}

div.refererlist {
	font-size: small;
	background-color: #ffb6c1;
	color: #000000;
	border-style: double;
	border-color: #ff69b4;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ff69b4;
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: #ffb6c1;
	color: #000000;
	border-style: double;
	border-color: #ff69b4;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input.field {
	background-color: white;
	color: #000000;
}

textarea {
	background-color: white;
	color: #000000;
	margin-left: 1em;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

