@charset "euc-jp";
/*
Title: 改造
Revision: $Revision: 1.9 $
Author: Nana
Access: http://moo.boo.jp
License: GPL
	Copyright by (C) <Nana http://moo.boo.jp>
	validated by W3C
*/
/*ChangeLog
2002-10-08 NT <nt@24i.net>
        * convert for 1.5 series.

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
*/

body {
	background-color: #E30000;
	color: #fff;
	font-size: small;
}

a:link {
	text-decoration: none;
	color: #FF8040;
	font-weight: bold;
}
a:visited {
        text-decoration: none;
        color: blue;
        font-weight: bold;
	
}
a:hover,a:active {
	text-decoration: underline;
	color: red;
	font-weight: bold;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: small;
	background-color: red;
	color: white;
	margin: 0px;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	padding: 3px;
}

h1 {
	text-align: center;
}

div.calendar {
	color:#000;
	font-size: small;
	background-color: #FFFF00;
	padding: 2px;
	border-style: solid;
	border-color: #FFFF00;
	border-width: 1px;
	margin-bottom: 0.5em;
	text-align: center;
}

div.day {
	margin-bottom: 0.5em;
	clear: both;
}

h2 {
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
h2 span.date {
	font-weight: bold;
	font-size: medium;
	margin-left:10px;
}
h2 span.date {
	color: #FFFF00;
	text-decoration: none;
}

h2 span.date {
	color: #fff;
	text-decoration: underline overline;
}

h2 span.title {
}

div.body {
	background-color: #000;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 0px;
	margin-right: 6px;
	width: 50%;
	float: left;
	border-style: none; 
	border-color: #fff darkgray darkgray darkgray; 
	border-width: 1px;
	padding: 4px;
	font-size: small;
}

p.body {
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.2em;
	padding-left: 1em;
	padding-top:0em;
}
div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3 {
	margin-top: 0.2em;
	margin-bottom: 0em;
	font-weight: bold;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 0px 1px 0px;
	width: 80%;
}

pre {
	background-color: #ff0;
	color: #000;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: #fff;
	font-size: small;
	color: #000;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-right: 0px;
	margin-left: 50%;
}
div.comment div.caption {
	margin-left: 0em;
	color: #E30000;
	border-style: solid;
	border-color: #000;
	border-width: 0px 0px 1px 0px;
}


div.refererlist div.caption {
	width: 100px;
	margin-left: 4em;
}

div.referer {
	text-align: right;
	font-size: small;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 30%;
	margin-right: 12px;
	width: 400px;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}


div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
	background-color: transparent;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	width:80%;
}

input.field {
	background-color: transparent;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
}

input, select, option {
	background-color: transparent;
	border-color: #00f;
	color: #fff;
	border-style: solid;
	border-width: 1px;
}

textarea {
	background-color: transparent;
	margin-left: 1em;
	color: #fff;
	border-color: #00f;
	border-style: solid;
	border-width: 1px;
	width:80%;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #ff0;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #000;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #000;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: transparent;
        color: #fff;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: transparent;
        color: #fff;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea {
        background-color: transparent;
        color: #fff;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

form.commentstat input.checkbox, form.commentstat div.button input {
	color: #000;
}
