@charset "euc-jp";

html {
	margin:0;
	padding:0;
	border:none;
}


body { 
	/*font-size: 80%; */
	/*font-family: Verdana, Osaka, sans-serif; */
	line-height: 1.5; 
	letter-spacing: 0px;
	color: #000000; 
	background-color: #ffffff;
	margin: 0; 
	padding: 0;

	background-position: top left;
	word-break: break-all ;
	word-wrap: break-word ;
}

h1 {	
	
	margin: 0 0 0 50px;
	font-weight: normal;
	text-align: left;
	line-height: 1.2;
	font-size: 120%;
	padding: 50px 35px;
	width: 428px;
	_width: 500px;
	background-color: #ffffff;
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	
}

h1 a{ border: none; }


.hatena-body{

	padding: 0px;
	margin: 0 0 0 50px;
	width: 498px;
	_width: 500px;
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	background-color: #ffffff;
}


.main{
	margin: 0;
	_width: 100%;
}



.day {
	margin: 0;
	padding: 0;
	width: auto;
	_width: 100% ;
	text-align:left;
}

h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #000000;

}

h2 {
	font-size: 100%;
	font-weight: normal;
	text-decoration:none;
	margin: 0 15px;
	padding: 10px 0;
	text-align: left;
	line-height: 1;


}

span.date{
	font-size: 100%;
	padding: 5px 10px 5px 10px;
	color: #000000;

	background-color: #ffffff;
	border: solid 1px #000000;
}

span.title{
	font-size: 100%;
	/*font-family: Verdana, Osaka, sans-serif; */
	margin: 0 0 0 10px;
	padding: 5px 10px;
	
	border: solid 1px #000000;
}

.body {
	padding: 0 0 0 0;
	margin: 0;
	width: auto;
	_width: 100% ;
}

.section{
	padding: 10px;
	margin: 15px;
	border: solid 1px #000000;
}


h3,
h3 a{
	border: none;
	color: #000000;
}

h3 {	
	font-size:100%;
   	font-weight: normal;
	margin: 0;
	padding: 0px;
	text-align:left;
	line-height: 1;
	width: auto;

}


a.sectioncategory{
	
}

span.sanchor{
	color: #ffffff;
	background-image: url('co-s.gif');
	background-repeat: no-repeat;
	background-position: top left;
	font-size: 1px;
	padding: 9px 6px 4px 6px;
}

span.timestamp{
	font-size:70%;
	font-weight: normal;
	letter-spacing: 0px; 
}

.section p {	
	margin: 10px;
	text-align:left;
	padding: 0;
}


/**************** decoration *************************/

a{
	text-decoration: none;
	color: #000000;
	border-bottom:solid 1px #000000;
}

a.keyword,
a.okeyword {
	text-decoration: none;
	border: none;
}

a img{
	border: none;
}

a:link    { }

a:visited { } 

a:hover   { 
	color: #ff0000;
}
  
a:active  { 
	color: #ff0000;
} 

h4 {	
	color: #000000;
	font-size:100%;
   	font-weight: normal;
	padding: 0 0 0 17px;
	line-height: 1;
	margin: 1em 0;
	text-align:left;
	word-break:break-all;

	background-image: url('co-h4.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

h5 {	
	color: #000000;
	font-size:100%;
   	font-weight: normal;
	padding: 0 ;
	margin: 1em 0;
	text-align:left;
	word-break:break-all;
}

blockquote{
	
	border: solid 1px #000000;
	margin: 10px;
	padding: 10px;
}

.section blockquote p{
	margin: 0.5em;
	padding: 0;
}

cite a{
	border: none;
}

cite{
	font-weight: normal;
	font-style: normal;
	border: solid 1px #000000;
	padding: 2px 5px;
}


pre	{
	border: solid 1px #000000;
	margin: 10px;
	padding: 10px;

}

font{
	line-height: 1.2em;
}

em a{
	border: none;
}

em{
	font-weight: normal;
	font-style: normal;
	border: solid 1px #000000;
	padding: 1px;
}

ins a{
	border: none;
}

ins{
	text-decoration: none;
	border-bottom: solid 1px #000000 ;
	color: #000000;
}


/************************* list **********************/

.section ul{
	margin: 1em 15px 1em 25px;
	padding: 0;
}

.section ol{
	margin: 1em 15px 1em 30px;
	padding: 0;
}

.section ul li,
.section ol li,
.section ol ul,
.section ol ol,
.section ul ul,
.section li li {
	margin: 0 0 0 8px;
	padding: 0;
}



.section dl{
	margin: 10px 15px;
}

.section dt{
	font-weight: normal;
}

.section dd{
	
}


/********************** img ***************************/

img.photo{
	float: right;
	border: solid 1px #000000;
	margin: 25px 25px 10px 10px;
	padding: 0;
}

.body img.asin{
	float: right;
	margin: 0 0 10px 10px;
	padding: 0;
	border: solid 1px #000000;
}

/********************* footnote **********************/

span.footnote{
	font-size: 70%;
}

span.footnote a{
	border: 0;
}


div.footnote{
	padding: 5px 15px;
	margin:  0 15px 15px 30px;
	border: solid 1px #000000;
	background-color: #ffffff;
	position:relative;
	right: -1px;
}

p.footnote{
	margin: 10px 0;
	font-size: 90%;
}

/********************** comment ***********************/

div.comment,
div.refererlist{
	_width: 100% ;
	padding: 10px;
	margin:  0 15px 15px 30px;
	border: solid 1px #000000;
	background-color: #ffffff;
}

div.refererlist ul{
	margin: 0 5px 0 5px;
	padding: 0;
	list-style-type: none;
	font-size: 80%;
	letter-spacing: 0px;
}

form div.refererlist ul{
	font-size: 100%;
	letter-spacing: 1px;
}


div.caption{
	font-size: 80%;
	padding: 0;
	margin: 0;
}

div.refererlist div.caption{
	font-size: 80%;
}

form div.refererlist div.caption{
	font-size: 100%;
	padding: 0 0.5em;
	margin: 0.5em 0;
}



div.caption a{
        border: none;
}

div.commentshort{
	margin: 0 0 0 0;

}

div.commentshort textarea{
	width: 90%;
}

span.canchor{
	display: none;
}

div.commentshort a{
	border: none;
}

span.commentator{
	font-weight: normal;
	display:block;
	margin: 0 0 0 -1em;
}

form span.commentator{
	display: inline;
	margin: 0;
}

div.commentshort P
{
	margin: 5px 0 0 1em;
	font-size: 90%;
	letter-spacing: 0px; 
}


/******************asin detail***********************/

div.hatena-asin-detail {
	margin: 10px;
	padding: 10px ;
	border: solid 1px #000000;
	_width: 100%;
}

img.hatena-asin-detail-image {
	float: left;
	border: 0;
	margin: 0 10px 0 0 ;
}

div.hatena-asin-detail-info{
	float: left;
	margin: 0;
	word-break: break-all;
}

.section p.hatena-asin-detail-title{
	font-weight: normal;
	_width: 100%;
	margin: 0;
}

div.hatena-asin-detail-info ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}


div.hatena-asin-detail-info li {
	margin: 0;
	padding: 0;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail-foot {
	clear: left;
}



/************************ form **********************/

form{
	margin: 0;
	padding: 0;
}

form.hatena-searchform{
	margin: 5px 0;
}



div.day div.comment form{
	margin: 0;
	padding: 0;
}

form h2,
form div.body{
	padding: 1em 1.5em;
	width: auto;
}
form h2{
	margin: 15px 20% 0 0;
	font-size: 120%;
	padding: 5px 15px;
	color: #000000;
}

form h2 span.date,
form h2 span.title{

	border: none;
	display: inline;
	margin: 0;
	padding: 5px 15px;
}

form textarea{
	width: 90%;
}

form h3{
	display: block;
	margin: 2em 0 1em 0;
	padding: 0;
	border-bottom: solid 1px #000000;
	font-size: 100%;
}



/********************** sidebar ***********************/

.sidebar {
	position: absolute;
	top: 45px; 
	left: 549px;
	width: 200px ;
	padding: 0;
	margin: 0 ;
	font-size: 80%;
	text-align: left;
	border: none;
	color: #000000;
}

.hatena-module{
	margin: 0 0 10px 0;
	padding: ;
	_width: 100% ;
	position: relative;
}

.hatena-moduletitle,
.hatena-moduletitle a{
	border: none;
	color: #000000;
}

.hatena-moduletitle{
	font-size: 130%;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 5px 10px 1px 20px;
	margin: 0;
	background-color: #ffffff;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
	letter-spacing: 0px;
	line-height: 1;

}


.hatena-modulebody{
	padding: 5px 10px 10px 10px;
	margin:  0 0 0 10px;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	background-color: #ffffff;
	position: relative;
	top: -1px;
	_width:100%;

}

.hatena-modulebody a{
	border: none;
}

/********************** sideber li **********************/


.hatena-modulebody ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: left;
	color: #000000;
}

.hatena-modulebody li {

}

.hatena-modulebody li a{
	padding: 3px 0 3px 0;
	line-height: 1.1;
	color: #000000;
}

.hatena-modulebody li a:hover {
	color: #ff0000;
}



/******************* photo module *******************/


ul.hatena-photo{
	padding: 5px 5px;
	margin: 0;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-photo li{
	margin: 0;
	display: inline;
	width: none;
	
}

ul.hatena-photo li img{
	
}

ul.hatena-photo li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
	border: none;
}

ul.hatena-photo li a:hover{
	width: 48%;
	background-color: transparent;
	border: none;
}

ul.hatena-photo li a img{
	filter: none;
	border: 1px solid #000000;
}

ul.hatena-photo li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}

/******************** asin log ***********************/

ul.hatena-asinlog{
	padding: 5px 5px;
	margin: 0;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-asinlog li{
	margin: 0 ;
	padding: 0;
	display: inline;
	width: none;
}

ul.hatena-asinlog li img{
	
}

ul.hatena-asinlog li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
	border: none;
}

ul.hatena-asinlog li a:hover{
	width: 48%;
	background-color: transparent;
	border: none;
}

ul.hatena-asinlog li a img{
	filter: none;
	border: 1px solid #000000;
}

ul.hatena-asinlog li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}


/********************* rss module *********************/

div.hatena-modulebody dd{
	margin: 0;
}

/********************** calender **********************/

div.calendar {
	font-size:80%;
	color: #000000;
}

.main div.calendar {
	font-size:80%;
	color: #000000;
	margin: 0;
	padding: 0.5em;
	text-align: right;
	border: none;
	position: static;
	background-color: transparent;
}


div.calendar a{
	border: none;
}




/********************** header **********************/

table
{ 
	width: 500px;
	margin: 0 0 0 50px; 
	padding: 0 10px; 
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	background-color: #ffffff;
}

td 
{
 	background-color : transparent;
	width: auto;
	margin: 0;
	padding: 0;
}

table table td{
 	background-color : transparent;
	margin: auto;
	padding: auto;
}

table table{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	background-image: none;
	background-color: transparent;
}


table table td{
	font-size: 80%;
}

table table td font, 
table table td a{
	border:none;
	color: #000000;
}

td a{
	border: 0;
}

table input{
	border: solid 1px #000000;
	color: #000000;
	background-color: transparent;
}



.hatena-body table{
	width: auto;
	margin: 0;
	padding:0;
	border: 0;
	background-image: none;
	background-color : transparent;
}

/********************** calendar2 **********************/

table.calendar{
	font-size: 11px;
	letter-spacing: 0px;
	width: 80%;
	_width: 100%;
	margin: 0 auto;
	padding: 0;
	border: none;
	background-image : none;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	color: #000000;
}

table.calendar a{
	color: #000000;
}

td.calendar-current-month{
	font-weight: normal;
}

td.calendar-prev-month,
td.calendar-current-month,
td.calendar-next-month{
	text-align:center;
}


td.calendar-day a{
	border-bottom: 1px solid #000000;
	position: relative;
	z-index: 0;
}


td.calendar-day a:hover{
	z-index: 0;
}

td.calendar-weekday,
td.calendar-sunday,
td.calendar-saturday{
	display:none;
}

td.calendar-day a img {
	
	width: 13px;
	height: 13px;
	border: solid 1px #000000;
	z-index: 1;
}



td.calendar-day a:hover img{
	border: solid 1px #ff0000;
	width: auto;
	height: auto;
	bottom: -5px;
	right: -5px;
	position: absolute;
	z-index: 2;
}

/************************ adminmenu ****************************/

div.adminmenu{
	text-align: right;
	margin: 0 0 0 50px;
	font-size: 80%;
	padding: 5px 10px;
	width: 500px;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
}

div.adminmenu a{
	border: none;
}

span.adminmenu{
	margin: 0 2px;
}

.hatena-body div.adminmenu{
	margin: 0;
	text-align: left;
	border: none;
	width: auto;
	padding: 5px 10px;
}




/*********************/

span.highlight {
	background-color: yellow;
	padding: 1px;
}

div.footer{
	padding: 10px;
	text-align: center;
}

.footer,
.footer a{
	color: #000000;
	border: none;
}

div.body {
	clear: both;
}


