@charset "euc-jp";
/*
Title: 砂漠
Revision: $Revision: 1.8 $
Author: ただただし
Access: sho@spc.gr.jp
License: GPL

	validated by W3C.
*/

a:link, a:visited {
	background-color: transparent;
	color: #006400;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

body {
	background-color: #f6ede1;
	background-image: url(desert_back.png);
	background-repeat: repeat-y;
	color: black;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

span.adminmenu {
	background-color: #c0b495;
	color: #008131;
	border-style: outset;
	border-color: #b89768;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

p.search {
	text-align: right;
	font-size: x-small;
	background-color: white;
	color: #000000;
	padding: 0px 4px 0px 4px;
}

div.calendar {
	background-color: #c0b495;
	border-style: outset;
	border-color: #b89768;
	color: #000000;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
}

div.day {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-color: #c0b495;
	color: #000000;
	border-color: #b89768;
	border-style: outset;
	border-width: 1px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

h2 span.date {
	font-size: large;
	margin-left: 0.5em;
}

h2 span.title {
}

div.body {
	background-color: #f6ede1;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
	margin-right: 1em;
}

div.section {
	width: 100%;
}

div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3 {
	margin-bottom: 0.5em;
}

pre {
	background-color: black;
	color: #ff8000;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	font-size: small;
	background-color: #f6ede1;
	color: #000000;
	padding: 5px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-right: 1em;
}

div.comment div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}

div.referer {
	text-align: right;
	font-size: small;
	background-color: #f6ede1;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
	margin-right: 1em;
}

div.refererlist {
	font-size: small;
	background-color: #f6ede1;
	color: #000000;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-right: 1em;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

input.field {
	background-color: white;
	color: #000000;
}

textarea {
	background-color: white;
	color: #000000;
	margin-left: 1em;
	width: 30em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

img {
	border-width: 0px;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 1em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form {
	background-color: #f6ede1;
	color: #000000;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0.5em 1em 0.5em 2em;
}

div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        color: #000000;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: #000000;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day {
	background-color: #f6ede1;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
        color: #000000;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
