@charset "euc-jp";
/*
Title: S-BLUE
Revision: $Revision: 1.10 $
Author: Nana
Access: <clorets@estyle.ne.jp>
Comment: support major plugin

	Copyright by (C) Nana <clorets@estyle.ne.jp>
	validated by W3C
*/

a:link {
	text-decoration: none;
	color: #0080C0;
}

a:visited {
	text-decoration: none;
	color: #0080C0;
}

a:hover,a:active {
	color: #35BDFF;
}

body {
	background-color: #DDEEFF;
	color: #000;
	margin-right: 10%;
	margin-left: 10%;
}

strong {
	font-weight: bold;
	font-size: larger;
}

div.adminmenu {
	text-align: right;
	font-size: 90%;
	float: right;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: #fff;
	width: 66%;
	color: #888;
	padding: 8px;
}

span.adminmenu {
	border: solid 1px #000;
	
	padding: 3px;
}

h1 {
	text-align: center;
    
}

div.calendar {
	color: #000;
	background-color: transparent;
	padding-top: 0.5em;
}

div.day {
	border-top: solid 1px #000;
	text-align: left;
	padding: 0.5em;
	padding-bottom: 0em;
	padding-top: 30px;
	margin: 0em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-right: 12px;
	padding: 0em;
	text-align: right;
	font-size: medium;
}

h2 span.date {
	font-size: 90%;
	margin-left: 0.5em;
	margin-top: 3em;
}

div.body {
	padding: 0.1em;
	margin-left: auto;
	margin-right: 6px;
}

div.body p {
	padding-left: 16px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

div.section p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	line-height: 1.4;
}

h3 {
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	font-size: medium;
}

pre {
	background-color: #0080C0;
	color: #000080;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px;
}

div.comment {
	font-size: 90%;
	text-align: left;
	color: #000;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 20px;
  	margin: 0em;
	margin-right: auto;
	margin-left: 6px;
}

div.comment p {
	padding-left: 1em;
}

div.comment div.caption {
	text-align: right;
}


div.refererlist div.caption {
	border-bottom: solid 1px #aaa;
}

div.referer {
	text-align: right;
	font-size: 90%;
	padding: 2px;
	padding-bottom: 1px;
	margin-right: 12px;
}

div.refererlist {
	font-size: 90%;
	text-align: left;
	color: #000;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	width: 80%;
	clear: both;
}

div.refererlist ul {
	margin-top: 0em;
	line-height: 120%;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: 90%;
	text-align: right;
	height: 32px;
}

div.form {
	color: #000;
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
}

input.field {
	color: black;
	background-color: white;
}

input {
	clear: left;
}

textarea {
	color: black;
	background-color: white;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: red;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        color: black;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: black;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
div.day.update {
        text-align: left;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
        color: black;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border: 5px ridge #1E90FF;
	margin-left: 2em;
	padding: 7px;
	color: #4682B4 ;
	font-style: italic;
}
/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 90%;
	line-height: 1.1em;
	text-align: center;
	border: 1px solid #000;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	background-color: #F0F8FF;
	color: #000;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 20%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	padding: 2px 2px 100% 2px;
	padding-top: 0.5em;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	margin: 2px 4px 2px 4px;
}

/*
引用ソースの表示
*/
p.source{
	margin-right: 1.5em;
        margin-top: 0px;
	text-align: right;
	font-size: 90%;
        line-height: 24px;
        font-style: italic;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	text-align: center;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #0080FF;
	background-color: transparent;
}

.calendar-weekday {
	color: #555555;
	background-color: transparent;
}
.calendar-todo {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
}
