/*
	blue-border.css: Blue-border Style Sheet of tDiary
	Copyright by (C) Nana <http://mikan.sakura.ne.jp/~mpc/>
	validated by W3C.
	Title:Blue-border
	Revision: $Revision: 1.2 $
	Author: Nana
	Comment:
 */

div.rank {
        margin-left: 25%;
        margin-bottom: 2px;
        margin-top: 2px;
        font-size: 0.9em;
        text-align: left;
}

body {
	background-color: #fff;
	background-image: url(blue-border_bg.png);
	background-repeat: repeat-y;
	color: #004080;
	margin-right: 5%;
        font-size: 1em;
}

a:link {
        color: #429DE2;
        text-decoration: none;
}
a:visited {
        color: #0080C0;
        text-decoration: none;
}
a:hover,a:focus {
        text-decoration: underline;
        background-color: #ffffff;
}

p.adminmenu {
	font-size: 0.9em;
	margin-top: 0;
	margin-right: 2%;
	text-align: right;
}

span.adminmenu {
        background-color: #ffffff;
	border-style: solid;
        border-color: #99DAF5;
	border-width: 0px 1px 1px 0px;
        padding: 3px;
}

h1 {    
        color: #0080C0;
        background-color: transparent;
	border-color: #99DAF5;
        border-width: 0px 0px 5px 0px;
        border-style: solid;
	margin-left: 25%;
	padding-bottom: 3px;
	padding-top: 3%;
	padding-right: 10%;
	text-align: left;
        font-size: 1.3em;
}

p.calendar {
        background-color: transparent;
	border-color: #ffffc8;
	border-style: none;
	border-width: 1px 0px 1px 0px;
	font-size: 0.9em;
	margin: 0% 0% 3% 25%;
	padding: 3px;
	text-align: left;
}

div.day {
	margin-bottom: 3em;
	margin-left: 25%;
}

h2 {
        color: #ffffff;
	font-size: 1em;
	background-color: #99DAF5;
        border-color: #fff;
	border-style: none;
	border-width: 1px 0px 1px 0px;
	margin-bottom: 0px;
	margin-top: 1em;
	padding: 3px;
}

div.body {
	margin-right: 5%;
}

h3.subtitle {
   	padding-left: 2px;
	font-weight: bold;
	font-size: 1em;
	font-weight: bold;
	margin: 1.5em 0px 0px
}

div.day p {
	line-height: 1.4;
	margin-bottom: 0.7em;
	margin-top: 0.5em;
        margin-left: 2em;
}

div.comment {
	font-size: 0.9em;
	padding-bottom: 1px;
	padding-left: 2em;
	padding-right: 2px;
	padding-top: 2px;
}

div.day span.panchor {
	background-image: url(blue-border_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 15px 19px 0px 0px;
	color: #ffffc8;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(blue-border_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 15px 20px 0px 0px;
	color: #ffffc8;
	background-color: transparent;
	font-size: 1px;
}

p.commenttitle {
	border-color: #99daf5;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
        padding-left: 2em;
}

span.commentator {
	border-color: #429DE2;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #004080;
        background-color: transparent;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
}

div.comment p {
	margin-left: 0em! important;
	text-indent: 0em;
}

p.referer {
	font-size: 0.9em;
	border-color: #99daf5;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	text-align: right;
}

div.refererlist {
	border-color: #99daf5;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
        font-size: 0.9em;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}

p.referertitle {
	border-color: #99daf5;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

hr {
        border-style: solid;
	border-color: #99DAF5;
        border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
        font-size: 0.9em;
	text-align: right;
}

div.form {
        margin-left: 10%;
        background-color: transparent;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
}

input.field {
        color: #004080;
	background-color: #ffffff;
	border-style: solid;
	border-color: #99DAF5;
	border-width: 1px;
}

textarea {
        color: #004080;
	background-color: #ffffff;
	border-style: solid;
	border-color: #99DAF5;
	border-width: 1px;
}

p.message {
	background-color: red;
	color: #ffffff;
	font-size: large;
	padding: 8px;
	text-align: center;
}

pre {
	background-color: #FFF8DC;
	color: #004080;
        font-size: 1em;
	margin-left: 3em;
	padding: 8px;
        border-style: solid;
        border-color: #99DAF5;
        border-width: 1px 5px 1px 5px;
}

dl {
	margin-left: 2em;
}

dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}
dd {
	margin-bottom: 0.5em;
	margin-left: 1em;
}

li {
	list-style-type: circle;
}

ul,ol{
        margin-top: 0em;
        margin-left: 2em;
}

blockquote {
        color: #429DE2;
	background-color: #fff;
	border-color: #99DAF5;
	border-style: solid;
	border-width: 3px 1px 3px 1px;
	padding: 0.5em;
        margin-left: 3em;
}

.hide {
	background-color: #004080;
}

span.memo {
        color:#004080;
        font-weight: bold;
        background-color: #7fffd4;
}

a img {
        border-width: 0px;
}

/*
脚注番号
*/
span.footnote ,span.footnote a{
        font-size: xx-small;
        color:#DC143C;
}
/*
脚注本文全体
*/
div.footnote {
        border-color:#ffffff;
        border-style:dashed;
        border-width: 2px 0px 0px 0px;
        padding: 3px;
        font-size:x-small;
        text-align: left;
        margin-left: 24px;
        margin-right: 16px;
}

div.footnote a{
        color:#DC143C;
}

p.strong {
        font-size: 200%;
}

input, select {
        color: #004080;
	background-color: transparent;
	border-style: solid;
	border-color: #99DAF5;
	border-width: 1px;
        padding: 2px;
}
