@charset "euc-jp";

html {
	margin:0;
	padding:0;
	border:none;
}

html * {
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

body         { 
	/*font-size: 90%;*/
	/*font-family: Verdana, Osaka, sans-serif;*/
	line-height: 1.5; 
	letter-spacing: 0px;
	color: #000000; 
	background-color: #8AB6F8;
	text-align: center;
	margin: 0; 
	padding: 0;

	word-break: break-all ;
	word-wrap: break-word ;
/* }

.hatena-body{ */
	position: relative ;
	width: 85%;
	margin: 0 auto;
	padding: 0;

}

h1 {	
	/*width: 85%;*/
	/*font-family: "Arial Black",Arial,osaka,sans-serif;*/
	font-weight: normal;
	text-align: left;
	line-height: 1.2;
	font-size: 200%;
	margin: 30px auto;
	letter-spacing: 0em;
	background-color: #ffffff;
	padding: 30px;
	border: solid 5px #000000;
	color: #000000;
}

.main{
	padding: 0px;
	margin: 0 30% 0 0;
}



.day {
	margin: 0;
	padding: 0;
	width: auto;
	_width: 100% ;
	text-align:left;
}

h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #000000;

}

h2 {
	font-size: 120%;
	font-weight: bold;

	/*font-family: Arial,osaka,sans-serif;*/
	text-decoration:none;
	margin: 0 0 0;
	padding: 0.5em 1em;
	text-align: left;


}

span.date{
	letter-spacing: 0px;

}

span.title{
	font-size: 100%;
	letter-spacing: 1px;
	/*font-family: Verdana, Osaka, sans-serif;*/
	font-weight: bold;
	margin-left: 15px;
}

.body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: auto;
	_width: 100% ;
}

.section{
	padding: 0 0 0.5em 0;
	margin: 0 0 30px 0;
	background-color: #ffffff;
	border: solid 5px #000000;
}


h3 a{
	border: none;
}

h3 {	
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	margin: 0 0 1.5em 0;
	padding: 1em;
	border-bottom: dashed 5px #000000;
	text-align:left;

}


a.sectioncategory{
	
}

span.sanchor{
	color: #000000;
}

span.timestamp{
	font-size:70%;
	font-weight: normal;
	letter-spacing: 0px; 
}

.section P {	
	margin: 1em 1.5em;
	text-align:left;
	padding: 0;
}


/**************** decoration *************************/

a{
	text-decoration: none;
	color: #000000;
	border-bottom:solid 1px #000000;
}

a.keyword,
a.okeyword {
	text-decoration: none;
	border-bottom: dotted 1px #d0d0d0;
}

a img{
	border: none;
}

a:link    { }

a:visited { } 

a:hover   { 
	background-color: #8AB6F8;
}
  
a:active  { 
	color: #ff0000;
} 

h4 {	
	color: #000000;
	font-size:100%;
   	font-weight: bold;
	padding: 0 0 0 5px;
	border-left: solid 5px #000000;
	margin: 0.5em 1em;
}

h5{

	font-size:100%;
   	font-weight: bold;
	padding: 0.5em 1em;
}

blockquote{
	border: solid 3px #000000;
	margin: 1em 1.5em;
	padding: 0.5em;
}

.section blockquote p{
	margin: 0.5em;
	padding: 0;
}

cite{
	font-weight: bold;
	font-style: normal;
}

cite a{
	border: none;
}

pre	{
	border: solid 3px #000000;
	margin: 1em 1.5em;
	padding: 0.5em;
}

font{
	line-height: 1.2em;
}

em,
em a{
	font-weight: bold;
	font-style: normal;
	background-color: #8AB6F8;
}

ins,
ins a{
	text-decoration: none;
	border: none;
	color: #666666;
}


/************************* list **********************/

.section ul{
	margin: 1em 2em 1em 3em;
	padding: 0;
}

.section ol{
	margin: 1em 2em 1em 3.5em;
	padding: 0;
}

.section ul li,
.section ol li,
.section ol ul,
.section ol ol,
.section ul ul,
.section li li {
	margin: 0 0 0 1em;
	padding: 0;
}



.section dl{
	margin: 1em 2em;
}

.section dt{
	font-weight: bold;
}

.section dd{
}


/********************** img ***************************/

img.photo{
	float: right;
	padding: 0;
	border: solid 3px #000000;
	margin: 1em 1em 10px 10px;
}

img.asin{
	float: right;
	margin: 0 0 10px 10px;
	padding: 0;
	border: solid 3px #000000;
}

/********************* footnote **********************/

span.footnote{
	font-size: 70%;
}

span.footnote a{
	border: 0;
}


div.footnote{
	margin: 0 0 15px 30px;
	padding: 0.5em;
	border: solid 5px #000000;
	background-color: #ffffff;
}

p.footnote{
	margin: 0;
	font-size: 90%;
}

/********************** comment ***********************/

div.comment,
div.refererlist{
	_width: 100% ;
	padding: 0.5em;
	margin:  0 0 15px 30px;
	background-color: #ffffff;
	border: solid 5px #000000;
}

div.refererlist ul,
div.comment ul{
	margin: 0 2em;
	padding: 0;
	list-style-type: square;
	font-size: 80%;
	letter-spacing: 0px;
}

form div.refererlist ul,
form div.comment ul{
	font-size: 100%;
	letter-spacing: 1px;
}


div.caption{
	font-size: 80%;
	border-bottom: dashed 3px #000000;
	padding: 0;
	margin: 0 0 5px 0;
}

div.refererlist div.caption{
	font-size: 80%;
}

form div.refererlist div.caption{
	font-size: 100%;
	padding: 0 0.5em;
	margin: 0.5em 0;
}



div.caption a{
        border: none;
}

div.commentshort{
	margin: 0;

}

div.commentshort textarea{
	width: 90%;
}

span.canchor{
	display: none;
}

div.commentshort a{
	border: none;
}

span.commentator{
	font-weight: bold;
	display:block;
	margin: 0 0 0 -1em;
}

form span.commentator{
	display: inline;
	margin: 0;
}

div.commentshort P
{
	margin: 5px 0 0 1em;
	font-size: 90%;
	letter-spacing: 0px; 
}


/******************asin detail***********************/

div.hatena-asin-detail {
	padding: 10px;
	border: solid 3px #000000;
	margin: 1em 2em;
	_width: 100%;
}


img.hatena-asin-detail-image {
	float: left;
	border: 0;
	margin: 0 10px 0 0 ;
}

div.hatena-asin-detail-info{
	float: left;
	margin: 0;
	word-break: break-all;
}

p.hatena-asin-detail-title{
	font-weight: bold;
	width: 100%;
	margin: 0;
}

div.hatena-asin-detail-info ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}


div.hatena-asin-detail-info li {
	margin: 0;
	padding: 0;
}


div.hatena-asin-detail p a{
	border: 0;
}

div.hatena-asin-detail-foot {
	clear: left;
}

/************************ form **********************/

form{
	margin: 0;
	padding: 0;
}

form.hatena-searchform{
	margin: 5px 0;
}



div.day div.comment form{
	margin: 0;
	padding: 0;
}

div.day form div.body,
form div.day div.body{
	margin: 0 0 30px 0;
	padding: 1em 1.5em;
	border: solid 5px #000000;
	background-color: #ffffff;
}

form h3{
	margin: 0.5em 0;
	padding: 0;
	border-bottom: dashed 3px #000000;
	font-size: 100%;
}


/********************** sidebar ***********************/

.sidebar {
	position: absolute;
	top: 0px; 
	right: 0px;
	width: 27% ;
	padding: 0;
	margin: 0 ;
	font-size: 90%;
	text-align: left;
	border: none;
}

.hatena-module{
	margin: 0 0 30px 0;
	padding: 0 0 0 0;
	width: 100% ;
	position: relative;
	background-color: #ffffff;
	border: solid 5px #000000;
}

.hatena-moduletitle,
.hatena-moduletitle a{
	border: none;
	color: #000000;
}

.hatena-moduletitle{
	font-size: 120%;
	/*font-family: Arial,osaka,sans-serif;*/
	letter-spacing: 0px;
	font-weight: bold;
	border-bottom: dashed 5px #000000;
	padding: 0.5em 1em;
	margin: 0;
	color: #000000;
	text-align: left;
	letter-spacing: 0px;

}

.hatena-modulebody{
	padding: 10px 1em;
	margin: 0;
	font-size: 90%;

	_width:100%;

}

.hatena-modulebody a{
	border: none;
}

/********************** sideber li **********************/


.hatena-modulebody ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.hatena-modulebody li {

}

.hatena-modulebody li a{
	display: block;
	width: auto;
	_width: 100%;
	padding: 1px 3px;
	margin: 0;
	border: solid 1px #ffffff;
}

.hatena-modulebody li a:hover {
	
	color: #000000;
	border: 0;
	width: auto;
	_width: 100%;
	border: solid 1px #000000;
	background-color: #8AB6F8;
}


/*************** trackback/comment module ****************/

.hatena-modulebody ul.hatena-recentcomment li a{
	display: inline;
	width: auto;
	padding: 0;
	border: none;
	line-height: 1.5;
}

.hatena-modulebody ul.hatena-recentcomment li a:hover{
	width: auto;
	border: none;
	background-color: #8AB6F8;
}





/******************* photo module *******************/


ul.hatena-photo{
	padding: 5px 5px;
	margin: 0;
	width: auto;
	list-style-type: none;
	text-align: left;
}

ul.hatena-photo li{
	margin: 0;
	display: inline;
	width: none;
	
}

ul.hatena-photo li img{
	
}

ul.hatena-photo li a{
	display: inline;
	width: 48%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
	border: none;
}

ul.hatena-photo li a:hover{
	width: 48%;
	background-color: transparent;
	border: none;
}

ul.hatena-photo li a img{
	filter: none;
	border: 1px solid #000000;
}

ul.hatena-photo li a:hover img{
	filter: none;
	border: 1px solid #ff0000;
}


/********************** calender **********************/

div.calendar {
	font-size:80%;
	color: #000000;
	margin: 0 ;
	padding: 0;
	text-align: right;
}

div.calendar a{
	border: none;
	color: #000000;
}




/********************** header **********************/

table
{ 
	margin: 0 auto; 
	padding: 0; 
}

td 
{
 	background-color : transparent;
}

table table td{
 	background-color : transparent;
}

table table{
	margin: 0;
	padding:0;
	border: none;
	width: 100%;
	border: 0;
	background-image: none;
	background-color : transparent;
}

table table td font, 
table table td a{
	border:none;
	color: #000000;
}

td a{
	border: 0;
}

table input{
	border: solid 1px #808080;
	color: #000000;
}



div.body table{
	width: auto;
	border: 0;
}

/********************** calendar2 **********************/

table.calendar{
	font-size: 11px;
	letter-spacing: 0px;
	_width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	border: none;
	background-image : none;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
}

td.calendar-current-month{
	font-weight: bold;
}

td.calendar-prev-month,
td.calendar-current-month,
td.calendar-next-month{
	text-align:center;
}

td.calendar-day {

	z-index: -2;
}

td.calendar-day a{
	border-bottom: 1px solid #000000;

	position: relative;
	display: block;
	z-index: 0;
}


td.calendar-day a:hover{
	z-index: 0;
}

td.calendar-weekday,
td.calendar-sunday,
td.calendar-saturday{
	display:none;
}

td.calendar-day a img {
	
	width: 11px;
	height: 11px;
	border: solid 1px #000000;
	z-index: 1;
}



td.calendar-day a:hover img{
	border: solid 1px #000000;
	width: auto;
	height: auto;
	bottom: -5px;
	right: -5px;
	position: absolute;
	z-index: 2;
}

/************************ adminmenu ****************************/

div.adminmenu{
	text-align: right;
	width: 85%;
	padding: 1em 0;
	margin: 0 auto;
	font-size: 80%;
	color: #000000;
}

div.adminmenu a{
	border: none;
	color: #000000;
}

div.hatena-body div.adminmenu{
	text-align: right;
	margin: 0;
	padding: 0.5em 1em;
	width: auto;
	border: 0;
}

/*********************/

span.highlight {
	background-color: yellow;
	padding: 1px;
}

div.footer{
	padding: 10px;
	text-align: center;
}

.footer,
.footer a{
	color: #000000;
	border: none;
}

div.body {
	clear: both;
}

