@charset "euc-jp";
/*
Title: sepia
Revision: $Revision: 1.3 $
Author: naoko
Access: naoko@undefine.to
License: GPL
Comment: セピア色のシンプルなテーマ

validated by W3C.
*/

/*
背景色
*/

/* ページ全体の背景色 */
body,div.sidebar,table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month, table.calendar td.calendar-next-month,table.calendar td.calendar-day{
	background-color: #F9F5F2;
}

/* 背景を透過したい要素名を連ねる */
a:link,a:visited,span.adminmenu,h1,h2 span.title,div.refererlist,div.section pre,div.section blockquote,div.calendar,.calendar-sunday,.calendar-saturday,.calendar-weekday {
	background-color: transparent;
}

/* 日記本文やコメント部分の背景色 */
div.day,div.body,div.comment,div.form,table.calendar,.calendar-day a,.calendar-popup{
	background-color: #fff;
}

/* 一日の日記タイトルの背景色 */
h2 {
	background-color: #edd;
}

/* フォーム入力エリアの背景色 */
form.comment input,form.comment textarea {
	background-color: #F1EAE7;
}

/*
文字色
*/

/* 日記本文の文字色 */
body,span.adminmenu,div.day,h2,div.body,div.comment,div.form,form.comment input,form.comment textarea,div.refererlist,div.sidebar,div.calendar,div.section table,div.section th, div.section td ,table.calendar,.calendar-popup,.calendar-sunday,.calendar-saturday,.calendar-weekday{
	color: #000;
}

/* リンクの文字色 */
a:link,a:visited,h1,h2 span.title {
	color:#840;
}

/* 日記タイトルの文字色 */
h1,h2 span.title {
	color:#840;
}

/* 引用文の文字色 */
div.section pre,div.section blockquote{
	color:#048;
}

/*
罫線色
*/

/* 濃い色の罫線 */
div.commentshort,hr,div.section pre,div.section blockquote,img.left,img.right,div.section table,div.section th, div.section td ,table.calendar,.calendar-popup,.calendar-todo,div.sidebar,div.sidebar p{
	border-color:#840;
}

/* 薄い色の罫線 */
h3,span.adminmenu{
	border-color:#edd;
}

/* 背景色と同色にしたい部分 */
div.comment {
	border-color:#F9F5F2;
}

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
}

/*
リンク文字列に関する設定
*/
a:link,a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: 90%;
	padding: 2px;
	margin-top:0;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	border-bottom:solid 1px;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: right;
}

/*
カレンダーの設定
*/
div.calendar {
	text-align: right;
	letter-spacing: 0.1em;
	font-size: 90%;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
}

/*
タイトル行全体の設定
*/
h2 {
	padding-left:10px;
}

/*
日付の設定
*/
h2 span.date {
	font-size: medium;
}

/*
タイトルの設定
*/
h2 span.title {
	font-size: medium;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	margin:1em;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
}

/*
サブタイトルの設定
*/
h3 {
	font-size: medium;
	font-weight: bold;
	border-bottom:solid 1px;
}

/*
その他の見出し(必要なら)
*/
h4 {
	font-weight: bold;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)

div.day span.sanchor {
	background-image: url(sepia_anchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 22px 22px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(sepia_anchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 14px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}
*/

/*
日記の本文(段落)の設定
*/
div.section p {
	line-height: 140%;
	margin: 0.5em;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	font-size: 90%;
	margin-top: 0;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	border-style:solid;
	border-width:3px 0 3px 0;
	padding:6px;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
	font-size: 90%;
	border-top:solid 1px;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	line-height: 120%;
	margin: 0.5em;
}

/*
ツッコミ本体
*/
div.commentbody {
	font-size: 90%;
	line-height: 120%;
}

/*
ツッコミした人の情報
*/
div.commentator {
	line-height: 150%;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin: 0.5em;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	padding: 4px;
}

/*
フォームの設定
*/
div.form form {
}

div.form form.comment {
	font-size: 90%;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}
form.comment textarea {
	display: block;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin-left: 3em;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: right;
	font-size: 90%;
	padding: 10px;
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 90%;
	line-height: 120%;
}

/*
罫線の設定
*/
hr {
	border-top:solid 1px;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: 80%;
	text-align: right;
	margin-top: 0px;
}

/*
更新フォーム
*/

form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;	
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fff;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
div.section pre {
	margin-left: 2em;
	margin-right: 1em;
	padding: 10px;
	border-left:dashed 1px;
	font-size:90%;
}

/*
引用(blockquoteタグ)の設定
*/
div.section blockquote {
	margin-left: 2em;
	margin-right: 1em;
	padding: 10px;
	border-left:dashed 1px;
	font-size:90%;
}
div.section blockquote p {
}

/*
箇条書きの設定
*/
div.section ul, div.section ol {
	margin-left: 5em;
	line-height: 120%;
}
div.section ul ul, div.section ol ol {
	margin-left: 1.7em;
	margin-bottom: 0.5em;
}

li{
margin-bottom:0.2em;
}

/*
項目リストの設定
*/
div.section dl {
	margin-left: 5em;
}

div.section dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.section dd {
	margin: 0em 3em 0.5em 1em;
}

/*
テーブルの設定
*/
div.section table {
	margin: 0.5em 1em 0.5em 5em;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
}
div.section th, div.section td {
	padding: 5px;
	border: solid 1px;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 80%;
	line-height: 110%;
	border: solid 1px;
	margin-left: 1em;
}

table.calendar td {
	margin: 0px;
	text-align: center;
	padding: 0 3px 0 3px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month,table.calendar td.calendar-day {
	text-align: center;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
}

td.calendar-saturday {
	background-color: #bbf;
	color: blue;
}

td.calendar-weekday {
	background-color: #C0C0C0;
	color: #222;
}

/* calendar3 */

div.calendar3{
	font-size: 90%;
	line-height: 120%;
	padding: 2px;
	text-align: right;
}

.calendar-popup {
	display: none;
	position: absolute;
	padding: 4px;
	text-align: left;
	border:solid 1px;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #f00;
}

.calendar-saturday {
	color: #00f;
}

.calendar-weekday {
	color: #222;
}
.calendar-todo {
	border: solid 1px;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	float: left;
	margin: 0.5em;
}

img.right {
	border-width: 1px;
	float: right;
	margin: 0.5em;
}

div.section, div.comment {
	clear: both;
}

/*
関連するかもプラグイン
*/
div.body-enter{
	text-align:right;
	font-size:90%;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 26%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24%;
	height:100%;
	padding: 10px 6px 100% 6px;
	border-right:solid 1px;
	border-bottom:solid 1px;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	border:solid 1px;
	margin-bottom:4px;
}
