@charset "euc-jp";
/*
Title: lovely_pink.
Revision: $Revision: 1.8 $
Author: しんちゃん
Access: stakei@nga.jp
License: GPL
Comment: ハートだらけなテーマ

 */
/* ChangeLog
2002-10-18 NT <nt@24i.net>
        * crimson => #dc143c
	* validated by w3c.

2002-10-13 NT <nt@24i.net>
        * convert for 1.5 series.

2002-04-03 nga<stakei@nga.jp>
	* add spec.
*/

body {
	background-image: url(lovely_pink_back.jpg);
	color: black;
}

a:link, a:visited {
	color: Gray;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}
a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #dc143c;
	background-color: whitesmoke;
	border-style: none;
	border-width: 1px;
}
div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

span.adminmenu {
	background-color: pink;
	border-style: solid;
	border-color: lavenderblush #aaa #aaa lavenderblush;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}

div.calendar {
	background-image: url(lovely_pink_bodyback.png);
	border-style: solid;
	border-color: darkgray lavenderblush lavenderblush darkgray;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;	
	text-align: right;	
	margin-left: 40%;
	margin-right: 3em;
}

div.day {
	background-color: pink;
	border-style: solid;
	border-color: dimgray darkgray darkgray dimgray; 
	border-width: 1px 2px 2px 1px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-left: 4em;
	margin-right: 3em;
}

h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}

h2 span.date {
	font-size: large;
	margin-left: 0.5em;
}

h2 span.title {
}

div.body {
	background-color: lavenderblush;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 15px;
	margin-right: 15px;

}

div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
	margin-left: 20px;
	margin-right: 10px;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	border-style: solid;
	border-color: gray;
	border-width: 0px 0px 1px 0px;
	margin-left: 15px;
	margin-right: 15px;
}

pre {
	background-color: black;
	color: #ff8000;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	font-size: small;
	background-color: lavenderblush;
	padding: 1px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

div.comment div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	margin-left: 10px;
	margin-right: 10px;
}

div.referer {
	text-align: right;
	font-size: small;
	background-color: lavenderblush;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 15px;
	margin-right: 15px;
}

div.refererlist {
	font-size: small;
	background-color: lavenderblush;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: pink;
	border-style: solid;
	border-color: darkgray lavenderblush lavenderblush darkgray;
	border-width: 1px 1px 1px 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;	
	margin-left: 4em;
	margin-right: 3em;
}

input.field {
	background-color: white;
}

textarea {
	background-color: white;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day div.form {
	border: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
