/*
	maroon.css: Maroon Style Sheet of tDiary $Revision: 1.1 $
	created by Shinchan <http://nga.jp/>
	modified by TADA Tadashi <sho@spc.gr.jp>
	validated by W3C.
 */

a:link, a:visited {
	background-color: transparent;
	color: #A0522D;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #8B4513;
	background-color: #F0E68C;
	border-style: none;
	border-width: 1px;
}

body {
	background-color: #FDF5E6;
	color: black;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
	text-align: right;
	font-size: small;
}

span.adminmenu {
	background-image: url(maroon.png);
	border-style: outset;
	border-color: white;
	border-width: 1px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	background-color: #ffdead;
	background-image: url(maroon.png);
	border-style: outset;
	border-color: #8B4513;
	border-width: 2px;
	color: black;
	padding: 4px;
	text-align: right;
}

p.calendar {
	background-color: #ffdead;
	background-image: url(maroon.png);
	color: black;
	text-align: right;
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	margin-left: 40%;
	margin-bottom: 0.5em;
	font-weight: bold;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-image: url(maroon.png);
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	margin-top: 1em;
	margin-bottom: 0.1em;
	padding: 3px;
}

span.date {
	font-size: large;
}

span.title {
	background-color: transparent;
	color: black;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

p {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3.subtitle {
	border-style: solid;
	border-color: #D2691E;
	border-width: 0px 0px 1px 0px;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: #8B4513;
	color: white;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: white;
	color: #8B4513;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

p.commenttitle {
	border-style: solid;
	border-color: #8B4513;
	border-width: 0px 0px 1px 0px;
}

span.commentator {
	border-style: solid;
	border-color: #8B4513;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

p.referertitle {
	border-style: solid;
	border-color: #8B4513;
	border-width: 0px 0px 1px 0px;
}

p.referer {
	background-color: white;
	color: #8B4513;
	text-align: right;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
}

div.refererlist {
	background-color: white;
	color: #8B4513;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	background-image: url(maroon.png);
}

hr.sep {
	display: none;
}

p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: transparent;
	background-image: url(maroon.png);
	background-repeat: repeat-x;
	color: black;
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input.field {
	background-color: white;
	color: black;
}

textarea {
	background-color: white;
	color: black;
	margin-left: 1em;
}

dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

