@charset "euc-jp";
/*
Title: マルーン
Revision: $Revision: 1.8 $
Author: しんちゃん
Access: stakei@nga.jp
License: GPL
Comment: 秋の枯れ葉のテーマ

	created by Shinchan <http://nga.jp/>
	modified by TADA Tadashi <sho@spc.gr.jp>
	validated by W3C.
 */

/* ChangeLog
2002-10-18 NT <nt@24i.net>
        * convert for 1.5 series.

2002-04-03 nga<stakei@nga.jp>
	* add spec.
*/
a:link, a:visited {
	background-color: transparent;
	color: #A0522D;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #8B4513;
	background-color: #F0E68C;
	border-style: none;
	border-width: 1px;
}

body {
	background-color: #FDF5E6;
	color: black;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

span.adminmenu {
	background-image: url(maroon.png);
	border-style: outset;
	border-color: white;
	border-width: 1px;
	padding: 3px;
	font-weight: bold;
}

h1 {
	background-color: #ffdead;
	background-image: url(maroon.png);
	border-style: outset;
	border-color: #8B4513;
	border-width: 2px;
	color: black;
	padding: 4px;
	text-align: right;
}

div.calendar {
	background-color: #ffdead;
	background-image: url(maroon.png);
	color: black;
	text-align: right;
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	margin-left: 40%;
	margin-bottom: 0.5em;
	font-weight: bold;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-image: url(maroon.png);
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	margin-top: 1em;
	margin-bottom: 0.1em;
	padding: 3px;
}

h2 span.date {
	font-size: large;
}

h2 span.title {
	background-color: transparent;
	color: black;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

div.section {
	width: 100%;
}

div.section p {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3 {
	border-style: solid;
	border-color: #D2691E;
	border-width: 0px 0px 1px 0px;
	margin: 0em;
	font-weight: bold;
}

pre {
	background-color: #8B4513;
	color: white;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: white;
	color: #8B4513;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

div.comment div.caption {
	border-style: solid;
	border-color: #8B4513;
	border-width: 0px 0px 1px 0px;
	margin: 1ex 0px 0px 1em;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #8B4513;
	border-width: 0px 0px 1px 0px;
	margin: 1ex 0px 0px 1em;
}

div.referer {
	background-color: white;
	color: #8B4513;
	text-align: right;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
}

div.refererlist {
	background-color: white;
	color: #8B4513;
	font-size: small;
	border-style: solid;
	border-color: #8B4513;
	border-width: 1px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	background-image: url(maroon.png);
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: transparent;
	background-image: url(maroon.png);
	background-repeat: repeat-x;
	color: black;
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input.field {
	background-color: white;
	color: black;
}

textarea {
	background-color: white;
	color: black;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #8B4513;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #8B4513;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        color: black;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        color: black;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day {
	background-color: transparent;
	background-image: url(maroon.png);
	background-repeat: repeat-x;
	color: black;
	border-style: outset;
	border-color: #8B4513;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.update.day div.form {
	border: none;
	background-image: url(none);
	margin: 0px;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
        color: black;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
