@charset "euc-jp";
/*
Title: Starlight
Revision: $Revision: 1.8 $
Author: Nana
Access: http://moo.boo.jp

	Copyright by (C) Nana http://moo.boo.jp
	validated by W3C
 */
/* ChangeLog
2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/


a:link, a:visited {
	color: #CCCCFF;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
        font-weight: bold;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #ffa500;
}

body {
	background-color: #000;
	color: #fff;
	margin-left: 0px;
	margin-right: 0px;
        margin-top: 2px;
        background-image: url(starlight_back.png);
	background-repeat: repeat-x;
        background-position: left top;
        background-attachment: fixed;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

div.adminmenu {
	text-align: right;
	
}

span.adminmenu {
	margin: 2px;
        text-align: right;
}

h2 span.date {
	color: #00FFFF;
}

h1 {
        text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.day {
        background-color: transparent;
	border-width: 1px;
        margin-top: 15px;
        margin-left: 20%;
        margin-right: 2px;
        border-style: none;
	border-color: #9999FF;
	border-width: 1px;
}

h2 {
	background-image: url(starlight_h2.png);
	background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-top: 10px;
        font-size: 16px;
        float: right;
}

h2 span.date {
	
        color: #CCCCFF;
    
}

h2 span.title {
	color: #fff;
	margin-right: 1em;
}

div.body {
        background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 1em;
        margin-top: 3em;
}

div.section p {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3 {
	margin: 0em;
	font-weight: bold;
        color: #CCCCFF;
        border-style: none;
	border-color: #9999FF;
	border-width: 0px 0px 1px 0px;
    
}

h3 {
	color: #dc143c;
	text-decoration: none;
}

h3 {
	color: #CCCCFF;
	text-decoration: none;
}
pre {   border-style: inset;
	border-color: #999;
	border-width: 1px;
        background-color: transparent;
	color: #999;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: transparent;
	color: #fff;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 1em;
	
}

div.comment div.caption {
	border-style: dotted;
	border-color: #CCCCFF;
	border-width: 0px 0px 1px 0px;
 
}


div.refererlist div.caption {
}

div.referer {
	background-color: transparent;
	text-align: right;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist {
	background-color: transparent;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: dotted;
	border-color: #fff;
	border-width: 1px;
}

hr.sep {
	display: none;
}

div.footer {
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 90%;
}

input.field {
	width: 9em;
}

textarea {
        color: #000;
	background-color: #fff;
	margin-left: 1em;
}

d {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

div.calendar {
    font-size: 100%;
    text-align: right;
    margin-left: 0px;
}
table.calendar {
	text-align: center;
	background-color: #333;
}

td.calendar-current-month {
	font-size: smaller;
	text-align: center;
}

td.calendar-next-month {
	font-size: smaller;
	text-align: right;
}

td.calendar-prev-month {
	font-size: smaller;
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	font-size: smaller;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	font-size: smaller;
	text-align: center;
}

td.calendar-weekday {
	background-color: #ccc;
	font-size: smaller;
	text-align: center;
}

td.calendar-day {
	font-size: smaller;
	text-align: right;
} 
  

/*
ツッコミ省略版本文
*/
div.commentshort {
        margin-left: 0.5em;
}

span.commentator {
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
	border-style: dotted;
        border-color: #CCCCFF;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
	display: inline;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em;
}

div.form div.caption {
        border-style: solid;
        border-color: #CCCCFF;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: #fff;
        color: #000;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
}

/*
更新フォーム
*/
div.day.update {
        margin: 0em;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: #fff;
        color: #000;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
