/*
	starlight.css: Starlight Style Sheet of tDiary
	Copyright by (C) Nana http://mikan.sakura.ne.jp/~mpc
	validated by W3C
 */
/* ChangeLog
2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/


a:link, a:visited {
	color: #CCCCFF;
	text-decoration: none;
	border-style: none;
	border-width: 1px;
        font-weight: bold;
}

a:active {
	text-decoration: none;
	border-width: 1px;
}

a:hover, a:focus {
	color: #ffa500;
}

body {
	background-color: #000;
	color: #fff;
	margin-left: 0px;
	margin-right: 0px;
        margin-top: 2px;
        background-image: url(starlight_back.png);
	background-repeat: repeat-x;
        background-position: left top;
        background-attachment: fixed;
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

p.adminmenu {
	text-align: right;
	
}

span.adminmenu {
	margin: 2px;
        text-align: right;
}

span.date a {
	color: #00FFFF;
}

h1 {
        text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.day {
        background-color: transparent;
	border-width: 1px;
        margin-top: 15px;
        margin-left: 20%;
        margin-right: 2px;
        border-style: none;
	border-color: #9999FF;
	border-width: 1px;
}

h2 {
	background-image: url(starlight_h2.png);
	background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-top: 10px;
        font-size: 16px;
        float: right;
}

span.date {
	
        color: #CCCCFF;
    
}

span.title {
	color: #fff;
	margin-right: 1em;
}

div.body {
        background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 1em;
        margin-top: 3em;
}

p {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3.subtitle {
	margin: 0em;
	font-weight: bold;
        color: #CCCCFF;
        border-style: none;
	border-color: #9999FF;
	border-width: 0px 0px 1px 0px;
    
}

h3.subtitle a:link, h3.subtitle a:visited {
	color: #dc143c;
	text-decoration: none;
}

h3.subtitle a:hover, h3.subtitle a:focus {
	color: #CCCCFF;
	text-decoration: none;
}
pre {   border-style: inset;
	border-color: #999;
	border-width: 1px;
        background-color: transparent;
	color: #999;
	margin-left: 1em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

div.comment {
	background-color: transparent;
	color: #fff;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 1em;
	
}

p.commenttitle {
	border-style: dotted;
	border-color: #CCCCFF;
	border-width: 0px 0px 1px 0px;
 
}

span.commentator {
	border-style: dotted;
	border-color: #CCCCFF;
	border-width: 0px 0px 1px 0px;
        padding: 3px;
}

p.referertitle {
}

p.referer {
	background-color: transparent;
	text-align: right;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist {
	background-color: transparent;
	font-size: small;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

ul.referer {
	margin-top: 0em;
}

hr {
	border-style: dotted;
	border-color: #fff;
	border-width: 1px;
}

hr.sep {
	display: none;
}

p.footer {
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 90%;
}

input.field {
	width: 9em;
}

textarea {
        color: #000;
	background-color: #fff;
	margin-left: 1em;
}

d {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

p.calendar {
    font-size: 1em;
    text-align: right;
    margin-left: 0px;
}
table.calendar {
	text-align: center;
	background-color: #333;
}

td.calendar-current-month {
	font-size: smaller;
	text-align: center;
}

td.calendar-next-month {
	font-size: smaller;
	text-align: right;
}

td.calendar-prev-month {
	font-size: smaller;
	text-align: left;
}

td.calendar-sunday {
	color: red;
	background-color: #fbb;
	font-size: smaller;
	text-align: center;
}

td.calendar-saturday {
	color: blue;
	background-color: #bbf;
	font-size: smaller;
	text-align: center;
}

td.calendar-weekday {
	background-color: #ccc;
	font-size: smaller;
	text-align: center;
}

td.calendar-day {
	font-size: smaller;
	text-align: right;
} 
  
