@charset "euc-jp";
/*
Title: Bill
Revision: $Revision: 1.12 $
Author: Nana
Access: <clorets@estyle.ne.jp>
License: GPL
Comment: support major plugin

	Copyright 2001 (C) by Nana <clorets@estyle.ne.jp>
	Modified by TADA Tadashi
	validated by W3C.
 */

body {
	background-color: #000;
	color: #F5F5F5;
	background-image: url(bill.png);
	background-repeat: repeat-x;
        background-position: left bottom;
        background-attachment: fixed;
}

a:link, a:visited {
	color: #FFC0CB;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
	background-color: transparent;
	text-decoration: underline;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: small;
	background-color: black;
	color: white;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	padding: 2px;
	font-size: small;
   
}

h1 {
	text-align: left;
	font-size: 150%;
}

div.calendar {
	border-style: none;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
   
}

div.day {
	background-color: transparent;
	color: #F5F5F5;
	margin: 3em auto 3em auto;
	text-align: left;
	clear: both;
	width: 80%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	padding: 0px 10px 0px 10px;
}

h2 {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: 0px;
        font-weight: bold;
}

h2 span.date {
	text-align: center;
}

h2 span.title {
	font-size: small;
}

div.body {
	margin: 0px auto 0px auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: left;
	color: #F5F5F5;
	background-color: transparent;
}

div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

p.sentence {
	margin-left: 12px;
	margin-right: 12px;
	line-height: 1.2;
	border-style: none;
	border-color: black;
	border-width: 1px 0px 0px 0px;
}

h3 {
	font-size: 100%;
	margin: 0em;
	font-weight: bold;
	color: #00ADA5;
	background-color: transparent;
}

span.anchor {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 12px;
	margin-right: 12px;
	font-weight: bold;
	font-size: small;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}
pre {
	background-image: url(bill_pre.png);
	background-color: transparent;
	color: #483D8B;
	margin-left: 2em;
	margin-right: 3em;
	padding: 8px;
        line-height: 1.3;
}

div.comment {
	clear: both;
	text-align: left;
	padding-bottom: 1px;
	margin: auto 5px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0px 0px 0px;
        color: #ccc;
	background-color: transparent;
	font-size: 90%;
}

div.comment div.caption {
        background-color: transparent;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	font-size: 90%;
}

div.refererlist div.caption {
        background-color: transparent;
	color: #ccc;
	text-align: left;
	border-style: solid;
	border-color: black;
	border-width: 1px;
    	padding: 2px;
	font-size: 90%;
}

div.referer {
	text-align: right;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
    	color: #ccc;
	font-size: 90%;
}

div.refererlist {
	color: #ccc;
	background-color: transparent;
	text-align: right;
	padding-bottom: 1px;
	margin-top: 1em;
	border-style: solid;
	border-color: black;
	border-width: 3px 0px 0px 0px;
	font-size: 90%;
}

div.refererlist ul {
	margin-top: 0em;
	text-align: left;
	font-size: 90%;
}

hr {
	border-style: dotted;
	border-width: 1px;
	border-color: black;
}

hr.sep {
	display: none;
}


div.footer {
	text-align: right;
	margin-top: 0px;
	clear: both;
}

div.form {
    
	background-color: transparent;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
	border-width: 1px;
	color:#fff;
	border-color: #ccc;
	border-style: solid;
}

input.field {
	background-color: transparent;
	color:#fff;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}


textarea {
    background-color: transparent;
	color:#fff;
	
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: transparent;
        color: #fff;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: transparent;
        color: #fff;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day div.form {
	border: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: transparent;
        color: #fff;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 110%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #008;
	float: left;
	margin: 0.5em;
}

img.right {
	border-width: 1px;
	border-color: #008;
	float: right;
	margin: 0.5em;
}

div.section, div.comment {
	clear: both;
}

/*
サイドバー関連
*/
div.main {
	margin-left: 21%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	padding: 2px 2px 100% 2px;
	padding-top: 0.5em;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 1px 0px;
	margin: 2px 4px 2px 4px;
}
/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #3d3d8f;
	background-color: transparent;
}

.calendar-weekday {
}
.calendar-todo {
	border-style: dashed;
	border-color: #fff;
	border-width: 1px;
}
