@charset "euc-jp";
/*
Title: bubble
Revision: $Revision: 1.12 $
Author: Nana
Access: <clorets@estyle.ne.jp>
License: GPL
Comment: 泡がいっぱい♪

      Copyright 2001 (C) by Nana <clorets@estyle.ne.jp>
      validated by W3C
*/


a:link, a:visited {
	color: #b0e0e6;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: #adff2f;
}

a:hover, a:focus {
	color: #FFFFD5;
	text-decoration:underline;
}

body {
	background-image: url(bubble_back.png);
	background-repeat: repeat-x;
	background-position: right top;
	background-attachment: fixed;
	background-color: #000;
	color: #f0f8ff;
	margin-left: 3%;
	margin-right: 5%;
	/*font-size: 13px;*/
}

p.message {
	text-align: center;
	font-size: large;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 8px;
	margin: 0px;
}

div.adminmenu {
	text-align: left;
}

span.adminmenu {
	margin: 4px;
}

h1 {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.calendar {
	margin-top: 0px;
	background-color: transparent;
	margin-left: 0px;
	font-size: 90%;
	color: #fff;
	text-align: left;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 8px;
}

div.day {
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 3em;
}

h2 {
	text-align: left;
	padding-bottom: 1em;
	font-size: 120%;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

h2 span.date {
	color: #A4FFA4;
}

h2 span.title {
	color: #A4FFA4;
	margin-right: 1em;
}

div.body {
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 2em;
}

div.section p {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3em;
}

h3 {
	margin: 0em;
	font-weight: bold;
	color: #ffc0cb;
}

pre {
	background-image: url(bubble_pre.png);
	color: #6363CE;
	margin-left: 2em;
	margin-right: 3em;
	padding: 8px;
	line-height: 1.3em;
}

div.comment {
	background-color: transparent;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

div.comment div.caption {
	border-style: solid;
	border-color: #9BF9FF;
	border-width: 0px 0px 1px 0px;
	font-size: 90%;
	padding: 5px;
}


div.day span.sanchor {
	background-image: url(bubble_anchor_a.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 18px 18px 0px 0px;
	color: #000;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(bubble_anchor_b.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 18px 18px 0px 0px;
	color: #000;
	background-color: transparent;
	font-size: 1px;
}

div.refererlist div.caption {
}

div.referer {
	background-color: transparent;
	text-align: right;
	font-size: 90%;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist {
	background-color: transparent;
	font-size: 90%;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 1em;
}

div.refererlist ul {
	margin-top: 0em;
	line-height: 1.3em;
}

hr {
}

hr.sep {
	display: none;
}

div.footer {
	font-size: 90%;
	text-align: right;
}

div.form {
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 3em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.form form {
	width: 90%;
}

input.field {
}

textarea {
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #9BF9FF;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #9BF9FF;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 90%;
	line-height: 1.1em;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	padding: 0em;
	margin-left: 6em;
	margin-right: 4em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

div.section, div.comment {
	clear: both;
}

/*
サイドバー関連
*/
/*
div.main {
	margin-left: 20%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	padding: 2px 2px 100% 2px;
	padding-top: 0.5em;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	margin: 2px 4px 2px 4px;
}
/*
引用,bqプラグイン引用元表示
*/
p.source {
	 margin-top: 0em;
	 margin-right: 1.5em;
	 text-align: right;
	 font-size:90%;
}
					       
div.body blockquote {
	 border-style: inset;
	 border-width: 3px 0px 3px 0px;
         border-color: #fff;
	 padding: 8px;
	 background-color: #B0E0E6;
	 color: #000;
	 font-style: italic;	
}


/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
	text-align: center;
}

.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #0080FF;
	background-color: transparent;
}

.calendar-weekday {
	color: #555555;
	background-color: transparent;
}
.calendar-todo {
	border-style: dashed;
	border-color: #fff;
	border-width: 1px;
}
