/*
	tag.css: Tag Style Sheet of tDiary $Revision: 1.3 $
 */

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #cfc;
	color: black;
	border-style: solid;
	border-color: #fff #000 #fff #fff;
	border-width: 1px 0px 1px 5px;
	margin: 3em 6em 1em 6em;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
p.adminmenu {
	text-align: right;
	font-size: small;
	margin-top: 0em;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	background-color: #fff;
	position: relative;
	top: -1.5em;
	border-style: solid;
	border-color: #f00 #f88 #000 #f88;
	border-width: 8px 1px 0px 1px;
	padding: 0.1em;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: center;
}

/*
カレンダーの設定
*/
p.calendar {
	background-color: #ff8;
	border-style: solid;
	border-color: #88f #00f #88f #88f;
	border-width: 1px 6px 1px 0px;
	padding: 2px 20px 2px 2px;
	margin-bottom: 0.5em;
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	background-color: transparent;
	border-style: none;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

/*
タイトル行全体の設定
*/
h2 {
	background-color: #fff;
	margin: 0em 0em 0.5em 0em;
	border-style: solid;
	border-color: #88f #00f #88f #88f;
	border-width: 1px 6px 1px 0px;
}

/*
日付の設定
*/
span.date {
	font-size: large;
	margin-left: 0.5em;
}

/*
タイトルの設定
*/
span.title {
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	background-color: transparent;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
}

/*
サブタイトルの設定
*/
h3.subtitle {
	font-size: 1em;
	margin: 0em;
	font-weight: bold;
}

/*
日記の本文(段落)の設定
*/
p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	font-size: small;
	background-color: #fff;
	padding: 0px;
	padding-bottom: 1px;
	padding-top: 0px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
	border-style: solid;
	border-color: #55f;
	border-width: 1px 1px 1px 1px;
}

/*
ツッコミ欄タイトル行の設定
*/
p.commenttitle {
	background-color: #55f;
	margin: 0px;
}

/*
ツッコミした人の名前の設定
*/
span.commentator {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	padding: 3px;
}

/*
リンク元リスト(短い方)の設定
*/
p.referer {
	text-align: right;
	font-size: small;
	background-color: #fff;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
	border-style: solid;
	border-color: #55f;
	border-width: 0.5em 1px 1px 1px;
}

/*
リンク元リスト(全体一覧)の設定
*/
div.refererlist {
	font-size: small;
	background-color: #fff;
	padding: 0px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
	border-style: solid;
	border-color: #55f;
	border-width: 1px 1px 1px 1px;
}

/*
リンク元リストタイトルの設定
*/
p.referertitle {
	background-color: #55f;
	margin-top: 0px;
}

/*
リンク元リスト一覧の設定
*/
ul.referer {
	margin-top: 0em;
}

/*
罫線の設定
*/
hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
p.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	background-color: #fff;
	border-style: solid;
	border-color: #55f;
	border-width: 8px 1px 1px 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-left: 24px;
	margin-right: 12px;
	margin-bottom: 0.5em;
}

/*
入力フィールドの設定
*/
input.field {
	background-color: white;
	border-style: solid;
	border-color: #55f;
	border-width: 1px 1px 1px 1px;
}

/*
複数行入力フィールドの設定
*/
textarea {
	background-color: white;
	margin-left: 1em;
	border-style: solid;
	border-color: #55f;
	border-width: 8px 1px 1px 1px;
	width: 95%;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	background-color: black;
	color: #ff8000;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

/*
項目リストの設定
*/
dl {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

