@charset "euc-jp";
/*
Title: なんでやねん
Revision: $Revision: 1.6 $
Author: Junichiro KITA
Access: kita@kitaj.no-ip.com
License: GPL
Comment: 「今日のなんでやねん」のテーマ
*/
/* ChanaegLog
2005-07-31 Junichiro Kita <kita@kitaj.no-ip.com>
	* change license from GFDL to GPL.

2002-04-05 TADA Tadashi <sho@spc.gr.jp>
	* add spec.
	* font-size: smaller -> 0.9em.
*/

body {
	background-color: #cff;
	color: black;
}

a {
	text-decoration: none;
}

p.antenna {
	text-align: right;
	font-size: 90%;
}

p.search {
	text-align: right;
	font-size: 90%;
}

div.adminmenu {
	text-align: right;
	font-size: small;
}

p.message {
	text-align: center;
	font-size: large;
	background-color: red;
	color: white;
	padding: 8px;
}

span.adminmenu {
	background-color: #bef;
	border-style: solid;
	border-color: #777 darkgray darkgray #777;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-color: black #000 #09F #09F;
	background-color: #bef;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: thick;
	border-left-width: 40px;
}

div.calendar {
	background-color: #bef;
	border-style: solid;
	border-color: #777 darkgray darkgray #777;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 0.5em;
}

div.day {
	background-color: #cff;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	background-color: #BBEEFF;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-color: black black #00CCFF #00CCFF;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: medium;
	border-left-width: 20px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

h2 span.date {
	font-size: large;
	margin-left: 0.5em;
}

h2 span.title {
}

div.body {
	background-color: #cff;
	padding: 2px;
	padding-bottom: 1px;
	margin-left: 24px;
	margin-right: 12px;
}

div.section p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	line-height: 1.3;
}

h3 {
	border-color: black black #00CCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: thin;
	border-left-width: 0px;
	font-size: 100%;
	margin: 0em;
	font-weight: bold;
}

pre {
	padding-top : 10px;
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom : 10px;
	margin-left : 20px;
	border-width : 2px 2px 2px 2px;
	border: 4px ridge;
	height: auto;
	width: auto;
	color: white;
	background-color: black;
	line-height: normal;
}

div.comment {
	font-size: small;
	background-color: #ddd;
	padding: 2px;
	padding-bottom: 1px;
	border-style: solid;
	border-color: #777 darkgray darkgray #777;
	border-width: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

div.comment div.caption {
	font-weight: bold;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	margin: 1ex 0px 0px 0px;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	margin: 1ex 0px 0px 0px;
}

div.referer {
	text-align: right;
	font-size: small;
	background-color: #ddd;
	padding: 2px;
	padding-bottom: 1px;
	border-style: solid;
	border-color: #777 darkgray darkgray #777;
	border-width: 1px;
	margin-left: 24px;
	margin-right: 12px;
}

div.refererlist {
	font-size: small;
	background-color: #ddd;
	padding: 2px;
	padding-bottom: 1px;
	border-style: solid;
	border-color: #777 darkgray darkgray #777;
	border-width: 1px;
	margin-top: 0.5em;
	margin-left: 24px;
	margin-right: 12px;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
	margin-top: 0px;
}

div.form {
	background-color: #bff;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
}

input.field {
	background-color: black;
	color: white;
}

textarea {
	background-color: black;
	color: white;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p.strong {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

div.body blockquote {
	font-style: italic
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        border-style: solid;
        border-color: #aaa;
        border-width: 0px 0px 1px 0px;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: black;
        color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: black;
        color: white;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
div.update.day {
	background-color: #bff;
	border-style: solid;
	border-color: darkgray #eee #eee darkgray;
	border-width: 1px;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.5em;
}

div.update.day div.form {
	border: none;
}

form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input.field, form.update textarea, form.commentstat input.field {
        background-color: black;
        color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
