@charset "euc-jp";
/*
Title: blackbox
Revision: $Revision: 1.14 $
Author: zoe
Access: http://www.kasumi.sakura.ne.jp/~zoe/
License: GPL
Comment: ブラックボックスなテーマ

	blackbox.css: BlackBox Style Sheet 
	Copyright by (C) zoe http://www.kasumi.sakura.ne.jp/~zoe/
	validated by W3C
 */
/* ChangeLog
2002-10-18 NT <nt@24i.net>
        * remove some "color:".

2002-09-13 NT <nt@24i.net>
        * convert for 1.5 series.

2002-03-27 TADA Tadashi <sho@spc.gr.jp>
	* fix textarea biyo--n problem.
*/

a:link {
	text-decoration: none;
	color: #4af;
}
a:visited {
	text-decoration: none;
	color: #f6f;
}

a:active {
	text-decoration: none;
}

a:hover, a:focus {
	color: #f6f;
}

body {
	background-color: #8ce;
	background-image: url(blackbox_back.png);
	background-position: center;
	color: white;
	margin: 1em;
}

strong {
        font-weight: bold;
	font-size: 200%;
}
font.keyword {
        font-weight: bold;
	font-size: 200%;
	color: red;
}

em {
        font-weight: bold;
}

div.adminmenu {
	text-align: right;
	font-size: small;
/*	float: right;*/
}

p.antenna {
	text-align: right;
	font-size: small;
	float: right;
}

p.message {
	text-align: center;
	font-size: medium;
	background-color: white;
	width: 66%;
	color: #f00;
	padding: 8px;
}

span.adminmenu {
	background-color: transparent;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee;
	border-width: 1px;
	padding: 3px;
}

h1 {
	text-align: center;
}
img.logo {
	border-style: solid;
	border-color: #0ff;
	border-width: 2px;
/*	float: left;*/
}	 
div.calendar {
	background-color: transparent;
	border-style: none;
	padding-top: 0.5em;
/*	float: right;*/
}

div.rank {
	background-color: transparent;
	border-style: none;
	border-color: black;
	border-width: 1px;
	font-size: 60%;
	text-align: left;
	margin: 0em;
}
p.sentence {
	background-color: transparent;
	border-style: none;
	margin: 0em;
	font-size: 60%;
}

div.day {
	background-color: white;
	color: black;
	text-align: left;
	padding: 0em;
	margin: 2em;
	margin-top: 0.5em;
	border-style: solid;
	border-color: #4bf;
	border-width: 1px 1px 4px 1px;
}

div.day h2 {
	background-image: url(blackbox_backh2.png);
	background-color: #000;
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0em;
	padding: 0em;
	text-align: center;
	color: white;
	font-size: medium;
	border-style: solid;
	border-color: #4bf;
	border-width: 0px 0px 1px 0px;
}

h2 span.date {
	margin-left: 0.5em;
}

h2 span.title {
}

div.body {
	background-color: transparent;
	text-align: left;
	margin: 0em;
	padding: 1em;
	padding-top: 0em;
	padding-left: 16px;
}

div.section {
	background-color: transparent;
	text-align: left;
	padding: 0em;
	margin: 0em;
	width: 100%;
}

div.body p {
	padding-left: 16px;
	line-height: 1.3em;
	margin-top:0.7em;
	margin-left :1em;
	margin-bottom:0.5em;
}

h3 {
	padding: 0em;
	padding-left: 0em;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

div.day span.sanchor {
	background-image: url(blackbox_anchorback.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fdffcf;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(blackbox_smallanchorback.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #eceebe;
	background-color: transparent;
	font-size: 1px;
}

pre {
     	background-image: url(blackbox_backpre.png);
	background-position: left top;
	background-repeat: repeat-y;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px 8px 8px 20px;
	border-style: solid;
	border-color: #00f;
	border-width: 1px
}

div.comment {
	background-color: transparent;
	text-align: left;
	margin: 0em;
	padding: 1em;
	padding-left: 3em;
}

div.comment div.caption {
	text-align: left;
	margin: 0em;
}


div.refererlist div.caption {
	border-style: solid;
	border-color: #04c;
	border-width: 0px 0px 1px 0px;
}

div.referer {
	background-color: transparent;
	text-align: right;
	font-size: small;
	padding: 0em ! important;
	margin: 0em;
	padding-right: 16px;
	height: 16px;
}

div.refererlist {
	background-color: transparent;
	font-size: small;
	text-align: left;
	margin: 0em;
	padding: 0em;
	padding-left: 32px;
	clear: both;
}

div.refererlist ul {
	margin-top: 0em;
}

hr {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #ddd;
}

hr.sep {
	display: none;
}

div.footer {
	font-size: small;
	text-align: right;
}

div.form {
	background-color: transparent;
	padding: 2em;
	margin: 0em;
}

div.form form {
	width: 90%;
}

input.field {
	background-color: white;
}

input {
	clear: left;
}

textarea {
	background-color: white;
	margin-left: 1em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

form.search {
	clear: right;
	text-align: right;
/*	float: right;*/
	margin: 0em;
}


/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 90%;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 90%;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 90%;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 90%;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        background-color: white;
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        background-color: white;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
        background-color: white;
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 35em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}

div.body {
   clear: both;
}
