/*
	Green-Border.Css: Green-Border style sheet of tdiary
	Copyright by (C) Nana <http://mikan.sakura.ne.jp/~mpc/>
	validated by W3C.
        Title: Green-border
	Revision: $Revision: 1.5 $
	Author: Nana
	Comment: support calendar2
*/

/*
        Change-Log 2002-04-15 Nana
        div.form margin-left:10%--> 0
            
                   2002-04-17 Nana
        support calendar2
 */

div.rank {
        margin-left: 25%;
        margin-bottom: 2px;
        margin-top: 2px;
        font-size: 0.9em;
        text-align: left;
}

body {
	background-color: #fff;
	background-image: url(green-border_bg.png);
	background-repeat: repeat-y;
	color: #000;
	margin-right: 5%;
        font-size: 1em;
}

a:link {
        color: #00CA65;
        text-decoration: none;
}
a:visited {
        color: #49BA18;
        text-decoration: none;
}
a:hover,a:focus {
        color: #C2FE20;
        text-decoration: underline;
        background-color: #ffffff;
}

p.adminmenu {
	font-size: 0.9em;
	margin-top: 0;
	margin-right: 2%;
	text-align: right
}

span.adminmenu {
        background-color: #ffffff;
	border-style: solid;
        border-color: #C2FE20;
	border-width: 0px 1px 1px 0px;
        padding: 3px;
}

h1 {     
        color: #49BA18;
        background-color: transparent;
	border-color: #49ba18; 
        border-width: 0px 0px 5px 0px;
        border-style: solid;
	margin-left: 25%;
	padding-bottom: 3px;
	padding-top: 3%;
	padding-right: 10%;
	text-align: left;
        font-size: 1.3em;
}

p.calendar {
        background-color: transparent;
	border-color: #B0FFB0;
	border-style: none;
	border-width: 1px 0px 1px 0px;   
	font-size: 0.9em;
	margin: 0% 0% 3% 25%;
	padding: 3px;
	text-align: left;
}

div.day {
	margin-bottom: 3em;
	margin-left: 25%;
}

h2 {
        color: #ffffff;
	font-size: 1em;
	background-color: #B0FFB0;
        border-color: #B0FFB0;
	border-style: none;
	border-width: 1px 0px 1px 0px;
	margin-bottom: 0px;
	margin-top: 1em;
	padding: 3px;
}

div.body {
	margin-right: 5%;
}

h3.subtitle {
   	padding-left: 2px;
	font-weight: bold;
	font-size: 1em;
	font-weight: bold;
	margin: 1.5em 0px 0px
}

div.day p {
	line-height: 1.4;
	margin-bottom: 0.7em;
	margin-top: 0.5em;
        margin-left: 2em;
}

div.comment {
	font-size: 0.9em;
	padding-bottom: 1px;
	padding-left: 2em;
	padding-right: 2px;
	padding-top: 2px;       
}

div.day span.panchor {
	background-image: url(green-border_panchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 20px 20px 0px 0px;
	color: #B0FFB0;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(green-border_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 14px 20px 0px 0px;
	color: #B0FFB0;
	background-color: transparent;
	font-size: 1px;
}

p.commenttitle {
	border-color: #B0FFB0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
        padding-left: 2em;
}

span.commentator {
	border-color: #00CA65;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #330000;
        background-color: transparent;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
}

div.comment p {
	margin-left: 0em! important;
	text-indent: 0em
}

p.referer {
	font-size: 0.9em;
	border-color: #B0FFB0;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	text-align: right
}

div.refererlist {
	border-color: #B0FFB0;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
        font-size: 0.9em;
	padding-bottom: 1px; 
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px
}

p.referertitle {
	border-color: #B0FFB0;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
}

hr {    
        border-style: solid;
	border-color: #00CA65;
	border-width: 1px;
}

hr.sep {
	display: none
}

p.footer {
        font-size: 0.9em;
	text-align: right;
}

div.form {
        margin-left: 0;
        background-color: transparent;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em
}

input.field {
        color: #000;
	background-color: #ffffff;
	border-style: solid;
	border-color: #00CA65;
	border-width: 1px;
}

textarea {
        color: #000;
	background-color: #ffffff;
	border-style: solid;
	border-color: #00CA65;
	border-width: 1px;
}


p.message {
	background-color: red;
	color: #ffffff;
	font-size: large;
	padding: 8px;
	text-align: center
}

pre {
	background-color: #FFF8DC;
	color: #000;
        font-size: 1em;
	margin-left: 3em;
	padding: 8px;
        border-style: solid;
        border-color: #B0FFB0;
        border-width: 1px 5px 1px 5px;
}

dl {
	margin-left: 2em
}

dt {
	font-weight: bold;
	margin-bottom: 0.2em
}
dd {
	margin-bottom: 0.5em;
	margin-left: 1em
}

li {
	list-style-type: circle;
}

ul,ol{
        margin-top: 0em;
        margin-left: 2em
}

blockquote {
        color: #008080;
	background-color: #fff;
	border-color: #38C868;
	border-style: solid;
	border-width: 3px 1px 3px 1px;
	padding: 0.5em;
        margin-left: 3em;
}

.hide {
	background-color: #000;
}

span.memo {
        color:#000;
        font-weight: bold;
        background-color: #7fffd4;
} 
        
a img {
        border-width: 0px;	
}

/*
脚注番号
*/
span.footnote ,span.footnote a{
        font-size: xx-small;
        color:#DC143C;
}
/*
脚注本文全体
*/
div.footnote {
        border-color:#ffffff;
        border-style:dashed;
        border-width: 2px 0px 0px 0px;
        padding: 3px;
        font-size:x-small;
        text-align: left;
        margin-left: 24px;
        margin-right: 16px;
}

div.footnote a{
        color:#DC143C;
}

p.strong {
        font-size: 200%;
}

input, select {
        color: #000;
	background-color: transparent;
	border-style: solid;
	border-color: #71E63E;
	border-width: 1px;
        padding: 2px;
}

/* calendar2 */
table.calendar {
	       font-size: 0.9em;
	       line-height: 100%;
	       border-width: 2px;
               border-color: #7FFF00;
               border-style: solid;
               margin-left :25%;
               background-color: #F5F5DC;
               color: #000;
               padding: 1px;
}

table.calendar td {
	       margin: 0px;
	       text-align: right;
	       padding: 0px;
	       margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar
td.calendar-current-month, table.calendar td.calendar-next-month {
			   text-align: center;
}
