@charset "euc-jp";
/*
Title: citrus
Revision: $Revision: 1.4 $
Author: Nana
Access: <clorets@estyle.ne.jp>
License: GPL
Comment: さわやか柑橘系

Copyright 2003 (C) by Nana <clorets@estyle.ne.jp>
validated by W3C.
*/

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: #fff;
	color: #555;
	margin: 0px;
	background-image: url(citrus_back.png);
	background-repeat: repeat-y;
}

/*
リンク文字列に関する設定
*/
a:link{
	text-decoration: none;
	color: #ff8000;
	background-color: transparent;
}
a:visited{
	color: #ffbf00;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #FFC01A;
}

/*
ページトップにある操作ボタンの並ぶ行の設定
*/
div.adminmenu {
	text-align: right;
	font-size: 90%;
	padding: 0.5em;
	margin: 0px;
}

/*
ページトップにある操作ボタン自体の設定
*/
span.adminmenu {
	padding: 2px;
}

/*
日記タイトルの設定
*/
h1 {
	font-size: 180%;
	text-align: left;
	color: #FFC01A;
	background-color: transparent;
	background-image: url(citrus_h1.png);
	background-repeat: no-repeat;
	margin-left: 50px;
	height: 78px;
	padding: 20px 5px 0px 20px;
}

/*
カレンダーの設定
*/
div.calendar {
	font-size: 90%;
	padding: 0.5em 0.5em 0.5em 50px;
	margin: 0px;
}

div.calendar div.year {
}

/*
1日の日記全体を囲む枠の設定
*/
div.day {
	/*margin: 0px;*/
	padding: 1em 0.5em 0.5em 1.5em;
}

/*
タイトル行全体の設定
*/
h2 {
	font-size: 130%;
	font-weight: bold;
	margin-left: 1.5em;
	padding: 5px 0.5em;
	background-image: url(citrus_h2.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}

/*
日付の設定
*/
h2 span.date {
	padding-left: 0.5em;
}

/*
タイトルの設定
*/
h2 span.title,h2 span.nyear {
	font-size: 80%;font-weight: normal;
}

/*
タイトルを除いた1日の日記本文全体の設定
*/
div.body {
	padding: 0.5em;
	margin: 1.5em;
}

/*
サブタイトルを含むセクションの設定
*/
div.section {
	padding-bottom: 0.5em;
}

/*
サブタイトルの設定
*/
h3 {
	font-size: 100%;
	margin: 0em;
	padding: 3px;
	font-weight: bold;
	border-bottom: 1px dashed #FFE6A4;
}

/*
イメージアンカーの設定
ただしDefaultテーマではイメージアンカーは使っていないのでコメントにしてある
指定のコツは以下の通り
  - span.sanchorはセクションアンカー、span.canchorはツッコミアンカー
  - background-imageにアンカー画像を指定
  - paddingのtop(最初)とright(2番目)に画像の縦横サイズを指定
  - colorに背景色と同じ色を指定(文字を見えなくするため)
*/
/*
div.day span.sanchor {
	background-image: url(citrus_sanchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 33px 33px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(default_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}
*/
/*
日記の本文(段落)の設定
*/
div.section p {
	margin: 0.5em 1em 0.5em 2em;
	line-height: 130%;
}

/*
ツッコミ/フォーム/リンク元のキャプション設定
*/
div.caption {
	font-size: 90%;
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px dashed #FFE6A4;
}

/*
ツッコミ欄全体の設定
*/
div.comment {
	padding: 8px;
	margin: 0px 1.5em;
	font-size: 90%;
}
/*
ツッコミ省略版本文
*/
div.commentshort {
	color: #555;
	background-color: transparent;
	padding-left: 1em;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
	line-height: 1.2em;
	color: #555;
	background-color: #fff;
	padding-left: 1em;
}

/*
ツッコミした人の情報
*/
div.commentator {
	line-height: 1em;
	border-bottom: 1px dashed #FFE6A4;
	padding-top: 5px;
}

/*
ツッコミ本文
*/
div.commentbody p {
	margin-top: 0px;
	margin-left: 2em;
	padding-top: 5px;
}

/*
フォーム全体を囲む枠の設定
*/
div.form {
	padding: 2px;
	margin: 1em 2em 0.5em 3em;
}

/*
フォームの設定
*/
div.form form {
	margin: 0em;
}

div.form form.comment {
	font-size: 90%;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	margin-left: 1em;
	margin-top: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
	
}
form.comment textarea {
	display: block;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin-left: 3em;
}

/*
リンク元リスト(Month/Latestモード)の設定
*/
div.referer {
	text-align: right;
	font-size: 90%;
	margin: 0px 1.5em 0px 0px;
	padding: 5px;
}

/*
リンク元リスト(Dayモード)の設定
*/
div.refererlist {
	text-align: left;
	padding: 5px;
	padding-bottom: 1px;
	margin: 0.5em 2em 1em 2em;
}

/*
リンク元リスト一覧の設定
*/
div.refererlist ul {
	font-size: 90%;
	margin: 0.5em 1em 0.5em 1em;
	line-height: 1.2em;
}

/*
罫線の設定
*/
hr {
	border-bottom: 1px dashed #ffe699;
}

/*
日々の日記のセパレータに使われる罫線の設定
*/
hr.sep {
	display: none;
}

/*
フッタの設定
*/
div.footer {
	font-size: 90%;
	padding: 5px;
	text-align: center;
}

/*
更新フォーム
*/
form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	margin-left: 1em;
}

form.update span.field {
	display: inline;
	margin-left: 1em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-bottom: 1em;
	width: 30em;
	height: 15em;
}

form.update span.checkbox.hidediary{
	margin-left: 1em;
}
	
/*
ツッコミ状態変更フォーム
*/
div.comment form {
	margin-top: 0em;
}

/*
エラーメッセージ表示の設定
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fefefe;
	padding: 8px;
}

/*
整形済みテキスト(preタグ)の設定
*/
pre {
	margin-left: 2em;
	margin-right: 1em;
	padding: 5px;
	border: 2px dashed #fff;
	color: #555;
	background-color: #ffeedd;
	font-size: 90%;
}

/*
引用(blockquoteタグ)の設定
*/
div.body blockquote {
	border-top: 5px solid #ffb366;
	border-bottom: 5px solid #ffb366;
	background-color: #ff9933;
	color: #fff;
	margin-left: 2em;
	padding: 8px;
}

div.body blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
箇条書きの設定
*/
div.body ul, div.body ol {
	margin-left: 2em;
	margin-right: 2em;
}

/*
項目リストの設定
*/
div.body dl {
	margin-left: 5em;
}

div.body dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.body dd {
	margin: 0em 3em 0.5em 1em;
}

/*
 いくつかのメジャーなプラグイン対応
 */

/* calendar2 */
table.calendar {
	font-size: 90%;
	border: solid 4px #FFC01A;
	margin-right: auto;
	margin-left: auto;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/*
サイドバー関連
*/
div.main {
	width: 80%;
	float: left;
}

div.sidebar {
	float: left;
	width: 18%;
	padding: 5px 5px 100% 5px;
}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	border-style: solid;
	border-color: #FFC01A;
	border-width: 0px 0px 1px 0px;
	margin: 2px 4px 2px 4px;
}
/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 80%;
}

div.footnote {
	font-size: 90%;
	background-color: #faf0d1;
	color: #555;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

div.section, div.comment {
	clear: both;
}

/*
引用ソースの表示
*/
p.source{
	margin-right: 1.5em;
        margin-top: 0px;
	text-align: right;
	font-size: 90%;
        font-style: italic;
}

/* calendar3 */
.calendar-popup {
        display: none;
        position: absolute;
	padding: 0 1ex 0 1ex;
}
.calendar-day 	{
}
.calendar-day a{
	font-weight: normal;
}

.calendar-sunday {
	color: #FF8080;
	background-color: transparent;
}

.calendar-saturday {
	color: #3d3d8f;
	background-color: transparent;
}

.calendar-weekday {
}
.calendar-todo {
	border-style: dashed;
	border-color: #9DC941;
	border-width: 1px;
}
.attention {
        color: red;
        background-color: transparent;
}
form.search{
	margin: 0px;
	padding: 0.5em 0.5em 0px 50px;
}

table.head{
	border: none;
	margin: 0px;
}
div.rank{
	font-size: 90%;
	padding: 5px 4em;
	margin: 0px;
}
p.strong{
	font-size:200%;
	text-align:center;
}

/* counter */
div.counter p{
	font-size: 13px;
}

div.day.conf div.body {
	padding: 8px;
	margin: 1em 2em;
}
